@import 'theme/theme.scss';

@include media-breakpoint-up(md) {
    .container-fluid {
        padding-right: 120px;
        padding-left: 120px;
    }
}

@include media-breakpoint-up(sm) {
    .container-fluid {
        padding-right: 60px;
        padding-left: 60px;
    }
}
