@import "../../node_modules/bootstrap/scss/functions.scss";
@import "../../node_modules/bootstrap/scss/variables.scss";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints.scss";
@import "theme/partials/variables.scss";
@import "theme/partials/vw-calculator.scss";

// Código Antigo
.btn-novo1{
    font-family: Economica;
    font-size: 18px;
    width: 120px;
    height: 30px;
    line-height: 0.8;
    padding: 0px;
    margin-left: 325px !important;
    background-color:#FFF ;
    border-color: $brand-orange !important;
    color: $brand-orange;
}

.resumo-geral{
    background:#9DCB7D;
    color:#FFF;
    font-size: 14px;
    font-family:Lato;
    font-weight: bold;
    height: 100px;
    margin-bottom: 20px;
}

.vsdesconto{
    width:25% ;
    float: left;
    position: absolute;
    margin-top: 25px;
}
.desconto-apl{
    width:33% ;
    float: left;
    position: absolute;
    margin-left: 180px;
    background: #FFF;
    color: #9DCB7D;
    margin-top: 15px;

}


.vapagar{
    width:30% ;
    margin-left: 400px;
    margin-top: 25px;
    position: absolute;
    font-size: 18px;

}

.valp{
    font-size: 24px;
}

.det-pedido{
    background: #67A4FF;
    color: #fff;
    font-size: 14px;
    font-family: Lato;


}
.abrir-det{
    color: #FFF !important;
    font-weight: regular !important;
    margin-left: 10px;
}

.prev-det{
    font-weight: bold;
    margin-left: 190px;

}

.itens, .itens-info{
    display: inline-block;
    color: $brand-orange;
}

.dados-entrega{
    background: #fff !important;
}

.tit-dentrega, .tit-dresumo{
    font-size: 24px;
    font-family: Economica;
    font-weight: bold;
    margin-left: 10px;
}

// .lateral{
//     padding: 0px 20px 0px 0px;
// }

.row-title{
    margin:0px;
}

.itens{
    background-color: #f3f3f3;
    margin-bottom: 0px;
    padding: 0px;

}

.card-header-itens{
    background-color:#f3f3f3;
    border: none !important;
    padding: 0px 0px 0px 20px;
  }

  .inp-boleto{
    float:left;
    margin-top:30px;
    margin-right: 12px;
    width: 18px;
    height: 18px;
  }

  .inp-cartao{
    float:left;
    margin-top: 25px;
    margin-right: 10px;
    width: 18px;
    height: 18px;
  }
  .lblPagamento{
    margin-left: 10px;
    margin-top:20px;
     font-weight: bold;
    float: right;
  }

  .div-ipts-boleto{
    margin-bottom: 20px;
  }

  .ipts-boleto, .ipts-comp{
    margin-bottom: 10px;
    margin-left: 5px;
    font-family: Lato;
    border: none;
    border-bottom: 1px solid #A8A8A8;
  }

  input#ipt-icon{
   font-family: "FontAwesome","Lato";
}

.btn-pro{
    font-family:Economica !important;
    font-size: 24px !important;
    background-color: $brand-orange;
    border-color: $brand-orange;
    color: #FFF;
    width: 220px;
    height: 50px;
    font-weight: bold;
  }

  .btn-pro:hover{
    font-family:Economica !important;
    font-size: 24px !important;
    color: #111;
    background-color: #FFF;
    border-color: $brand-orange;
    text-decoration: none;
    width: 220px;
    height: 50px;
    font-weight: bold;
  }

  .dtermos{
    margin-top: 30px;
    font-size: 18px;
    font-family: Lato;
    color:#A8A8A8;
   }

   .termos{
    color: $brand-orange;
   }


   #form-checka-input:checked + label{
    color: $brand-orange;
  }

  .seletor{
    width: 100px;
    float: left;
    margin-right:20px;
  }

  #retorno{
    font-family: Lato;
    font-size: 14px;
    color: #A8A8A8;
    margin-top: 5px;
    display: block;
  }

  .fa-6x {
    font-size: 6em;
}

img {
    margin-bottom: 20px;
    margin-top: 20px;
}

.breadcrumb-item.active a {
    color: #a8a8a8;
}
.paymnt-type{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}


// Código Novo
.frete-retirada {
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
}


p.termo {
    font-size: 18px;
    line-height: 22px;
}

.card-list p.termo-pgto {
    font-size: 18px;
    line-height: 22px;
}

.list-group-item,
.list-group-item .itens-info {
    background: transparent !important;
}

.iugu {
    margin-bottom: 42px;
}

.margin-hg-left {
    margin-left: 60px;
    margin-top: 1px;
}

.margin-md-bottom {
    margin-bottom: 20px;
}

.div-ipts-boleto{
    display: inline-block;
}

.botoes-itens{
    h3{
      margin-bottom: 0px !important;
    }
}

.termos{
    cursor: pointer;
}

.invalid {
    border-style: solid;
    border-bottom: solid;
    border-width: thin;
    border-color: $brand-orange;
}

.invalid:focus {
    outline-color: #F99;
}
.div-ipts-boleto, .div-ipts-cartao{
    line-height: 0;
    display: inline-block;
}

@media only screen and(max-width: 640px) {
    .breadcrumb{
        padding-bottom: 0px;
        padding-left: 0px;
        padding-top: 35px;
    }

    .btn-b4-xs.b{
        min-width: 130px !important;
        margin-bottom: 0px;
    }

    .row-title h3{
        margin-bottom: 10px !important;
    }

    p.termo {
        line-height: 22px;
        font-size: 12px;
        margin-left: -20px;
        margin-right: 25px;
        margin-bottom: 36px;
    }
    p.termo-pgto {
        line-height: 14px;
        font-size: 12px;
        margin-left: 15px;
        margin-right: 25px;
        margin-bottom: 3px;
    }

    p.pgmto {
        margin-left: -20px;
    }

    .iugu {
        margin-bottom: 28px;
        margin-top: 20px;
        margin-left: -20px;
    }
    .btn-orange {
        margin-right: 15px;
    }
    .ipts-boleto,
    .ipts-comp {
        min-width: 95%;
    }
    .ipts-control input {
        width: 100%;
    }
    .margin-md-bottom {
        margin-bottom: 0px;
        left: -20px;
    }

    .margin-hg-left {
        margin-left: 0px;
    }

    .margin-sm-left {
        font-size: 10px;
        line-height: 29px;
    }

    .form-check.chkboleto {
        margin-left: -20px;
    }

    .ipts-control i {
        font-size: 24px;
        position: relative;
        margin: 0 0 0 10px !important;
    }

    .row-title{
        margin-left: -20px;
    }

    .order-2{
        .bg-green{
            padding-top: 3px;
        }
    }
    .close{
        margin-top: -10px;

        &::before {
            content: none;
        }
    }

    .text-delivery {
        font-size: 16px;
    }
}
@media screen and (max-width: 574px){
    .div-ipts-boleto,
    .div-ipts-cartao{
        padding-right: 65px;
    }
    .ipts-boleto,
    .ipts-comp{
        min-width: 85%;
    }
    .ipts-control{
        i{
            width: 20px;
            position: relative !important;
            margin-left: 0 !important;
        }
    }

    .flag{
        font-size: 14px !important;
        .boleto{
            font-size: 14px;
        }
        i{
            font-size: 24px;
        }
        .fa-barcode{
            font-size: 72px;
        }
    }

    .cartao {
        margin-top: -7px;
    }
    .boleto {
        margin-top: -7px;
    }
    .iugu {
        width: 66px;
        height: 44px;
    }
    footer{
        margin-bottom: 130px;
    }

    .cart-data{
        width: 100%;
        .div-table{
            margin-bottom: 30px !important;
        }

        .closed{
            height: 0px !important;
        }

    }

    .fa-rotate{
        transform: rotateZ(180deg);
    }

}

@media screen and (max-width: 547px) {

    h3{
        font-size: 18px;
        line-height: 21px;
        padding-bottom: 7px;
    }

    .row-title h3{
        margin-bottom: 38px;
    }

    i.fa.fa-money.margin-sm-right {
        font-size: 23px;
        line-height: 23px;
    }

    .valp.text-hg {
        position: static;
    }
}

@media only screen and (max-width: 640px){
    .margin-sm-left {
        font-size: 10px;
        line-height: 29px;
        margin-top: -17px;
    }
    .fa-info-circle{
        display: none;
    }
    .fa-id-card {
        padding-right: 2rem;
    }

    .contato{
        padding: 1px;
    }
}


.form-check {
    float: none;
}
.g-recaptcha > div {
    margin: auto;
}

a {
    color: $brand-orange;
    &:hover{
        text-decoration: none;
    }
}

img {
    margin-top: 0;
    margin-bottom: 0;
}
