@import "../../node_modules/bootstrap/scss/functions.scss";
@import "../../node_modules/bootstrap/scss/variables.scss";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints.scss";
@import "theme/partials/variables.scss";
@import "theme/partials/vw-calculator.scss";

.cart-exit-modal {

    .modal-content {
        background-color: #eb7b3e;
    }

    .modal-body {
        padding-top: 0;

        @include media-breakpoint-up(md) {
            padding-left: 60px;
            padding-right: 60px;
        }
    }

    p {
        font-size: 32px;
        line-height: 36px;
        font-weight: bold;

        @include media-breakpoint-down(sm) {
            font-size: 22px;
            line-height: 26px;
        }

        @include media-breakpoint-down(xs) {
            font-size: 18px;
            line-height: 22px;
        }
    }

    form {
        width: 600px;
        max-width: 100%;
    }

    .form-control {
        text-align: center;
        font-size: 24px;
        line-height: 28px;
        padding: 16px 12px;
        width: 100%;
        height: auto;
        background-color: #fff;
        border: none;
        border-radius: 10px;
        color: #495057;

        @include media-breakpoint-down(sm) {
            max-width: none;
        }
    }

    .discount-modal-form {
        button {
            line-height: 32px;
            font-size: 26px;
            padding: 16px 24px;
            border-radius: 10px;
            font-weight: bold;

            &:hover {
                background-color: $brand-success;
                border-color: $brand-success;
            }

            @include media-breakpoint-down(sm) {
                font-size: 18px;
                line-height: 26px;
                padding: 12px 25px;
            }

            @include media-breakpoint-only(xs) {
                font-size: 14px;
                line-height: 22px;
                padding: 10px 20px;
            }
        }

        .invalid-feedback {
            padding-top: get-vw(8px);
            font-size: get-vw(28px);

            @include media-breakpoint-down(sm) {
                color: #ffffff;
                font-size: 18px;
            }

            @include media-breakpoint-only(xs) {
                font-size: 14px;
            }
        }
    }

    .discount-modal-loading {
        font-size: get-vw(45px);

        @include media-breakpoint-down(sm) {
            font-size: 32px;
        }

        @include media-breakpoint-only(xs) {
            font-size: 26px;
        }
    }
}

a {
    color: $brand-orange;
    &:hover{
        text-decoration: none;
    }
}
