@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "theme/partials/variables";
@import "theme/partials/vw-calculator.scss";

.corporate-main {
    min-height: 640px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/img/pagina-empresas.jpg');
    background-size: cover;
    background-position: center;

    .card {
        max-width: 550px;
    }

    .card-body {
        padding: 50px 40px;
        width: auto;

        h1, h2 {
            color: $brand-orange;
            font-size: 36px;
            margin-bottom: 60px;
        }

        h2 {
            font-weight: normal;
            font-size: 32px;
            margin-bottom: 70px;
        }

        .btn-b3 {
            font-size: 20px;
            line-height: 24px;
            border-radius: 12px;
            text-transform: uppercase;
            padding: 20px 18px;
            min-width: auto;
            height: auto;
            width: 220px;

            &:hover, &:active, &:focus {
                background-color: #9DCB7D;
                border-color: #9DCB7D;
            }
        }

        .main-btn-1 {
            float: left;
        }

        .main-btn-2 {
            float: right;
        }
    }
}

@include media-breakpoint-down(sm) {
    .corporate-main {
        // background: linear-gradient(90deg, #033175 (22px - 2px), transparent 1%) center,
        //     linear-gradient(#033175 (22px - 2px), transparent 1%) center, #3882E8;
        // background-size: 22px 22px;
        background: url('/img/bg_pattern.png');
        min-height: auto;
        padding-top: 30px;
        padding-bottom: 30px;

        .card {
            width: 100%;
            max-width: 100%;
            background-color: transparent;
        }

        .card-body {
            padding: 0;

            h1, h2 {
                font-size: 36px;
                margin-bottom: 40px;
                color: $white;
            }
            .btn-b3 {
                width: 160px;
                border-width: 2px;
            }
            .main-btn-1 {
                margin-bottom: 30px;
            }
            .main-btn-1, .main-btn-2 {
                float: none;
                text-align: center;

                a {
                    float: none;
                }
            }
        }
    }
}

@include media-breakpoint-down(xs) {
    .corporate-main {
        .card-body {
            .btn-b3 {
                font-size: 18px;
                line-height: 18px;
                padding: 18px 16px;

                &:hover, &:active, &:focus {
                    color: $white;
                    background-color: rgba(255, 255, 255, 0.4);
                    border-color: $white;
                }
            }
        }
    }
}

.features .card {
    border-radius: 20px;
}

.feature-img {
    height: 65px;
}

.feature-text-1 {
    font-family: 'Economica', sans-serif !important;
    font-size: 24px;
    text-transform: uppercase;
}

.feature-text-2 {
    font-size: 32px;
}

.feature-text-3 {
    font-weight: normal;
    margin-bottom: 0;
}


.modal {
    .modal-header {
        padding-bottom: 10px;
    }
    h3 {
        font-size: 22px;
    }
    .form-control {
        width: 100%;
        max-width: 400px;
        font-size: 1rem;
    }
}


@include media-breakpoint-down(xs) {
    .modal {
        h3 {
            font-size: 20px;
        }
    }
}
