@import "../../node_modules/bootstrap/scss/functions.scss";
@import "../../node_modules/bootstrap/scss/variables.scss";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints.scss";
@import "theme/partials/variables.scss";
@import "theme/partials/vw-calculator.scss";

/* Remover uma estilização desnecessária que existe no main.css */
a {
    float: none !important;
}
ol, ul {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 40px;
}
p {
    margin-bottom: 6px;
}


.card-header {
    padding: 0.5rem 0;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #a8a8a8;
}
.card-body {
    width: auto;
    padding: 1.25rem;
    margin-bottom: 0;
    margin-top: 0;
}
.card .card-header .btn {
    white-space: normal;
    text-align: left;
}
.card .card-header .btn:focus {
    text-decoration: none;
}
.card .card-header .btn:hover {
    text-decoration: underline;
}

.btn-orange {
    background-color: $brand-blue;
    padding: 0.6rem 1.8rem;
    margin-top: 80px;
    margin-bottom: 100px;
}

@include media-breakpoint-down(xs) {
 p {
     font-size: 16px;
 }
 ol {
    display: block;
    li {
        float: none;
    }
 }
 .btn-orange {
    font-size: 20px;
    min-width: 0;
    padding: 0.375rem 0.75rem;
 }
}
