@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "theme/partials/vw-calculator.scss";
@import "theme/partials/variables.scss";

body {
    overflow-x: hidden;
}

footer {
    margin-top: 0;
}


// ************************************
//           HOME COVER
// ************************************

// Usamos o modernizr para detectar se o browser suporta imagens no formato webp e se o javascript está desativado
// O modernizr adiciona classes ao elemento html para indicar esse suporte
// Baseado nisso decidimos qual o melhor formato de imagem para servir
// Referência: https://css-tricks.com/using-webp-images/
// Comando para converter para webp: for F in *.jpg; do ~/libwebp-0.4.1-linux-x86-64/bin/cwebp $F -o `basename ${F%.jpg}`.webp; done
.no-webp {
    .home-cover {
        background-image: url('/img/home/small-home-section.jpg');
    }
}
.webp {
    .home-cover {
        background-image: url('/img/home/small-home-section.webp');
    }
}
@include media-breakpoint-up(md) {
    .no-webp {
        .home-cover {
            background-image: url('/img/home/home-section.jpg');
        }
    }
    .webp {
        .home-cover {
            background-image: url('/img/home/home-section.webp');
        }
    }
}

// Estilização da cover
.home-cover {
    min-height: 370px;
    height: get-vh(500px);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center 0px;
    background-origin: content-box;
    background-clip: content-box;
    background-size: cover;
    max-height: 515px;

    h1 {
        padding-top: 8px;
        padding-bottom: 0;
        margin-bottom: 40px;
        font-size: 36px;
    }
    .btn-b2 {
        border-width: 3px;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        min-width: 220px;
        height: 50px;
        margin-bottom: 36px;
    }
}
@include media-breakpoint-up(sm) {
    .home-cover {
        min-height: 460px;

        h1 {
            padding-top: 48px;
        }
        .btn-b2 {
            font-size: 28px;
            line-height: 48px;
            min-width: 224px;
            height: 64px;
        }
        .btn-b6 {
            font-size: 19px;
            font-weight: bold;
        }
    }
}
@include media-breakpoint-up(md) {
    .home-cover {
        min-height: 480px;
        height: get-vh(650px);
        background-position: center -266px;
        background-size: auto;

        h1 {
            font-size: 50px;
            margin-bottom: 32px;
        }
    }
}
@include media-breakpoint-up(lg) {
    .home-cover {
        max-height: none;

        h1 {
            font-size: 58px;
        }
    }
}
@include media-breakpoint-up(xl) {
    .home-cover {
        h1 {
            font-size: 72px;
            margin-bottom: 40px;
        }
        .btn-b2 {
            font-weight: bold;
            font-size: 36px;
            line-height: 65px;
            min-width: 280px;
            height: 80px;
            margin-bottom: 50px;
        }
        .btn-b6 {
            font-size: 24px;
        }
    }
}


// ************************************
//         PRODUCT CARDS
// ************************************

// Decidir entre jpg e webp
.no-webp {
    .card-bg {
        &-c1 {
            background-image: url('/img/home/card-1.jpg');
        }
        &-c2 {
            background-image: url('/img/home/small-card-2.jpg');
        }
        &-c3 {
            background-image: url('/img/home/small-card-3.jpg');
        }
    }
}
.webp {
    .card-bg {
        &-c1 {
            background-image: url('/img/home/card-1.webp');
        }
        &-c2 {
            background-image: url('/img/home/small-card-2.webp');
        }
        &-c3 {
            background-image: url('/img/home/small-card-3.webp');
        }
    }
}

// Estilização da seção
.product-cards {
    .card-bg {
        width: get-vw(400px);
        height: get-vh(250px);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
        top: -100px;

        :hover {
            background-size: 120%;
        }

        &-c1 {
            .card-txt {
                background-color: $brand-orange;
                margin-bottom: 0;
            }
        }
        &-c2 {
            .card-txt {
                background-color: $brand-green-strong;
                margin-bottom: 0;
            }
        }
        &-c3 {
            .card-txt {
                background-color: $brand-blue-strong;
                margin-bottom: 0;
            }
        }

        .card-container {
            position: absolute;
            bottom: 0;
        }

        a {
            display: block;
            height: 100%;
        }
    }
}
@include media-breakpoint-down(lg) {
    .product-cards {
        height: 120px;

        .card-bg {
            top: -130px;
        }
        .h4{
            font-size: 16px;
        }
        .h2{
            font-size: 24px;
        }
    }
}
@include media-breakpoint-down(xs) {
    .product-cards {
        height: auto;
        margin-bottom: 10px;

        .card-bg {
            top: 0;
            width: auto;
        }
    }
}


// ************************************
//        SERVICES SECTION
// ************************************
.services-section {
    padding-top: 60px;
    padding-bottom: 60px;

    .services-title {
        font-size: 44px;
    }
}

@media (max-width: 641px) {
    .services-section {
        .services-title {
            font-size: 32px;
        }
    }
}
