@import "../../node_modules/bootstrap/scss/functions.scss";
@import "../../node_modules/bootstrap/scss/variables.scss";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints.scss";
@import "theme/partials/variables.scss";
@import "theme/partials/vw-calculator.scss";

.breadcrumb {
    margin-bottom: 0;
}

// Remover uma estilização desnecessária que existe no main.css
a {
    float: none !important;
}

// Classe aplicada aos textos dos passos para ficarem maiores e com a fonte igual dos titulos
.text-hiw {
    font-size: 20px;
    font-family: "Economica" !important;
}

// Classe aplicada aos botões para ficarem grandes
.btn-hiw {
    font-weight: bold;
    font-size: 24px;
    min-width: 220px;
    height: 50px;
}

// Estilização das imagens do passo a passo
$step-size: 44px;
.img-step-by-step {
    position: relative;

    .step-number {
        position: absolute;
        top: 10px;
        left: 10px;
        height: $step-size;
        width: $step-size;
        border-radius: $step-size / 2;
        background-color: $brand-orange;
        color: $brand-white;
        font-size: 28px;
        line-height: $step-size;
        font-weight: bold;
    }

    @include media-breakpoint-up(lg) {
        img {
            max-height: 232px;
        }
    }
}

// Estilização da lista
ul {
    float: none;
    list-style-type: none;

    li {
        float: none;
        color: $grey-std;
    }
}


// Estilização do primeiro título da página
.hiw-h1 {
    font-size: 24px;

    @include media-breakpoint-up(sm) {
        font-size: 36px;
    }
}
