@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "theme/partials/variables";
@import "theme/partials/vw-calculator.scss";

body {
    overflow-x: hidden
}
.col-md-6 {
    ul {
        list-style-type: none;
    }
}
.details {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.img-a {
    height: 370px;
    position: relative;
    background-size: cover;
}
.img-lp {
    height: 335px;
    position: relative;
    background-size: cover;
}
.img-plot {
    height: 270px;
    max-width: 420px;
    position: relative;
    background-size: cover;
}
.paper_type{
    position: absolute;
    bottom: -30px;
    left: 50px;
    .a0{
        font-size: 60px;
        padding-bottom: 6px !important;
    }
    .a1{
        font-size: 56px;
        padding-bottom: 7px !important;
    }
    .a2{
        font-size: 52px;
        padding-bottom: 8px !important;
    }
    .a3{
        font-size: 48px;
    }
    .a4{
        font-size: 36px;
        padding-bottom: 12px !important;
    }
    .a5{
        font-size: 24px;
        padding-bottom: 16px !important;
    }
    .a0, .a1, .a2, .a4, .a3, .a5{
        box-shadow: 0 5px 0.1em $grey-dev;
        position: relative;
        top: 0;
    }

}
#email_form{
    label{
        width: 100%;
    }


}
@include media-breakpoint-down(md){
    .text-lg{
        font-size: 14px;
    }
    .a4{
        position: relative;
        top: 8px;
        &.h2{
            font-size: 36px !important;
        }
    }
    ul, li, a{
        float: none !important;
    }
    .menu{
        ul, li, a{
            float: right !important;
        }
    }
    .col-12.m-0{
        overflow: hidden;
    }

}
@include media-breakpoint-down(sm){
    .scale-2{
        transform: scale(1.1);
    }
    form{
        text-align: center;
        label{
            text-align: left;
        }
    }
}
@media screen and (max-width: 641px){
    li{
        float: left ;
    }
    .breadcrumb{
        font-size: 15px;
    }
    #email_form{
        label{
            text-align: left;
        }
        text-align: center;
    }

}

.btn-info:hover{
    background: #9DCB7D;
}

footer{
    margin-top: 0 !important;
}

.ul-plot {
    font-size: 18px;
}

.form-plot {
    border-color: $brand-orange !important;
}

#linkBuilding {
    ul {
        li {
            list-style: none;

            a {
                color: $brand-blue;
            }
        }
    }
}
