@import "theme/partials/variables.scss";

h1 {
    font-size: 54px;
    margin-top: 40px;
    margin-bottom: 50px;
}

h2 {
    font-size: 20px;
    color: $grey-std;
}

h3 {
    font-size: 28px;
    color: $grey-std;
    margin-bottom: 50px;
}

h4 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

.invite-main {
    max-width: 900px;
}

.logged-div, .not-logged-div {
    margin-bottom: 100px;
}

.input-group-container {
    max-width: 600px;
    margin-bottom: 50px;

    input {
        color: black;
        font-size: 20px;
        padding: 30px;
    }

    button {
        font-size: 18px;
        line-height: 20px;
        white-space: normal;
        max-width: 90px;
    }
}



