@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "theme/partials/variables";
@import "theme/partials/vw-calculator.scss";

.container {
    // max-width: 77% !important;
    padding-right: get-vw(222px);
    padding-left: get-vw(203px);
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0 !important;
    @media (max-width: 1650px) {
        padding-right: get-vw(86px);
        padding-left: get-vw(100px);
    }
    min-width: 1080px;
}

form {
    &.addCoupon {}
}
#coupon-status{
    input{
        width: 50px;
    }
}
#remove-mdl{
    button.btn-b3{
        min-width: 0px;
    }
}
label {
    width: 100%;
    input {
        width: 100%;
        height: 27px;
        border-color: #cfcfcf;
    }
    textarea {
        width: 100%;
        height: 75px;
        resize: none;
        border-color: #cfcfcf;
    }
}

.dropdown-toggle{
    border-color: #cfcfcf;
    height: 27px;
    width: 100%;
    &::after {
        width: 10px;
        height: 10px;
        border-top: none !important;
        border-right: none !important;
        border-bottom: 1px solid currentColor;
        border-left: 1px solid currentColor;
        transform: rotate(-45deg);
        position: absolute;
        right: 25px;
    }
}

table {
    color: $grey-dev;
    label.checkbox-btn{
        margin: 13px;
    }
    font-size: 14px;
    th,
    tr,
    td,
    table thead th {
        border: none;
    }
    thead {
        color: $brand-orange;
    }
    & > tbody>tr:nth-child(2n+1)>td,
    .table-striped>tbody>tr:nth-child(2n+1)>th {
        background-color: #fff6f3;
        border-color: $grey-lighter;
        color: $grey-dev;
    }
    tbody>tr:nth-of-type(2n+1)>td.bg-yel {
        background-color: #ffe2b1;
    }
    tbody>tr:nth-of-type(2n+1)>td.bg-greeny {
        background-color: #e3e8ce;
    }
    .fa-pause-circle{
        color: #FDB713 !important;
    }
    .fa-check-circle{
        color: $brand-success;
    }
    .fa-pause-circle,
    .fa-check-circle{
        cursor: pointer;
        font-size: 16px;
    }
}

#coupon-filter{
    button.dropdown-toggle{
        &::after{
            top: 26px;
        }
    }
}
@media screen and (max-width: 1244px){
    .text-sm{
        font-size: 12px !important;
    }
    label{
        font-weight: normal !important;
    }
}
