@import "../../node_modules/bootstrap/scss/functions.scss";
@import "../../node_modules/bootstrap/scss/variables.scss";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints.scss";
@import "theme/partials/variables.scss";
@import "theme/partials/vw-calculator.scss";

.card {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body {
    margin: 0;
    padding: 1.25rem;
    width: auto;
}

ul {
    padding-left: 40px;
}

@media screen and (max-width: 640px) {
    ul, li {
        float: none;
    }

    p {
        font-size: 16px;
    }
}

h2 {
    color: $brand-orange;
}
