.info.float-right.margin-1-right{
    display: none;
}
.logo{
    margin: 40px auto !important;
    margin-bottom: 13vh;
    padding: 0;
    height: 69px;
    width: 221px;
}
.row > .col-10{
    margin-top: 15vh;
}

.navbar > .col-sm-12.p-0 {
    display: flex;
    justify-content: center;
}
