@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "theme/partials/variables";
@import "theme/partials/vw-calculator.scss";

table {
    color: $grey-dev;
    font-size: 16px;
    th,
    tr,
    td,
    table thead th {
        border: none;
    }
    thead {
        color: $brand-orange;
    }
    & > tbody>tr:nth-child(2n+1),
    .table-striped>tbody>tr:nth-child(2n+1)>th {
        background-color: #fff6f3;
        border-color: $grey-lighter;
        color: $grey-dev;
    }
    tbody>tr:nth-of-type(2n+1)>td.bg-yel {
        background-color: #ffe2b1;
    }
    tbody>tr:nth-of-type(2n+1)>td.bg-greeny {
        background-color: #e3e8ce;
    }
    .fa-pause-circle{
        color: #FDB713 !important;
    }
    .fa-check-circle{
        color: $brand-success;
    }
    .fa-pause-circle,
    .fa-check-circle{
        cursor: pointer;
        font-size: 16px;
    }
}
