@import "theme/partials/variables.scss";
@import "theme/partials/vw-calculator.scss";
@import "theme/3rdparty/chosen.scss";

.container{
    // max-width: 77% !important;
    padding-right: get-vw(222px);
    padding-left: get-vw(203px);
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0 !important;

    @media (max-width: 1650px) {
        padding-right: get-vw(86px);
        padding-left: get-vw(100px);
    }
}

.logo {
    padding: 0;
    margin-top: get-vh(43px);
}

.info {
    margin-top: get-vh(40px);
}

.menu {
    display: none !important;
}

.table-title {
    padding: get-vw(40px) 0;
    color: $brand-orange;
}
.filter-by-date,
.title-options{
    .dropdown-toggle::after {
        width: 10px;
        height: 10px;
        border-top: none !important;
        border-right: none !important;
        border-bottom: 1px solid currentColor;
        border-left: 1px solid currentColor;
        transform: rotate(-45deg);
    }
}
.filter-by-date {
    line-height: 17px;
    border-bottom: 1px solid;
    border-color: $grey-dev;
    padding-bottom: get-vw(10px);
    padding-top: get-vh(20px);
    max-width: 180px;
    .dropdown-toggle::after {
        margin-left: 35%;
        text-align: right;
    }
    .date-text{
        cursor: pointer;
    }
    .fa {
        &.fa-calendar {
            margin-right: get-vw(10px);
        }
        &.fa-angle-down {
            margin-left: get-vw(13px);
            margin-bottom: get-vh(17px);

            &.collapsed {
                transform: rotateX(0);
            }
            transition: ease-in-out 500ms;
            transform: rotateX(180deg);
            cursor: pointer;
        }
        &.fa-angle-down.collapsed {
            margin-bottom: get-vh(3px);
        }
        font-size: 24px;
    }


    .btn-grey-outlined {
        text-transform: none;
        min-width: 130px;
        text-align: left;
        margin-bottom: 3px;
    }
    .small-padding {
        padding: 0 7px;
    }
    .type-button {
        height: 21px;
        min-width: 100px !important;
        width: 100px;
    }
    .type-dropdown-button {
        height: 21px;
    }
    .type-div {
        margin-bottom: get-vh(14px);
        .type {
            font-size: 12px;
            margin-right: get-vw(5px);
        }
    }
    .btn-b3 {
        min-width: 160px;
        height: 30px;
        font-size: 14px;
    }
    .data-filter-title {
        color: $brand-orange;
        margin-bottom: get-vh(14px);
    }
    .btn {
        margin: 6px 0px 0px 0px;
        padding: 0px 5px;
    }
    .type {
        line-height: 2vw;
        font-size: 12px;
        .btn-group {
            margin-left: 8px;
        }
    }
    .period {
        font-size: 12px;
        margin-bottom: get-vh(4px);
    }
    .input-period {
        input {
            width: 42%;
            background-color: white;
            border-color: $grey-dev !important;
            font-size: 10px;
            padding: 0 10px;
            height: 21px;
            border-radius: 3px;
            border: 1px solid;
            color: $brand-orange;
            margin-bottom: get-vh(11px);
        }
        .input-divider {
            margin: 0 5px;
        }
    }
    color:$grey-dev;
    font-size: 14px;
}

.filter-by-data {
    .fa{
        position: relative;
        top: 3px;
        font-size: 24px;
    }
    font-size: 14px;

    td:first-child .form-control:first-child {
        min-width: 110px;
    }

    .form-control {
        min-width: 240px;
        &:focus {
            border-color: #5897fb;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            color: $brand-blue;
        }
        transition: none;

        @media (max-width: 1500px){
            height: 31px;
        }
    }

    th,
    tr,
    td,
    table thead th {
        border: none;
    }

    td {
        padding-left: 0;
        padding-right: 15px;

    }

    input {
        border-radius: 3px;
        border: 1px solid;
    }
    .title-column {
        color: $brand-orange;
        i {
            padding: 0 8px;
        }
    }
}

.table-all-data {
    font-size: 14px;
    padding-top: get-vw(70px);
    thead {
        color: $brand-orange;
    }
    tbody {
        color: $grey-dev;
    }
    tbody>tr:nth-child(2n+1)>td,
    .table-striped>tbody>tr:nth-child(2n+1)>th {
        background-color: rgba(252, 74, 26, 0.05);
        border-color: rgba(252, 74, 26, 0.05);
    }
}

th.sticky-header {
    position: sticky;
    position: -webkit-sticky;
    top: 15vh;
    background-color: white;
    z-index: 10;
}

.table-all-data {
    position: relative;
    /*z-index: -10;*/
}

.fixed-filter {
    position: fixed;
    top: 0;
    background-color: white;
    max-width: 60%;
    z-index: 20;

    .filter-by-data {
        position: relative;
        z-index: 10;
    }


    &.date-fixed {
        padding: 3px 0;
        z-index: 20;
    }

    th {
        padding: 0;
    }

    .white-placeholder {
        position: absolute;
        background-color: white;
        width: 100vw;
        height: 15.5vh ;
        z-index: -9;
    }
}

.table-delivery {
    font-size: 14px;
    th,
    tr,
    td,
    table thead th {
        border: none;
    }
    thead {
        color: $brand-orange;
    }
    & > tbody>tr:nth-child(2n+1)>td,
    .table-striped>tbody>tr:nth-child(2n+1)>th {
        background-color: $brand-orange;
        border-color: $brand-orange;
        color: white;
    }
    &> tbody>tr:nth-child(2n)>td,
    .table-striped>tbody>tr:nth-child(2n)>th {
        background-color: rgba(252, 74, 26, 0.6);
        border-color: rgba(252, 74, 26, 0.6);
        color: white;
    }
}
.order-data{
    .title-options{
        border-bottom: 1px solid $grey-dev;
        .dropdown-toggle {
            text-transform: none;
            height: 30px;
            &::after{
                position: absolute;
                right: 10px;

            }
        }
    }
    .single-order{
        .fa{
            position: relative;
            top: 4px;
        }
        .row{
            border-bottom: 1px solid $grey-dev;
            padding: 20px 0 20px;
        }
    }
    .inset-table{
        .active{
            .highlighted{
                background-color: $brand-orange !important;
                color: white;
                font-weight: bold;
                .fa{
                    color: white;
                }
            }
        }
        .highlighted {
            .fa{
                &:hover{
                    color: $grey-dev !important;
                }
            }
        }
        tr{
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            background: transparent !important;
            cursor: pointer;
            height: 30px;
            &:hover{
                background-color: $grey-lighter !important;
            }
            th, td{
                padding: 0 8px;
                vertical-align: middle;
                background: transparent !important;
                &:nth-of-type(2n+1){
                    background: transparent !important;
                }
                .checkbox-btn{
                    position: relative;
                    top: 8px;
                }
            }
        }
    }
    .pdf-box{
        height: get-vh(420px);
        width: get-vw(450px);
        box-shadow: 0 0 1em $grey-dev;
        border-radius: 5px;
        iframe{
            height: 75%;
            width: 98%;
            margin-top: 5px
        }
    }
}
table thead tr th {
    border: none !important;
}

table tbody tr td {
    &:first-child {
        background-color: $brand-white !important;
    }
    border: none !important;
}

table {
    .addNote {
        cursor: pointer;
    }
}

.green {
    background-color: rgba(157, 203, 125, 0.3);
}

.red {
    background-color: rgba(255, 127, 99, 0.3);
}

.egg {
    background-color: rgba(253, 183, 19, 0.3);
}


.hiddenRow {
    padding: 0 !important;
}

.label {
    min-width: 100px !important;
    display: inline-block !important;
    padding: .4em 2em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border: 0.8px solid white;
    border-radius: .25em;
    &.label-enviado {
        background-color: #67A4FF;
    }
    &.label-em-producao {
        background-color: #9DCB7D;
    }
    &.label-enviado {
        background-color: #FDB713;
    }

    &.label-produzido {
        background-color: #4FB9CE;
    }
    &.label-despachado {
        background-color: #375788;
    }
    &.label-entregue {
        background-color: #DFE183;
    }
    &.label-cancelado {
        background-color: #FF7F63;
    }
    &.label-pendencia {
        background-color: #A8A8A8;
    }
    &.label-verificar {
        background-color: #F93392;
    }
    &.label-realizado {
        background-color: #68a000;
    }
    &.label-bloqueado {
        background-color: #A8A8A8;
    }
}

.checkbox-btn {
    padding: 0;
    padding-left: 0;
    margin-right: get-vw(10px);
}

.loggi {
    top: -28px;
    position: relative;
}

.popover-body p {
    font-weight: bold;
}

.popover {
    width: 80px;
    height: 25px;
    font-size: 14px;
    line-height: 17px;
}

.popover-body {
    padding: .25rem .75rem;
}

.popover .close {
    color: #67A4FF;
    font-size: 14px;
    opacity: 1;
    padding-left: 5px;
    padding-right: 4px;
    background-color: #fff;
    border-radius: 150px;
}

.rec {
    width: 110px;
}

.chosen {
    &-choices {
        min-width: 240px;
        border-radius: 3px;
        min-height: 31px;

        @media (max-width: 1500px) {
            min-width: 180px;
            width: 180px;
        }
    }
    &-container {
        @media (max-width: 1500px) {
            min-width: 180px;
            width: 190px !important;
        }
    }
    &-container-multi {
        li.search-choice {
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            .search-choice {
                &-close {
                    &::after {
                        content: "✕";
                        position: absolute;
                        top: -3px;
                        left: 2px;
                        font-size: 9px;
                    }
                }
            }
        }
        .chosen-choices {
            li.search-choice {
                border: none;
                background: #67A4FF !important;
                color: #fff;
                cursor: default;
                font-size: 14px !important;
                line-height: 17px;
                font-weight: bold;
                font-family: Lato;
            }
            @media (max-width: 1500px) {
                min-width: 180px;
                width: 190px;
            }
        }
    }
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: 6px;
    right: 5px;
    width: 11px;
    height: 11px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 10px;
    color: #67A4FF;
}

.btn-b6 {
    font-weight: bold !important;
}

.pedido-la {
    padding-left: 0;
    .fa {
        font-size: 23px;
        line-height: 23px;
        text-align: left;
    }
}

.bg-em-producao {
    background-color: #00FFFF !important;
}

.bg-acabamento {
    background-color: #FFFF00 !important;
}

.bg-falta-despachar {
    background-color: #00FF00 !important;
}

