@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "theme/partials/variables";
@import "theme/partials/vw-calculator.scss";

.logo {
    padding: 0;
    margin-top: get-vh(43px);
}

.filter-by-date {
    line-height: 17px;
    border-bottom: 1px solid;
    border-color: $grey-dev;
    padding-bottom: get-vw(10px);
    padding-top: get-vh(20px);
    max-width: 220px;
    .dropdown-toggle::after {
        width: 10px;
        height: 10px;
        border-top: none !important;
        border-right: none !important;
        border-bottom: 1px solid currentColor;
        border-left: 1px solid currentColor;
        transform: rotate(-45deg);
        margin-left: 35%;
        text-align: right;
    }
    .date-text{
        cursor: pointer;
    }
    .fa {
        &.fa-calendar {
            margin-right: get-vw(10px);
        }
        &.fa-angle-down {
            margin-left: get-vw(13px);
            margin-bottom: get-vh(17px);

            &.collapsed {
                transform: rotateX(0);
            }
            transition: ease-in-out 500ms;
            transform: rotateX(180deg);
            cursor: pointer;
        }
        &.fa-angle-down.collapsed {
            margin-bottom: get-vh(3px);
        }
        font-size: 24px;
    }


    .btn-grey-outlined {
        text-transform: none;
        min-width: 130px;
        text-align: left;
        margin-bottom: 3px;
    }
    .small-padding {
        padding: 0 7px;
    }
    .type-button {
        height: 21px;
        min-width: 100px !important;
        width: 100px;
    }
    .type-dropdown-button {
        height: 21px;
    }
    .type-div {
        margin-bottom: get-vh(14px);
        .type {
            font-size: 12px;
            margin-right: get-vw(5px);
        }
    }
    .btn-b3 {
        min-width: 160px;
        height: 30px;
        font-size: 14px;
    }
    .data-filter-title {
        color: $brand-orange;
        margin-bottom: get-vh(14px);
    }
    .btn {
        margin: 6px 0px 0px 0px;
        padding: 0px 5px;
    }
    .type {
        line-height: 2vw;
        font-size: 12px;
        .btn-group {
            margin-left: 8px;
        }
    }
    .period {
        font-size: 12px;
        margin-bottom: get-vh(4px);
    }
    .input-period {
        input {
            width: 42%;
            background-color: white;
            border-color: $grey-dev !important;
            font-size: 10px;
            padding: 0 10px;
            height: 21px;
            border-radius: 3px;
            border: 1px solid;
            color: $brand-orange;
            margin-bottom: get-vh(11px);
        }
        .input-divider {
            margin: 0 5px;
        }
    }
    color:$grey-dev;
    font-size: 14px;
}

.bg-red {
    background: $brand-red;
}

#summary {
    .col-3 {
        min-height: 200px;
    }
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body {
    margin: 0;
    padding: 1.25rem;
    width: auto;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
