/*----------------------------------------------------------------------------------------
						FONT (OPEN SANS) IMPORT FROM GOOGLE FONTS
-----------------------------------------------------------------------------------------*/
@import url(//fonts.googleapis.com/css?family=Hind:600,300|Roboto:500,100,300|Abril+Fatface|Open+Sans:400,700,800|Montserrat:400,700|Droid+Sans:400,700|Arvo:400,700|Cabin:400,700|Patua+One|Raleway:400,700|Lobster|Josefin+Sans:400,700|Poppins:400,700|Montserrat+Alternates:400,700);
/*----------------------------------------------------------------------------------------
						COMMON STYLES
-----------------------------------------------------------------------------------------*/

body {
	font-family: 'Hind', sans-serif;
	font-size: 17px;
	font-weight: lighter;
	line-height: 1.5;
	color: #555;
	background: #fff;
}

#wrap {

    overflow: hidden;

    section,
    header {
        padding-top: 150px;
        padding-bottom: 150px;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }

    section.dark-bg,
    header.dark-bg,
    .no-sep{
        border-bottom: none;
    }

    .container,
    .container-fluid {
        position: relative;
        z-index: 1;
    }

    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        outline: 0;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        -ms-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: #222;
        line-height: 1.2;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        letter-spacing: 0.5px;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 44px;
        margin: 0 0 30px 0;
    }

    h3 {
        font-size: 26px;
        font-weight: 300;
    }

    h4 {
        font-size: 20px;
        font-weight: 300;
        margin: 10px 0 20px 0;
    }

    h5 {
        color: #00c0ff;
        font-size: 18px;
        font-weight: lighter;
        margin: 10px 0 20px 0;
    }

    .dark-bg h1,
    .dark-bg h2,
    .dark-bg h3,
    .dark-bg h4 {
        color: #fff;
    }

    .dark-bg {
        color: #fff;
    }

    ul {
        margin: 0;
        padding: 0px;
        list-style: none;
    }

    blockquote {
        padding: 40px;
        display: block;
        position: relative;
        overflow: hidden;
        text-align: left;
        border-radius: 15px;
        border: 1px solid #e8e8e8;
    }

    blockquote small {
        text-align: inherit;
        padding: 30px 0 0 0;
        color: #aaa;
    }

    code {
        padding: 20px 20px 20px 80px;
        display: block;
        position: relative;
        text-align: left;
        border-radius: 15px;
        border: 1px solid #e8e8e8;
        color: #03C;
        background: none;
        overflow: auto;
    }

    code:before {
        content: '</>';
        font-size: 16px;
        font-weight: bold;
        padding-top: 20px;
        display: block;
        position: absolute;
        width: 60px;
        left: 0px;
        top: 0;
        bottom: 0;
        text-align: center;
        color: #ccc;
        background: #f8f8f8;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border-color:rgba(0,0,0,0.15);
    }

    .dark-bg hr{
        border-color:rgba(255,255,255,0.4);
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 20px;
        border-top: 1px solid rgba(0,0,0,0.05);
    }

    .dark-bg .table > thead > tr > th,
    .dark-bg .table > tbody > tr > th,
    .dark-bg .table > tfoot > tr > th,
    .dark-bg .table > thead > tr > td,
    .dark-bg .table > tbody > tr > td,
    .dark-bg .table > tfoot > tr > td {
        padding: 20px;
        border-top: 1px solid rgba(255,255,255,0.1);
    }

    .table-hover > tbody > tr:hover {
        background-color: rgba(0,0,0,0.025);
    }

    .dark-bg .table-hover > tbody > tr:hover {
        background-color: rgba(0,0,0,0.2);
    }

    ::selection {
        background: #00c0ff;
        color: #fff;
    }
    ::-moz-selection {
    background: #00c0ff;
    color: #fff;
    }

    @media (max-width: 1200px) {
    section,
    header {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    }
    @media (max-width: 992px) {

    body {
        text-align: center;
    }

    section,
    header {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .text-left,
    .text-right {
        text-align: center;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    .row [class^=col-] {
        padding-bottom: 40px;
    }

    .row.no-dev [class^=col-],
    .row [class^=col-sm-] {
        padding-bottom: 0px;
    }

    .row [class^=col-]:last-child {
        padding-bottom: 0;
    }
    }
    @media (max-width: 767px) {

    .row [class^=col-sm-] {
        padding-bottom: 40px;
    }
    }

    /*----------------------------------------------------------------------------------------
                            FORM STYLES
    -----------------------------------------------------------------------------------------*/

    form {
        border-top: 1px solid rgba(0, 0, 0, 0.07);
    }

    .form-group {
        margin: 0;
    }

    .form-group .btn {
        border-radius: 0;
        font-size: inherit;
        padding: 20px;
    }

    .form-group input,
    .input-group input,
    .form-group textarea,
    button {
        color: #222;
        box-shadow: none;
        -webkit-box-shadow: none;
        /*-webkit-appearance: none;*/
        border: 0;
        border-radius: 0;
    }

    .input-group input:focus,
    .form-group input:focus,
    .form-group textarea:focus,
    .input-group button:focus {
        box-shadow: none;
        transition: none;
        border: 0;
        outline: 0;
    }

    .placeholdersjs {
        color: #aaa !important;
    }

    input.form-control,
    .input-group input:focus,
    .form-group input:focus,
    textarea.form-control {
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
        padding: 20px 25px 20px 0;
        line-height: 1.6;
        font-size: inherit;
        height: auto;
        width: 100%;
        background: none;
        color: inherit;
    }

    textarea.form-control {
        resize: none;
        border:none;
    }

    form button {
        margin-top: 40px;
    }

    form label {
        display: block;
        font-size: 14px;
        font-weight: normal;
        position: relative;
        margin: 0;
    }

    form label.error {
        background: #e44646;
        color: #fff;
        padding: 5px 10px;
    }

    form label.valid {
        display: none !important;
    }

    .dark-bg form,
    .dark-bg form .form-control {
        border-color: rgba(255, 255, 255, 0.2);
    }

    .form-container {
        background: #fff;
        padding: 40px;
        border-radius: 3px;
    }

    .dark-bg .form-container {
        background: #252830;
    }

    .form-container form {
        margin: 0 0 40px 0;
    }

    .form-container .title,
    .form-container p,
    .form-container small {
        margin: 0 0 40px 0;
    }

    .form-container *:last-child {
        margin-bottom: 0;
    }

    form.line-form{
        border:none;
    }

    form.line-form input,
    form.line-form input:focus{
        border-top:1px solid #eee;
        border-bottom:1px solid #eee;
        color:#555;
    }

    form.line-form .form-control{
        background: #fff;
        padding: 20px 25px;
        border-right:none;
        border-left:none;
    }

    form.line-form > div:first-child .form-control{
        border-radius: 3px 0 0 3px;
        border-left:1px solid #eee;
    }

    form.line-form button,
    form.line-form button:hover,
    form.line-form button:focus {
        height: 69px;
        font-size:inherit;
        line-height: 24px;
        padding: 20px 25px;
        border-radius: 0 3px 3px 0;
        border-left:none;
        overflow: hidden;
        margin:0;
    }

    form.line-form button .icon{
        font-size:24px;
    }

    form.line-form button.btn-primary-white,
    form.line-form button.btn-primary-white:hover,
    form.line-form button.btn-primary-white:focus,
    form.line-form button.btn-primary-white:active{
        border:1px solid #eee;
        border-left:none;
    }

    form.line-form label.error {
        margin:10px 0 0 0;
        display:inline-block;
        padding:10px 20px;
    }

    form.line-form.two-fields .form-group{
        float:left;
        width:40%;
    }

    form.line-form.two-fields .form-control{
        border-left:1px solid #eee;
    }

    form.line-form.two-fields button{
        float:left;
        width:20%;
    }

    .dark-bg form.line-form .form-control{
        border-color:#eee;
    }

    @media (max-width: 767px) {
        form.line-form.two-fields .form-group,
        form.line-form.two-fields button{
            float:none;
            width:100%;
            border-radius:0;
        }

        form.line-form.two-fields .form-group input{
            border:none;
        }

        form.line-form.two-fields .form-group:first-child input{
            border-bottom:1px solid #eee;
            border-right:none;
            border-radius:0;
        }
    }

    /*----------------------------------------------------------------------------------------
                            BUTTONS STYLES
    -----------------------------------------------------------------------------------------*/

    .btn:focus,
    .btn:active:focus,
    .btn.active:focus {
        outline: 0px auto -webkit-focus-ring-color;
    }

    .input-group-btn:last-child > .btn,
    .input-group-btn:last-child > .btn-group {
        margin-left: 0;
    }

    .btn {
        font-size: inherit;
        -webkit-transition: all 0.25s ease-in;
        -moz-transition: all 0.25s ease-in;
        -ms-transition: all 0.25s ease-in;
        -o-transition: all 0.25s ease-in;
        transition: all 0.25s ease-in;
    }

    .btn-sm,
    .btn-group-sm > .btn {
        font-size:14px;
        padding:3px 7px;
    }

    .btn-lg,
    .btn-group-lg > .btn {
        padding: 22px 35px;
        font-size: inherit;
        font-size: 20px;
        border-radius: 5px;
    }

    .btn-primary {
        background: #00c0ff;
        border-color: #00c0ff;
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
        background: #009acc;
        border-color: #009acc;
    }

    .btn-primary-white {
        background: #fff;
        border-color: #fff;
        color: #00c0ff;
    }

    .btn-primary-white:hover,
    .btn-primary-white:focus,
    .btn-primary-white:active {
        background: #fff;
        border-color: #fff;
        color: #00c0ff;
    }

    .btn-default {
        border: 1px solid #00c0ff;
        color: #00c0ff;
        background: none;
    }

    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active {
        border: 1px solid #009acc;
        color: #009acc;
        background: none;
    }

    .btn-default-white,
    .btn-default-white:hover,
    .btn-default-white:focus,
    .btn-default-white:active {
        border: 1px solid #fff;
        color: #fff;
        background: none;
    }

    /*----------------------------------------------------------------------------------------
                            TITLE STYLES
    -----------------------------------------------------------------------------------------*/

    .title {
        margin: 0 0 60px 0;
    }

    h3.title,
    h4.title {
        margin: 0 0 30px 0;
    }

    h1.sub-title,
    h2.sub-title,
    h3.sub-title,
    h4.sub-title {
        color: #00c0ff;
        margin: 0 0 60px 0;
    }

    .bg-color2 .sub-title{
        color:#fff;
    }

    .big-title,
    .giant-title,
    .mega-title{
        font-size: 70px;
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 70px;
    }

    .giant-title {
        font-size: 110px;
    }

    .mega-title {
        font-size: 200px;
    }

    .mega-title .icon{
        font-size:80%;
    }

    .big-title.zero-bottom,
    .giant-title.zero-bottom {
        margin-bottom: 0;
    }

    .icon {
        margin-right: 10px;
    }

    .btn .icon {
        vertical-align:middle;
    }

    .right-icon {
        margin-left: 10px;
        margin-right: 0;
    }

    .big-icon {
        display: inline-block;
        font-size: 64px;
    }

    .center-icon {
        margin-right: auto;
        margin-left: auto;
    }

    .big-right-icon {
        font-size: 64px;
        margin-left: 10px;
        margin-right: 0;
    }

    .border-block{
        border:1px solid rgba(0,0,0,0.1);
        padding:30px;
    }
    .dark-bg .border-block{
        border:1px solid rgba(255,255,255,0.5);
    }

    .text-highlight{
        background:rgba(0,0,0,0.5);
        padding:0 20px;
    }

    .trans-link a{
        opacity:0.5;
    }

    .trans-link a:hover{
        opacity:1;
    }

    @media (max-width: 767px) {
    .big-title,
    .giant-title {
        font-size: 40px;
    }
    .mega-title {
        font-size: 100px;
    }
    }


    /*----------------------------------------------------------------------------------------
                            ITEM LIST STYLES
    ----------------------------------------------------------------------------------------*/

    .item-list-right li,
    .item-list-left li {
        position: relative;
    }

    .item-list-right li {
        padding: 0 75px 60px 45px;
        text-align: right;
    }

    .item-list-left li {
        padding: 0 45px 60px 75px;
        text-align: left;
    }

    .item-list-center li {
        padding: 0 40px 60px 40px;
        text-align: center;
    }

    .item-list-border li {
        border:1px solid rgba(0,0,0,0.1);
        padding:40px;
        margin-bottom:30px;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

    .item-list-border-alt li{
        background:rgba(255,255,255,0.95);
    }

    .dark-bg .item-list-border-alt li{
        background:rgba(0,0,0,0.5);
    }

    .item-list-border li:hover{
        border:1px solid rgba(0,0,0,0.4);
    }

    .dark-bg .item-list-border li {
        border:1px solid rgba(255,255,255,0.1);
    }
    .dark-bg  .item-list-border li:hover{
        border:1px solid rgba(255,255,255,0.4);
    }

    .item-list-border li .big-icon{
        font-size:48px;
        opacity:0.5;
    }

    .item-list li{
        padding-bottom: 60px;
    }
    .item-list-small li {
        padding-bottom: 30px;
    }

    .item-list-right li .icon,
    .item-list-left li .icon {
        font-size: 48px;
        position: absolute;
        display: inline-block;
        top: 0;
        color: #00c0ff;
    }

    .item-list-right li .img-icon,
    .item-list-left li .img-icon {
        position: absolute;
        display: inline-block;
        top: 0;
        max-width: 50px;
        height: auto;
    }

    .item-list-right li .num-icon,
    .item-list-left li .num-icon {
        font-size: 22px;
        font-style: normal;
        position: absolute;
        display: inline-block;
        height: 50px;
        width: 50px;
        border: 1px solid #00c0ff;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        line-height: 50px;
        top: 0;
        color: #00c0ff;
    }

    .item-list-right li .icon,
    .item-list-right li .img-icon,
    .item-list-right li .num-icon {
        right: 0;
    }

    .item-list-left li .icon,
    .item-list-left li .img-icon,
    .item-list-left li .num-icon {
        left: 0;
    }

    .item-list-center li .icon,
    .item-list-center li img {
        display: inline-block;
        font-size: 64px;
        color: #00c0ff;
        margin: 0 0 20px 0;
    }

    .item-list-right h3,
    .item-list-left h3,
    .item-list-center h3 {
        margin: 0 0 25px 0;
    }

    .item-list-right h3:last-child,
    .item-list-left h3:last-child,
    .item-list-center h3:last-child {
        margin: 0;
    }

    .item-list-right h4,
    .item-list-left h4,
    .item-list-center h4 {
        margin: 0 0 15px 0;
    }

    .item-list-right.item-list-big li {
        padding: 0 80px 100px 30px;
    }

    .item-list-left.item-list-big li {
        padding: 0 30px 60px 100px;
    }

    .item-list-big li .icon {
        font-size: 32px;
    }

    .item-list-right li:last-child,
    .item-list-left li:last-child,
    .item-list-center li:last-child,
    .item-list li:last-child {
        padding-bottom: 0 !important;
    }

    .dark-bg .item-list-right p,
    .dark-bg .item-list-left p,
    .dark-bg .item-list-center p {
        opacity: 0.8;
    }
    @media (max-width: 992px) {

    .item-list-right h3,
    .item-list-left h3 {
        margin: 0 0 10px 0;
    }

    .item-list-left li .icon,
    .item-list-right li .icon,
    .item-list-left li .img-icon,
    .item-list-right li .img-icon,
    .item-list-left li .num-icon,
    .item-list-right li .num-icon {
        position: relative;
        margin: 0 0 20px 0;
    }

    .item-list-left li .img-icon,
    .item-list-right li .img-icon {
        max-width: 50%;
    }

    .item-list-left li,
    .item-list-right li,
    .item-list li {
        padding: 0 20px 40px 20px;
        text-align: center;
    }
    }

    /*----------------------------------------------------------------------------------------
                                            TIMELINE BLOCK
    ----------------------------------------------------------------------------------------*/

    ul.time-line {
        position: relative;
    }

    ul.time-line:before {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        bottom: 0;
        width: 1px;
        left: 50%;
        background-color: #000;
        opacity: 0.1;
    }

    .dark-bg ul.time-line:before {
        opacity: 0.4;
    }

    ul.time-line>li {
        padding-bottom: 80px;
        position: relative;
    }

    ul.time-line>li:after {
        content: "";
        display: block;
        clear: both;
    }

    ul.time-line>li:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 2;
        top: 20px;
        left: 50%;
        margin-left: -5px;
        height: 11px;
        width: 11px;
        background: #e8e8e8;
        border-radius: 50%;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    ul.time-line>li:hover:before {
        background: #00c0ff;
    }

    ul.time-line>li .post {
        position: relative;
        width: 45%;
        float: left;
        text-align: left;
    }

    ul.time-line>li.invert .post {
        float: right;
    }

    ul.time-line>li .post:before {
        content: "";
        position: absolute;
        display: block;
        top: 24px;
        left: 100%;
        width: 10.5%;
        height: 1px;
        background-color: #000;
        opacity: 0.1;
    }

    .dark-bg ul.time-line>li .post:before {
        opacity: 0.4;
    }

    ul.time-line>li.invert .post:before {
        left: auto;
        right: 100%;
    }
    @media (max-width: 767px) {

        ul.time-line>li {
            padding-bottom: 40px;
        }

        ul.time-line>li .post,
        ul.time-line>li.invert .post {
            float: none;
            width: 100%;
            text-align: center;
        }

        ul.time-line:before,
        ul.time-line>li:before,
        ul.time-line>li .post:before {
            display: none;
        }
    }

} // #wrap

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e
}

/*!
* @package IcoFont
* @version 1.0.1
* @author IcoFont https://icofont.com
* @copyright Copyright (c) 2015 - 2018 IcoFont
* @license - https://icofont.com/license/
*/
@font-face
{
    font-family: "IcoFont";
    font-weight: normal;
    font-style: "Regular";
    src: url("/fonts/icofont.woff2") format("woff2"),
    url("/fonts/icofont.woff") format("woff");
}

[class^="icofont-"], [class*=" icofont-"]
{
  font-family: 'IcoFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.icofont-check-circled:before
{
  content: "\eed7";
}
.icofont-printer:before
{
  content: "\edfd";
}
.icofont-star:before
{
  content: "\f000";
}
.icofont-fast-delivery:before
{
  content: "\ee21";
}

.icofont-xs
{
  font-size: .5em;
}

.icofont-sm
{
  font-size: .75em;
}

.icofont-md
{
  font-size: 1.25em;
}

.icofont-lg
{
  font-size: 1.5em;
}

.icofont-1x
{
  font-size: 1em;
}

.icofont-2x
{
  font-size: 2em;
}

.icofont-3x
{
  font-size: 3em;
}

.icofont-4x
{
  font-size: 4em;
}

.icofont-5x
{
  font-size: 5em;
}

.icofont-6x
{
  font-size: 6em;
}

.icofont-7x
{
  font-size: 7em;
}

.icofont-8x
{
  font-size: 8em;
}

.icofont-9x
{
  font-size: 9em;
}

.icofont-10x
{
  font-size: 10em;
}

.icofont-fw
{
  text-align: center;
  width: 1.25em;
}

.icofont-ul
{
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.icofont-ul > li
{
  position: relative;
  line-height: 2em;
}

.icofont-ul > li .icofont
{
  display: inline-block;
  vertical-align: middle;
}

.icofont-border
{
  border: solid 0.08em #f1f1f1;
  border-radius: .1em;
  padding: .2em .25em .15em;
}

.icofont-pull-left
{
  float: left;
}

.icofont-pull-right
{
  float: right;
}

.icofont.icofont-pull-left
{
  margin-right: .3em;
}

.icofont.icofont-pull-right
{
  margin-left: .3em;
}

.icofont-spin
{
  -webkit-animation: icofont-spin 2s infinite linear;
  animation: icofont-spin 2s infinite linear;
  display: inline-block;
}

.icofont-pulse
{
  -webkit-animation: icofont-spin 1s infinite steps(8);
  animation: icofont-spin 1s infinite steps(8);
  display: inline-block;
}

@-webkit-keyframes icofont-spin
{
  0%
  {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%
  {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes icofont-spin
{
  0%
  {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%
  {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.icofont-rotate-90
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.icofont-rotate-180
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.icofont-rotate-270
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.icofont-flip-horizontal
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.icofont-flip-vertical
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.icofont-flip-horizontal.icofont-flip-vertical
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

:root .icofont-rotate-90,
	:root .icofont-rotate-180,
	:root .icofont-rotate-270,
	:root .icofont-flip-horizontal,
	:root .icofont-flip-vertical
{
  -webkit-filter: none;
  filter: none;
  display: inline-block;
}

.icofont-inverse
{
  color: #fff;
}

.sr-only
{
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-only-focusable:active,
	.sr-only-focusable:focus
{
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}


/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

.animated.flipOutX,
.animated.flipOutY {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes shake {
    0%, 100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  }

  @keyframes shake {
    0%, 100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  }

  .shake {
    -webkit-animation-name: shake;
    animation-name: shake;
  }


// Passo a passo
#wrap {
    [class^="w-icon-"],
    [class*=" w-icon-"] {
        font-family: 'webflow-icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .w-icon-slider-right:before {
        content: "\e600";
    }

    .w-icon-slider-left:before {
        content: "\e601";
    }

    .w-icon-nav-menu:before {
        content: "\e602";
    }

    .w-icon-arrow-down:before,
    .w-icon-dropdown-toggle:before {
        content: "\e603";
    }

    html.w-mod-touch * {
        background-attachment: scroll !important;
    }

    .w-block {
        display: block;
    }

    .w-inline-block {
        max-width: 100%;
        display: inline-block;
    }

    .w-clearfix:before,
    .w-clearfix:after {
        content: " ";
        display: table;
    }

    .w-clearfix:after {
        clear: both;
    }

    .w-hidden {
        display: none;
    }

    .w-button {
        display: inline-block;
        padding: 9px 15px;
        background-color: #3898EC;
        color: white;
        border: 0;
        line-height: inherit;
        text-decoration: none;
        cursor: pointer;
        border-radius: 0;
    }

    input.w-button {
        -webkit-appearance: button;
    }

    html[data-w-dynpage] [data-w-cloak] {
        color: transparent !important;
    }

    .w-webflow-badge,
    .w-webflow-badge * {
        position: static;
        left: auto;
        top: auto;
        right: auto;
        bottom: auto;
        z-index: auto;
        display: block;
        visibility: visible;
        overflow: visible;
        overflow-x: visible;
        overflow-y: visible;
        box-sizing: border-box;
        width: auto;
        height: auto;
        max-height: none;
        max-width: none;
        min-height: 0;
        min-width: 0;
        margin: 0;
        padding: 0;
        float: none;
        clear: none;
        border: 0 none transparent;
        border-radius: 0;
        background: none;
        background-image: none;
        background-position: 0% 0%;
        background-size: auto auto;
        background-repeat: repeat;
        background-origin: padding-box;
        background-clip: border-box;
        background-attachment: scroll;
        background-color: transparent;
        box-shadow: none;
        opacity: 1.0;
        transform: none;
        transition: none;
        direction: ltr;
        font-family: inherit;
        font-weight: inherit;
        color: inherit;
        font-size: inherit;
        line-height: inherit;
        font-style: inherit;
        font-variant: inherit;
        text-align: inherit;
        letter-spacing: inherit;
        text-decoration: inherit;
        text-indent: 0;
        text-transform: inherit;
        list-style-type: disc;
        text-shadow: none;
        font-smoothing: auto;
        vertical-align: baseline;
        cursor: inherit;
        white-space: inherit;
        word-break: normal;
        word-spacing: normal;
        word-wrap: normal;
    }

    .w-webflow-badge {
        position: fixed !important;
        display: inline-block !important;
        visibility: visible !important;
        opacity: 1 !important;
        z-index: 2147483647 !important;
        top: auto !important;
        right: 12px !important;
        bottom: 12px !important;
        left: auto !important;
        color: #AAADB0 !important;
        background-color: #fff !important;
        border-radius: 3px !important;
        padding: 6px 8px 6px 6px !important;
        font-size: 12px !important;
        opacity: 1.0 !important;
        line-height: 14px !important;
        text-decoration: none !important;
        transform: none !important;
        margin: 0 !important;
        width: auto !important;
        height: auto !important;
        overflow: visible !important;
        white-space: nowrap;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .w-webflow-badge>img {
        display: inline-block !important;
        visibility: visible !important;
        opacity: 1 !important;
        vertical-align: middle !important;
    }

    blockquote {
        margin: 0 0 10px 0;
        padding: 10px 20px;
        border-left: 5px solid #E2E2E2;
        font-size: 18px;
        line-height: 22px;
    }

    figure {
        margin: 0;
        margin-bottom: 10px;
    }

    figcaption {
        margin-top: 5px;
        text-align: center;
    }

    .w-list-unstyled {
        padding-left: 0;
        list-style: none;
    }

    .w-embed:before,
    .w-embed:after {
        content: " ";
        display: table;
    }

    .w-embed:after {
        clear: both;
    }

    .w-video {
        width: 100%;
        position: relative;
        padding: 0;
    }

    .w-video iframe,
    .w-video object,
    .w-video embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    fieldset {
        padding: 0;
        margin: 0;
        border: 0;
    }

    button,
    html input[type="button"],
    input[type="reset"] {
        border: 0;
        cursor: pointer;
        -webkit-appearance: button;
    }

    .w-input::-moz-placeholder,
    .w-select::-moz-placeholder {
        color: #999;
        opacity: 1;
    }

    .w-input:-ms-input-placeholder,
    .w-select:-ms-input-placeholder {
        color: #999;
    }

    .w-input::-webkit-input-placeholder,
    .w-select::-webkit-input-placeholder {
        color: #999;
    }

    .w-input:focus,
    .w-select:focus {
        border-color: #3898EC;
        outline: 0;
    }

    .w-input[disabled],
    .w-select[disabled],
    .w-input[readonly],
    .w-select[readonly],
    fieldset[disabled] .w-input,
    fieldset[disabled] .w-select {
        cursor: not-allowed;
        background-color: #eeeeee;
    }

    textarea.w-input,
    textarea.w-select {
        height: auto;
    }

    .w-select {
        background-image: -webkit-linear-gradient(white 0%, #f3f3f3 100%);
        background-image: linear-gradient(white 0%, #f3f3f3 100%);
    }

    .w-select[multiple] {
        height: auto;
    }

    .w-form-label {
        display: inline-block;
        cursor: pointer;
        font-weight: normal;
        margin-bottom: 0px;
    }

    .w-checkbox,
    .w-radio {
        display: block;
        margin-bottom: 5px;
        padding-left: 20px;
    }

    .w-checkbox:before,
    .w-radio:before,
    .w-checkbox:after,
    .w-radio:after {
        content: " ";
        display: table;
    }

    .w-checkbox:after,
    .w-radio:after {
        clear: both;
    }

    .w-checkbox-input,
    .w-radio-input {
        margin: 4px 0 0;
        margin-top: 1px \9;
        line-height: normal;
        float: left;
        margin-left: -20px;
    }

    .w-radio-input {
        margin-top: 3px;
    }

    .w-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 940px;
    }

    .w-container:before,
    .w-container:after {
        content: " ";
        display: table;
    }

    .w-container:after {
        clear: both;
    }

    .w-container .w-row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .w-row:before,
    .w-row:after {
        content: " ";
        display: table;
    }

    .w-row:after {
        clear: both;
    }

    .w-row .w-row {
        margin-left: 0;
        margin-right: 0;
    }

    .w-col {
        position: relative;
        float: left;
        width: 100%;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .w-col .w-col {
        padding-left: 0;
        padding-right: 0;
    }

    .w-col-1 {
        width: 8.33333333%;
    }

    .w-col-2 {
        width: 16.66666667%;
    }

    .w-col-3 {
        width: 25%;
    }

    .w-col-4 {
        width: 33.33333333%;
    }

    .w-col-5 {
        width: 41.66666667%;
    }

    .w-col-6 {
        width: 50%;
    }

    .w-col-7 {
        width: 58.33333333%;
    }

    .w-col-8 {
        width: 66.66666667%;
    }

    .w-col-9 {
        width: 75%;
    }

    .w-col-10 {
        width: 83.33333333%;
    }

    .w-col-11 {
        width: 91.66666667%;
    }

    .w-col-12 {
        width: 100%;
    }

    .w-hidden-main {
        display: none !important;
    }


    /*framework leadlovers ohaaa*/

    .col-max-ll {
        float: left;
        width: 50%;
    }

    .col-ll-6 {
        float: left;
        width: 50%;
        padding: 0px 50px;
        position: relative;
    }


    /*//framework leadlovers ohaaa*/

    @media screen and (max-width: 991px) {
        .w-container {
            max-width: 728px;
        }
        .w-hidden-main {
            display: inherit !important;
        }
        .w-hidden-medium {
            display: none !important;
        }
        .w-col-medium-1 {
            width: 8.33333333%;
        }
        .w-col-medium-2 {
            width: 16.66666667%;
        }
        .w-col-medium-3 {
            width: 25%;
        }
        .w-col-medium-4 {
            width: 33.33333333%;
        }
        .w-col-medium-5 {
            width: 41.66666667%;
        }
        .w-col-medium-6 {
            width: 50%;
        }
        .w-col-medium-7 {
            width: 58.33333333%;
        }
        .w-col-medium-8 {
            width: 66.66666667%;
        }
        .w-col-medium-9 {
            width: 75%;
        }
        .w-col-medium-10 {
            width: 83.33333333%;
        }
        .w-col-medium-11 {
            width: 91.66666667%;
        }
        .w-col-medium-12 {
            width: 100%;
        }
        .w-col-stack {
            width: 100%;
            left: auto;
            right: auto;
        }
    }

    @media screen and (max-width: 767px) {
        .w-hidden-main {
            display: inherit !important;
        }
        .w-hidden-medium {
            display: inherit !important;
        }
        .w-hidden-small {
            display: none !important;
        }
        .w-row,
        .w-container .w-row {
            margin-left: 0;
            margin-right: 0;
        }
        .w-col {
            width: 100%;
            left: auto;
            right: auto;
        }
        .w-col-small-1 {
            width: 8.33333333%;
        }
        .w-col-small-2 {
            width: 16.66666667%;
        }
        .w-col-small-3 {
            width: 25%;
        }
        .w-col-small-4 {
            width: 33.33333333%;
        }
        .w-col-small-5 {
            width: 41.66666667%;
        }
        .w-col-small-6 {
            width: 50%;
        }
        .w-col-small-7 {
            width: 58.33333333%;
        }
        .w-col-small-8 {
            width: 66.66666667%;
        }
        .w-col-small-9 {
            width: 75%;
        }
        .w-col-small-10 {
            width: 83.33333333%;
        }
        .w-col-small-11 {
            width: 91.66666667%;
        }
        .w-col-small-12 {
            width: 100%;
        }
        .col-max-ll {
            width: 100%;
        }
        .col-ll-6 {
            width: 100%;
            padding: 0px 20px;
        }
    }

    @media screen and (max-width: 479px) {
        .w-container {
            max-width: none;
        }
        .w-hidden-main {
            display: inherit !important;
        }
        .w-hidden-medium {
            display: inherit !important;
        }
        .w-hidden-small {
            display: inherit !important;
        }
        .w-hidden-tiny {
            display: none !important;
        }
        .w-col {
            width: 100%;
        }
        .w-col-tiny-1 {
            width: 8.33333333%;
        }
        .w-col-tiny-2 {
            width: 16.66666667%;
        }
        .w-col-tiny-3 {
            width: 25%;
        }
        .w-col-tiny-4 {
            width: 33.33333333%;
        }
        .w-col-tiny-5 {
            width: 41.66666667%;
        }
        .w-col-tiny-6 {
            width: 50%;
        }
        .w-col-tiny-7 {
            width: 58.33333333%;
        }
        .w-col-tiny-8 {
            width: 66.66666667%;
        }
        .w-col-tiny-9 {
            width: 75%;
        }
        .w-col-tiny-10 {
            width: 83.33333333%;
        }
        .w-col-tiny-11 {
            width: 91.66666667%;
        }
        .w-col-tiny-12 {
            width: 100%;
        }
    }

    .w-widget {
        position: relative;
    }

    .w-widget-map {
        width: 100%;
        height: 400px;
    }

    .w-widget-map label {
        width: auto;
        display: inline;
    }

    .w-widget-map img {
        max-width: inherit;
    }

    .w-widget-map .gm-style-iw {
        width: 90% !important;
        height: auto !important;
        top: 7px !important;
        left: 6% !important;
        display: inline;
        text-align: center;
        overflow: hidden;
    }

    .w-widget-map .gm-style-iw+div {
        display: none;
    }

    .w-widget-twitter {
        overflow: hidden;
    }

    .w-widget-twitter-count-shim {
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 28px;
        height: 20px;
        text-align: center;
        background: white;
        border: #758696 solid 1px;
        border-radius: 3px;
    }

    .w-widget-twitter-count-shim * {
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .w-widget-twitter-count-shim .w-widget-twitter-count-inner {
        position: relative;
        font-size: 15px;
        line-height: 12px;
        text-align: center;
        color: #999;
        font-family: serif;
    }

    .w-widget-twitter-count-shim .w-widget-twitter-count-clear {
        position: relative;
        display: block;
    }

    .w-widget-twitter-count-shim.w--large {
        width: 36px;
        height: 28px;
        margin-left: 7px;
    }

    .w-widget-twitter-count-shim.w--large .w-widget-twitter-count-inner {
        font-size: 18px;
        line-height: 18px;
    }

    .w-widget-twitter-count-shim:not(.w--vertical) {
        margin-left: 5px;
        margin-right: 8px;
    }

    .w-widget-twitter-count-shim:not(.w--vertical).w--large {
        margin-left: 6px;
    }

    .w-widget-twitter-count-shim:not(.w--vertical):before,
    .w-widget-twitter-count-shim:not(.w--vertical):after {
        top: 50%;
        left: 0;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .w-widget-twitter-count-shim:not(.w--vertical):before {
        border-color: rgba(117, 134, 150, 0);
        border-right-color: #5d6c7b;
        border-width: 4px;
        margin-left: -9px;
        margin-top: -4px;
    }

    .w-widget-twitter-count-shim:not(.w--vertical).w--large:before {
        border-width: 5px;
        margin-left: -10px;
        margin-top: -5px;
    }

    .w-widget-twitter-count-shim:not(.w--vertical):after {
        border-color: rgba(255, 255, 255, 0);
        border-right-color: white;
        border-width: 4px;
        margin-left: -8px;
        margin-top: -4px;
    }

    .w-widget-twitter-count-shim:not(.w--vertical).w--large:after {
        border-width: 5px;
        margin-left: -9px;
        margin-top: -5px;
    }

    .w-widget-twitter-count-shim.w--vertical {
        width: 61px;
        height: 33px;
        margin-bottom: 8px;
    }

    .w-widget-twitter-count-shim.w--vertical:before,
    .w-widget-twitter-count-shim.w--vertical:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .w-widget-twitter-count-shim.w--vertical:before {
        border-color: rgba(117, 134, 150, 0);
        border-top-color: #5d6c7b;
        border-width: 5px;
        margin-left: -5px;
    }

    .w-widget-twitter-count-shim.w--vertical:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: white;
        border-width: 4px;
        margin-left: -4px;
    }

    .w-widget-twitter-count-shim.w--vertical .w-widget-twitter-count-inner {
        font-size: 18px;
        line-height: 22px;
    }

    .w-widget-twitter-count-shim.w--vertical.w--large {
        width: 76px;
    }

    .w-widget-gplus {
        overflow: hidden;
    }

    .w-background-video {
        position: relative;
        overflow: hidden;
        height: 500px;
        color: white;
    }

    .w-background-video>video {
        background-size: cover;
        background-position: 50% 50%;
        position: absolute;
        right: -100%;
        bottom: -100%;
        top: -100%;
        left: -100%;
        margin: auto;
        min-width: 100%;
        min-height: 100%;
        z-index: -100;
    }

    .w-slider {
        position: relative;
        height: 300px;
        text-align: center;
        background: #dddddd;
        clear: both;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .w-slider-mask {
        position: relative;
        display: block;
        overflow: hidden;
        z-index: 1;
        left: 0;
        right: 0;
        height: 100%;
        white-space: nowrap;
    }

    .w-slide {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: 100%;
        white-space: normal;
        text-align: left;
    }

    .w-slider-nav {
        position: absolute;
        z-index: 2;
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        padding-top: 10px;
        height: 40px;
        text-align: center;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .w-slider-nav.w-round>div {
        border-radius: 100%;
    }

    .w-slider-nav.w-num>div {
        width: auto;
        height: auto;
        padding: 0.2em 0.5em;
        font-size: inherit;
        line-height: inherit;
    }

    .w-slider-nav.w-shadow>div {
        box-shadow: 0 0 3px rgba(51, 51, 51, 0.4);
    }

    .w-slider-nav-invert {
        color: #fff;
    }

    .w-slider-nav-invert>div {
        background-color: rgba(34, 34, 34, 0.4);
    }

    .w-slider-nav-invert>div.w-active {
        background-color: #222;
    }

    .w-slider-dot {
        position: relative;
        display: inline-block;
        width: 1em;
        height: 1em;
        background-color: rgba(255, 255, 255, 0.4);
        cursor: pointer;
        margin: 0 3px 0.5em;
        transition: background-color 100ms, color 100ms;
    }

    .w-slider-dot.w-active {
        background-color: #fff;
    }

    .w-slider-arrow-left,
    .w-slider-arrow-right {
        position: absolute;
        width: 80px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        cursor: pointer;
        overflow: hidden;
        color: white;
        font-size: 40px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .w-slider-arrow-left [class^="w-icon-"],
    .w-slider-arrow-right [class^="w-icon-"],
    .w-slider-arrow-left [class*=" w-icon-"],
    .w-slider-arrow-right [class*=" w-icon-"] {
        position: absolute;
    }

    .w-slider-arrow-left {
        z-index: 3;
        right: auto;
    }

    .w-slider-arrow-right {
        z-index: 4;
        left: auto;
    }

    .w-icon-slider-left,
    .w-icon-slider-right {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 1em;
        height: 1em;
    }

    .w-dropdown {
        display: inline-block;
        position: relative;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        z-index: 900;
    }

    .w-dropdown-btn,
    .w-dropdown-toggle,
    .w-dropdown-link {
        position: relative;
        vertical-align: top;
        text-decoration: none;
        color: #222222;
        padding: 20px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;
    }

    .w-dropdown-toggle {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: inline-block;
        cursor: pointer;
        padding-right: 40px;
    }

    .w-icon-dropdown-toggle {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        margin-right: 20px;
        width: 1em;
        height: 1em;
    }

    .w-dropdown-list {
        position: absolute;
        background: #dddddd;
        display: none;
        min-width: 100%;
    }

    .w-dropdown-list.w--open {
        display: block;
    }

    .w-dropdown-link {
        padding: 10px 20px;
        display: block;
        color: #222222;
    }

    .w-dropdown-link.w--current {
        color: #0082f3;
    }

    .w-nav[data-collapse="all"] .w-dropdown,
    .w-nav[data-collapse="all"] .w-dropdown-toggle {
        display: block;
    }

    .w-nav[data-collapse="all"] .w-dropdown-list {
        position: static;
    }

    @media screen and (max-width: 991px) {
        .w-nav[data-collapse="medium"] .w-dropdown,
        .w-nav[data-collapse="medium"] .w-dropdown-toggle {
            display: block;
        }
        .w-nav[data-collapse="medium"] .w-dropdown-list {
            position: static;
        }
    }

    @media screen and (max-width: 767px) {
        .w-nav[data-collapse="small"] .w-dropdown,
        .w-nav[data-collapse="small"] .w-dropdown-toggle {
            display: block;
        }
        .w-nav[data-collapse="small"] .w-dropdown-list {
            position: static;
        }
        .w-nav-brand {
            padding-left: 10px;
        }
    }

    @media screen and (max-width: 479px) {
        .w-nav[data-collapse="tiny"] .w-dropdown,
        .w-nav[data-collapse="tiny"] .w-dropdown-toggle {
            display: block;
        }
        .w-nav[data-collapse="tiny"] .w-dropdown-list {
            position: static;
        }
    }


    /**
     * ## Note
     * Safari (on both iOS and OS X) does not handle viewport units (vh, vw) well.
     * For example percentage units do not work on descendants of elements that
     * have any dimensions expressed in viewport units. It also doesn’t handle them at
     * all in `calc()`.
     */


    /**
     * Wrapper around all lightbox elements
     *
     * 1. Since the lightbox can receive focus, IE also gives it an outline.
     * 2. Fixes flickering on Chrome when a transition is in progress
     *    underneath the lightbox.
     */

    .w-lightbox-backdrop {
        color: #000;
        cursor: auto;
        font-family: serif;
        font-size: medium;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        letter-spacing: normal;
        line-height: normal;
        list-style: disc;
        text-align: start;
        text-indent: 0;
        text-shadow: none;
        text-transform: none;
        visibility: visible;
        white-space: normal;
        word-break: normal;
        word-spacing: normal;
        word-wrap: normal;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        color: #fff;
        font-family: "Helvetica Neue", Helvetica, Ubuntu, "Segoe UI", Verdana, sans-serif;
        font-size: 17px;
        line-height: 1.2;
        font-weight: 300;
        text-align: center;
        background: rgba(0, 0, 0, 0.9);
        z-index: 2000;
        outline: 0;
        /* 1 */
        opacity: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-transform: translate(0, 0);
        /* 2 */
    }


    /**
     * Neat trick to bind the rubberband effect to our canvas instead of the whole
     * document on iOS. It also prevents a bug that causes the document underneath to scroll.
     */

    .w-lightbox-backdrop,
    .w-lightbox-container {
        height: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    .w-lightbox-content {
        position: relative;
        height: 100vh;
        overflow: hidden;
    }

    .w-lightbox-view {
        position: absolute;
        width: 100vw;
        height: 100vh;
        opacity: 0;
    }

    .w-lightbox-view:before {
        content: "";
        height: 100vh;
    }


    /* .w-lightbox-content */

    .w-lightbox-group,
    .w-lightbox-group .w-lightbox-view,
    .w-lightbox-group .w-lightbox-view:before {
        height: 86vh;
    }

    .w-lightbox-frame,
    .w-lightbox-view:before {
        display: inline-block;
        vertical-align: middle;
    }


    /*
     * 1. Remove default margin set by user-agent on the <figure> element.
     */

    .w-lightbox-figure {
        position: relative;
        margin: 0;
        /* 1 */
    }

    .w-lightbox-group .w-lightbox-figure {
        cursor: pointer;
    }


    /**
     * IE adds image dimensions as width and height attributes on the IMG tag,
     * but we need both width and height to be set to auto to enable scaling.
     */

    .w-lightbox-img {
        width: auto;
        height: auto;
        max-width: none;
    }


    /**
     * 1. Reset if style is set by user on "All Images"
     */

    .w-lightbox-image {
        display: block;
        float: none;
        /* 1 */
        max-width: 100vw;
        max-height: 100vh;
    }

    .w-lightbox-group .w-lightbox-image {
        max-height: 86vh;
    }

    .w-lightbox-caption {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: .5em 1em;
        background: rgba(0, 0, 0, 0.4);
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .w-lightbox-embed {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .w-lightbox-control {
        position: absolute;
        top: 0;
        width: 4em;
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

    .w-lightbox-left {
        display: none;
        bottom: 0;
        left: 0;
        /* <svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 0 24 40" width="24" height="40"><g transform="rotate(45)"><path d="m0 0h5v23h23v5h-28z" opacity=".4"/><path d="m1 1h3v23h23v3h-26z" fill="#fff"/></g></svg> */
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0yMCAwIDI0IDQwIiB3aWR0aD0iMjQiIGhlaWdodD0iNDAiPjxnIHRyYW5zZm9ybT0icm90YXRlKDQ1KSI+PHBhdGggZD0ibTAgMGg1djIzaDIzdjVoLTI4eiIgb3BhY2l0eT0iLjQiLz48cGF0aCBkPSJtMSAxaDN2MjNoMjN2M2gtMjZ6IiBmaWxsPSIjZmZmIi8+PC9nPjwvc3ZnPg==");
    }

    .w-lightbox-right {
        display: none;
        right: 0;
        bottom: 0;
        /* <svg xmlns="http://www.w3.org/2000/svg" viewBox="-4 0 24 40" width="24" height="40"><g transform="rotate(45)"><path d="m0-0h28v28h-5v-23h-23z" opacity=".4"/><path d="m1 1h26v26h-3v-23h-23z" fill="#fff"/></g></svg> */
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii00IDAgMjQgNDAiIHdpZHRoPSIyNCIgaGVpZ2h0PSI0MCI+PGcgdHJhbnNmb3JtPSJyb3RhdGUoNDUpIj48cGF0aCBkPSJtMC0waDI4djI4aC01di0yM2gtMjN6IiBvcGFjaXR5PSIuNCIvPjxwYXRoIGQ9Im0xIDFoMjZ2MjZoLTN2LTIzaC0yM3oiIGZpbGw9IiNmZmYiLz48L2c+PC9zdmc+");
    }


    /*
     * Without specifying the with and height inside the SVG, all versions of IE render the icon too small.
     * The bug does not seem to manifest itself if the elements are tall enough such as the above arrows.
     * (http://stackoverflow.com/questions/16092114/background-size-differs-in-internet-explorer)
     */

    .w-lightbox-close {
        right: 0;
        height: 2.6em;
        /* <svg xmlns="http://www.w3.org/2000/svg" viewBox="-4 0 18 17" width="18" height="17"><g transform="rotate(45)"><path d="m0 0h7v-7h5v7h7v5h-7v7h-5v-7h-7z" opacity=".4"/><path d="m1 1h7v-7h3v7h7v3h-7v7h-3v-7h-7z" fill="#fff"/></g></svg> */
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii00IDAgMTggMTciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxNyI+PGcgdHJhbnNmb3JtPSJyb3RhdGUoNDUpIj48cGF0aCBkPSJtMCAwaDd2LTdoNXY3aDd2NWgtN3Y3aC01di03aC03eiIgb3BhY2l0eT0iLjQiLz48cGF0aCBkPSJtMSAxaDd2LTdoM3Y3aDd2M2gtN3Y3aC0zdi03aC03eiIgZmlsbD0iI2ZmZiIvPjwvZz48L3N2Zz4=");
        background-size: 18px;
    }


    /**
     * 1. All IE versions add extra space at the bottom without this.
     */

    .w-lightbox-strip {
        padding: 0 1vh;
        line-height: 0;
        /* 1 */
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }


    /*
     * 1. We use content-box to avoid having to do `width: calc(10vh + 2vw)`
     *    which doesn’t work in Safari anyway.
     * 2. Chrome renders images pixelated when switching to GPU. Making sure
     *    the parent is also rendered on the GPU (by setting translate3d for
     *    example) fixes this behavior.
     */

    .w-lightbox-item {
        display: inline-block;
        width: 10vh;
        padding: 2vh 1vh;
        box-sizing: content-box;
        /* 1 */
        cursor: pointer;
        -webkit-transform: translate3d(0, 0, 0);
        /* 2 */
    }

    .w-lightbox-active {
        opacity: .3;
    }

    .w-lightbox-thumbnail {
        position: relative;
        height: 10vh;
        background: #222;
        overflow: hidden;
    }

    .w-lightbox-thumbnail-image {
        position: absolute;
        top: 0;
        left: 0;
    }

    .w-lightbox-thumbnail .w-lightbox-tall {
        top: 50%;
        width: 100%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    .w-lightbox-thumbnail .w-lightbox-wide {
        left: 50%;
        height: 100%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }


    /*
     * Spinner
     *
     * Absolute pixel values are used to avoid rounding errors that would cause
     * the white spinning element to be misaligned with the track.
     */

    .w-lightbox-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        margin-left: -20px;
        border: 5px solid rgba(0, 0, 0, 0.4);
        border-radius: 50%;
        -webkit-animation: spin .8s infinite linear;
        animation: spin .8s infinite linear;
    }

    .w-lightbox-spinner:after {
        content: "";
        position: absolute;
        top: -4px;
        right: -4px;
        bottom: -4px;
        left: -4px;
        border: 3px solid transparent;
        border-bottom-color: #fff;
        border-radius: 50%;
    }


    /*
     * Utility classes
     */

    .w-lightbox-hide {
        display: none;
    }

    .w-lightbox-noscroll {
        overflow: hidden;
    }

    @media (min-width: 768px) {
        .w-lightbox-content {
            height: 96vh;
            margin-top: 2vh;
        }
        .w-lightbox-view,
        .w-lightbox-view:before {
            height: 96vh;
        }
        /* .w-lightbox-content */
        .w-lightbox-group,
        .w-lightbox-group .w-lightbox-view,
        .w-lightbox-group .w-lightbox-view:before {
            height: 84vh;
        }
        .w-lightbox-image {
            max-width: 96vw;
            max-height: 96vh;
        }
        .w-lightbox-group .w-lightbox-image {
            max-width: 82.3vw;
            max-height: 84vh;
        }
        .w-lightbox-left,
        .w-lightbox-right {
            display: block;
            opacity: .5;
        }
        .w-lightbox-close {
            opacity: .8;
        }
        .w-lightbox-control:hover {
            opacity: 1;
        }
    }

    .w-lightbox-inactive,
    .w-lightbox-inactive:hover {
        opacity: 0;
    }

    .w-richtext:before,
    .w-richtext:after {
        content: " ";
        display: table;
    }

    .w-richtext:after {
        clear: both;
    }

    .w-richtext ol,
    .w-richtext ul {
        overflow: hidden;
    }

    .w-richtext .w-richtext-figure-selected.w-richtext-figure-type-video div:before,
    .w-richtext .w-richtext-figure-selected[data-rt-type="video"] div:before {
        outline: 2px solid #2895f7;
    }

    .w-richtext .w-richtext-figure-selected.w-richtext-figure-type-image div,
    .w-richtext .w-richtext-figure-selected[data-rt-type="image"] div {
        outline: 2px solid #2895f7;
    }

    .w-richtext figure.w-richtext-figure-type-video>div:before,
    .w-richtext figure[data-rt-type="video"]>div:before {
        content: '';
        position: absolute;
        display: none;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    .w-richtext figure {
        position: relative;
        max-width: 60%;
    }

    .w-richtext figure>div:before {
        cursor: default!important;
    }

    .w-richtext figure img {
        width: 100%;
    }

    .w-richtext figure figcaption.w-richtext-figcaption-placeholder {
        opacity: 0.6;
    }

    .w-richtext figure div {
        /* fix incorrectly sized selection border in the data manager */
        font-size: 0px;
        color: transparent;
    }

    .w-richtext figure.w-richtext-figure-type-image,
    .w-richtext figure[data-rt-type="image"] {
        display: table;
    }

    .w-richtext figure.w-richtext-figure-type-image>div,
    .w-richtext figure[data-rt-type="image"]>div {
        display: inline-block;
    }

    .w-richtext figure.w-richtext-figure-type-image>figcaption,
    .w-richtext figure[data-rt-type="image"]>figcaption {
        display: table-caption;
        caption-side: bottom;
    }

    .w-richtext figure.w-richtext-figure-type-video,
    .w-richtext figure[data-rt-type="video"] {
        width: 60%;
        height: 0;
    }

    .w-richtext figure.w-richtext-figure-type-video iframe,
    .w-richtext figure[data-rt-type="video"] iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .w-richtext figure.w-richtext-figure-type-video>div,
    .w-richtext figure[data-rt-type="video"]>div {
        width: 100%;
    }

    .w-richtext figure.w-richtext-align-center {
        margin-right: auto;
        margin-left: auto;
        clear: both;
    }

    .w-richtext figure.w-richtext-align-center.w-richtext-figure-type-image>div,
    .w-richtext figure.w-richtext-align-center[data-rt-type="image"]>div {
        max-width: 100%;
    }

    .w-richtext figure.w-richtext-align-normal {
        clear: both;
    }

    .w-richtext figure.w-richtext-align-fullwidth {
        width: 100%;
        max-width: 100%;
        text-align: center;
        clear: both;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .w-richtext figure.w-richtext-align-fullwidth>div {
        display: inline-block;
        /* padding-bottom is used for aspect ratios in video figures
          we want the div to inherit that so hover/selection borders in the designer-canvas
          fit right*/
        padding-bottom: inherit;
    }

    .w-richtext figure.w-richtext-align-fullwidth>figcaption {
        display: block;
    }

    .w-richtext figure.w-richtext-align-floatleft {
        float: left;
        margin-right: 15px;
        clear: none;
    }

    .w-richtext figure.w-richtext-align-floatright {
        float: right;
        margin-left: 15px;
        clear: none;
    }

    .w-nav {
        position: relative;
        background: #dddddd;
        z-index: 1000;
    }

    .w-nav:before,
    .w-nav:after {
        content: " ";
        display: table;
    }

    .w-nav:after {
        clear: both;
    }

    .w-nav-brand {
        position: relative;
        float: left;
        text-decoration: none;
        color: #333333;
    }

    .w-nav-link {
        position: relative;
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        color: #222222;
        padding: 20px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }

    .w-nav-link.w--current {
        color: #0082f3;
    }

    .w-nav-menu {
        position: relative;
        float: right;
    }

    .w--nav-menu-open {
        display: block !important;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #C8C8C8;
        text-align: center;
        overflow: visible;
        min-width: 200px;
    }

    .w--nav-link-open {
        display: block;
        position: relative;
    }

    .w-nav-overlay {
        position: absolute;
        overflow: hidden;
        display: none;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
    }

    .w-nav-overlay .w--nav-menu-open {
        top: 0;
    }

    .w-nav[data-animation="over-left"] .w-nav-overlay {
        width: auto;
    }

    .w-nav[data-animation="over-left"] .w-nav-overlay,
    .w-nav[data-animation="over-left"] .w--nav-menu-open {
        right: auto;
        z-index: 1;
        top: 0;
    }

    .w-nav[data-animation="over-right"] .w-nav-overlay {
        width: auto;
    }

    .w-nav[data-animation="over-right"] .w-nav-overlay,
    .w-nav[data-animation="over-right"] .w--nav-menu-open {
        left: auto;
        z-index: 1;
        top: 0;
    }

    .w-nav-button {
        position: relative;
        float: right;
        padding: 18px;
        font-size: 24px;
        display: none;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .w-nav-button.w--open {
        background-color: #C8C8C8;
        color: white;
    }

    .w-nav[data-collapse="all"] .w-nav-menu {
        display: none;
    }

    .w-nav[data-collapse="all"] .w-nav-button {
        display: block;
    }

    @media screen and (max-width: 991px) {
        .w-nav[data-collapse="medium"] .w-nav-menu {
            display: none;
        }
        .w-nav[data-collapse="medium"] .w-nav-button {
            display: block;
        }
    }

    @media screen and (max-width: 767px) {
        .w-nav[data-collapse="small"] .w-nav-menu {
            display: none;
        }
        .w-nav[data-collapse="small"] .w-nav-button {
            display: block;
        }
        .w-nav-brand {
            padding-left: 10px;
        }
    }

    @media screen and (max-width: 479px) {
        .w-nav[data-collapse="tiny"] .w-nav-menu {
            display: none;
        }
        .w-nav[data-collapse="tiny"] .w-nav-button {
            display: block;
        }
    }

    .w-tabs {
        position: relative;
    }

    .w-tabs:before,
    .w-tabs:after {
        content: " ";
        display: table;
    }

    .w-tabs:after {
        clear: both;
    }

    .w-tab-menu {
        position: relative;
    }

    .w-tab-link {
        position: relative;
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        padding: 9px 30px;
        text-align: left;
        cursor: pointer;
        color: #222222;
        background-color: #dddddd;
    }

    .w-tab-link.w--current {
        background-color: #C8C8C8;
    }

    .w-tab-content {
        position: relative;
        display: block;
        overflow: hidden;
    }

    .w-tab-pane {
        position: relative;
        display: none;
    }

    .w--tab-active {
        display: block;
    }

    @media screen and (max-width: 479px) {
        .w-tab-link {
            display: block;
        }
    }

    .w-ix-emptyfix:after {
        content: "";
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .w-dyn-empty {
        padding: 10px;
        background-color: #dddddd;
    }

    .w-dyn-bind-empty {
        display: none !important;
    }

    .w-condition-invisible {
        display: none !important;
    }

    .section-authority {
        padding-bottom: 100px;
        background-position: 0px 0px, 50% 50%;
        background-size: auto, cover;
        background-repeat: repeat, repeat-y;
        background-attachment: scroll, fixed;
    }

    .section.section-aut {
        padding-bottom: 0px;
        background-position: 0px 0px, 50% 100%;
        background-size: auto, cover;
        background-repeat: repeat, repeat-y;
        background-attachment: scroll, fixed;
    }

    .section-cta {
        padding-top: 56px;
    }

    .heading {
        color: #fff;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }

    .section-3 {
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: #f1f1f1;
    }

    .section-processo {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .section-footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .section-cta2 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .section-split {
        border-top: 1px solid #dedede;
        background-color: #00a8c9;
    }

    .navibar-authority {
        margin-bottom: 56px;
        padding-right: 40px;
        padding-left: 40px;
        text-align: center;
    }

    .contador {
        color: #fff;
        font-size: 48px;
        text-align: center;
    }

    .countdown.count-authority {
        padding: 0px!important;
    }

    .button-authority {
        display: inline-block;
        height: 48px;
        padding-top: 12px;
        border-radius: 25px;
        -webkit-transition: background-color 400ms ease;
        transition: background-color 400ms ease;
        color: #21435a;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }

    .button-authority:hover {
        background-color: #fff;
    }

    .button-authority.btn-center {
        display: block;
        width: 225px;
        margin-top: 24px;
        margin-right: auto;
        margin-left: auto;
        color: #21435a;
    }

    .button-authority.btn-center.btn-border {
        border: 2px solid #ffad00;
    }

    .button-authority.btn-center.btn-border.button-authority.btn-left {
        height: 48px;
        padding-top: 8px;
        float: right;
        color: #21435a;
    }

    .button-authority.btn-center.btn-border.button-authority.ghost-left {
        height: auto;
        margin-top: 12px;
        float: right;
        border: 2px solid #ffad00;
        background-color: rgba(255, 173, 0, 0);
        -webkit-transition: background-color 400ms ease, border-color 400ms ease;
        transition: background-color 400ms ease, border-color 400ms ease;
        color: #fff;
    }

    .button-authority.btn-center.btn-border.button-authority.ghost-left:hover {
        border-color: #fff;
        background-color: #fff;
        color: #21435a;
    }

    .button-authority.btn-center.btn-border.button-authority.ghost-center {
        display: block;
        width: 200px;
        margin-right: auto;
        margin-left: auto;
        border: 2px solid #ffad00;
        background-color: hsla(0, 0%, 100%, 0);
    }

    .button-authority.btn-center.btn-border.button-authority.ghost-center:hover {
        background-color: #ffad00;
    }

    .paragraph {
        line-height: 24px;
    }

    .paragraph.paragraph-neg {
        color: #fff;
    }

    .image {
        margin-top: 24px;
        float: left;
    }

    .column-itens {
        padding-right: 24px;
        padding-bottom: 16px;
    }

    .div-block {
        position: relative;
        height: 450px;
        max-width: 50%;
        min-width: 50%;
        padding-top: 100px;
        padding-bottom: 100px;
        float: left;
        background-color: #00a8c9;
    }

    .div-block-2 {
        max-width: 50%;
        min-height: 500px;
        min-width: 50%;
        padding-top: 100px;
        padding-bottom: 100px;
        float: right;
        background-color: #fff;
    }

    .div-card {
        padding: 24px;
        border: 1px solid #dedede;
        border-radius: 10px;
        background-color: #fff;
    }

    .heading-2 {
        color: #00a8c9;
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .heading-2.topicos {
        margin-top: 0px;
    }

    .creditos {
        margin-top: 24px;
        color: #fff;
        font-size: 12px;
    }

    .heading-pre-h {
        margin-bottom: 0px;
        color: #ffad00;
        font-weight: 400;
        text-align: center;
    }

    .text-field {
        display: block;
        height: 48px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 4px;
    }

    .text-field.text-field-center {
        width: 50%;
    }

    .guia {
        position: relative;
        left: 20px;
        top: 0;
        bottom: 25px;
        display: block;
        float: right;
        opacity: 0.35;
    }

    .guia.guia-direita {
        left: -20px;
        float: left;
        -webkit-transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
        transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .heading-cta-neg {
        margin-bottom: 24px;
        color: #ffad00;
        text-align: center;
    }

    .nav-link {
        margin-right: 16px;
        margin-left: 16px;
        padding-right: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
        border-bottom: 3px solid transparent;
        -webkit-transition: border-color 350ms ease;
        transition: border-color 350ms ease;
        color: #fff;
        text-align: center;
        text-decoration: none;
    }

    .list-item-authority {
        margin-bottom: 2px;
        padding-bottom: 6px;
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease;
        color: #fff;
        font-size: 14px;
    }

    .social-icon {
        margin-right: 16px;
        margin-bottom: 16px;
        opacity: 0.8;
        -webkit-transition: opacity 400ms ease;
        transition: opacity 400ms ease;
    }

    .social-icon:hover {
        opacity: 1;
    }

    .image-2 {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .div-block-3 {
        display: block;
        margin-bottom: 28px;
        border-style: none;
        border-bottom-width: 2px;
        border-bottom-color: #ffad00;
    }

    .div-block-4 {
        margin-bottom: 32px;
        padding-bottom: 12px;
        padding-left: 32px;
    }

    .text-block {
        display: inline-block;
        margin-top: 2px;
        color: #fff;
        font-size: 18px;
        line-height: 24px;
    }

    .text-block.text-descricao {
        font-size: 14px;
    }

    .image-3 {
        display: block;
        margin-right: 16px;
        float: left;
        width: 27px;
    }

    .image-4 {
        float: right;
        border-radius: 50px;
    }

    .image-5 {
        position: relative;
        left: 0px;
        top: -42px;
        margin-right: 16px;
        float: left;
    }

    .heading-cta-branco {
        margin-top: 0px;
        color: #fff;
        text-transform: uppercase;
    }

    .row-2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        border-radius: 10px;
        background-color: #fff;
        background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, .19), #fff 43%);
        background-image: linear-gradient(0deg, rgba(0, 0, 0, .19), #fff 43%);
    }

    .row-2.row-passos {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .section-bullets {
        padding-top: 100px;
        padding-bottom: 100px;
        border-top: 1px solid #dedede;
        background-position: 0px 0px, 0px 0px;
        background-size: auto, cover;
        background-attachment: scroll, fixed;
    }

    .column-3 {
        padding: 32px 24px 24px 40px;
        border-radius: 10px 0px 0px 10px;
        background-color: #00a8c9;
        background-image: -webkit-linear-gradient(45deg, #21435a, #00a8c9);
        background-image: linear-gradient(45deg, #21435a, #00a8c9);
    }

    .column-4 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-top: 48px;
        padding-bottom: 48px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .heading-3 {
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 24px;
        padding-bottom: 16px;
        color: #fff;
        font-weight: 400;
    }

    .heading-3.heading-div {
        display: block;
        color: #00a8c9;
        text-align: right;
    }

    .image-6 {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .paragraph-3 {
        display: block;
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        color: #fff;
        text-align: center;
    }

    .section-depoimentos {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .row-3 {
        margin-bottom: 24px;
    }

    .image-7 {
        display: block;
        max-height: 320px;
        margin-right: auto;
        margin-left: auto;
    }

    .row-4 {
        margin-bottom: 24px;
    }

    .row-4.row-center {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .nav-menu {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .menu-authority {
        display: block;
        margin-right: auto;
        margin-left: auto;
        float: none;
        text-align: center;
    }

    .toast {
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 9999;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        padding-right: 16px;
        padding-left: 16px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
        align-content: flex-end;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #333;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .48);
    }

    .p-aviso {
        margin-top: 10px;
        font-size: 12px;
        line-height: 16px;
    }

    .p-aviso.action {
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    .div-block-5 {
        display: block;
        margin-right: auto;
        margin-left: auto;
        color: #fff;
    }

    .text-span {
        text-decoration: underline;
    }

    .column-5 {
        margin-top: 10px;
    }

    .column-6 {
        position: static;
        z-index: 9999;
    }

    .brand {
        margin-top: 12px;
    }

    .navbar-authority {
        margin-bottom: 80px;
        padding-right: 40px;
        padding-left: 40px;
        background-color: transparent;
    }

    .row-5 {
        margin-bottom: 24px;
    }

    .col-videos {
        padding-right: 16px;
    }

    .heading-4 {
        color: #21435a;
    }

    .link {
        -webkit-transition: color 400ms ease;
        transition: color 400ms ease;
        color: #00a8c9;
    }

    .link:hover {
        color: #21435a;
    }

    .video {
        margin-bottom: 24px;
    }

    .section-videos {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .section-blog {
        padding-top: 40px;
        padding-bottom: 100px;
    }

    .image-8 {
        margin-bottom: 10px;
    }

    .section-midia {
        padding-top: 56px;
        padding-bottom: 56px;
        background-color: #f1f1f1;
    }

    .heading-5 {
        margin-bottom: 40px;
        color: #00a8c9;
        font-weight: 400;
        text-align: center;
    }

    .image-9 {
        display: block;
        margin-right: auto;
        margin-left: auto;
        opacity: 0.5;
    }

    .p-post {
        font-size: 16px;
    }

    .row-6 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .h-post {
        -webkit-transition: color 400ms ease;
        transition: color 400ms ease;
        color: #21435a;
    }

    .h-post:hover {
        color: #00a8c9;
        text-decoration: underline;
    }

    .row-7 {
        margin-bottom: 56px;
    }

    .h-skills {
        margin-top: 10px;
        margin-right: 16px;
        color: #00a8c9;
        font-size: 20px;
        font-weight: 400;
        text-align: right;
    }

    .column-10 {
        padding-left: 32px;
    }

    .div-skills {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 10px;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .column-11 {
        padding-right: 32px;
    }

    .h-passo {
        margin-top: 0px;
        padding-bottom: 16px;
        float: left;
        border-bottom: 2px solid #00a8c9;
        color: #ffad00;
        font-size: 38px;
        font-weight: 400;
    }

    .h-passo-descricao {
        margin-bottom: 8px;
        color: #fff;
    }

    .container-3 {
        padding: 24px 24px 56px;
        border-radius: 10px;
        background-color: #21435a;
        background-image: -webkit-linear-gradient(45deg, #21435a, #00a8c9);
        background-image: linear-gradient(45deg, #21435a, #00a8c9);
        box-shadow: 0 7px 11px 0 rgba(0, 0, 0, .31);
    }

    html.w-mod-js *[data-ix="subir"] {
        opacity: 0;
        -webkit-transform: translate(0px, 100px);
        -ms-transform: translate(0px, 100px);
        transform: translate(0px, 100px);
    }

    @media (max-width: 991px) {
        .section-3 {
            padding-top: 64px;
            padding-bottom: 64px;
        }
        .section-cta2 {
            padding-top: 64px;
            padding-bottom: 64px;
        }
        .menu-authority {
            right: -190px;
            background-color: #21435a;
        }
        .navbar-authority {
            margin-bottom: 0px;
        }
        .menu-button {
            top: -45px;
            right: -20px;
        }
        .menu-button.w--open {
            background-color: #21435a;
        }
        .section-videos {
            padding-top: 64px;
            padding-bottom: 64px;
        }
        .section-blog {
            padding-bottom: 64px;
        }
    }

    @media (max-width: 767px) {
        .section-authority {
            padding-bottom: 32px;
        }
        .heading {
            display: block;
            width: 90%;
            margin-right: auto;
            margin-left: auto;
        }
        .section-3 {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .section-processo {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .section-cta2 {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .contador {
            display: block;
            width: 90%;
            margin-right: auto;
            margin-left: auto;
        }
        .paragraph {
            display: block;
            width: 90%;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }
        .paragraph.paragraph-neg {
            display: block;
            width: 90%;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }
        .column-itens {
            margin-bottom: 32px;
            padding-left: 24px;
        }
        .div-card {
            margin-right: 24px;
            margin-left: 24px;
        }
        .heading-2 {
            text-align: center;
        }
        .heading-2.topicos {
            text-align: center;
        }
        .text-field {
            width: 80%;
        }
        .heading-cta-neg {
            display: block;
            width: 90%;
            margin-right: auto;
            margin-left: auto;
        }
        .nav-link {
            display: inline-block;
        }
        .text-block.text-descricao {
            text-align: center;
        }
        .image-4 {
            display: block;
            margin-right: auto;
            margin-left: auto;
            float: none;
        }
        .image-5 {
            left: 123px;
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
        .heading-cta-branco {
            display: block;
            width: 90%;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }
        .column {
            display: block;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }
        .column-2 {
            margin-top: 24px;
            margin-bottom: 24px;
            text-align: center;
        }
        .row-2 {
            display: block;
            margin-right: auto;
            margin-left: auto;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }
        .column-3 {
            padding-top: 56px;
            padding-bottom: 56px;
            padding-left: 24px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 0px;
        }
        .heading-3 {
            display: block;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }
        .heading-3.heading-div {
            text-align: center;
        }
        .row-4.row-center {
            display: block;
        }
        .menu-authority {
            right: 0px;
            background-color: #21435a;
        }
        .p-aviso {
            text-align: center;
        }
        .column-5 {
            margin-top: 0px;
        }
        .navbar-authority {
            padding-right: 16px;
            padding-left: 16px;
        }
        .menu-button {
            top: -44px;
            right: 0px;
        }
        .menu-button.w--open {
            background-color: #21435a;
        }
        .column-7 {
            top: -70px;
        }
        .column-8 {
            top: -50px;
        }
        .column-9 {
            display: block;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }
        .container-2 {
            position: relative;
            top: -40px;
        }
        .col-videos {
            padding-right: 10px;
        }
        .heading-4 {
            text-align: center;
        }
        .link {
            display: block;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }
        .video {
            display: block;
            width: 90%;
            margin-right: auto;
            margin-left: auto;
        }
        .section-midia {
            padding-right: 16px;
            padding-bottom: 40px;
            padding-left: 16px;
        }
        .heading-5 {
            margin-bottom: 16px;
        }
        .row-6 {
            display: block;
        }
        .h-post {
            text-align: center;
        }
        .column-10 {
            padding-left: 10px;
        }
        .div-skills {
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        .column-11 {
            padding-right: 10px;
        }
        .column-12 {
            display: block;
            margin: 32px auto -40px;
            text-align: center;
        }
        .image-10 {
            display: block;
            width: 80%;
            margin-top: 40px;
            margin-right: auto;
            margin-left: auto;
        }
        .image-11 {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
        .image-12 {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
        .image-13 {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
        .column-13 {
            margin-bottom: 24px;
        }
        .h-passo {
            display: block;
            max-width: 200px;
            margin-right: auto;
            margin-left: auto;
            float: none;
            text-align: center;
        }
        .h-passo-descricao {
            text-align: center;
        }
        .column-14 {
            display: block;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }
    }

    @media (max-width: 479px) {
        .heading {
            display: block;
            width: 90%;
            margin-right: auto;
            margin-left: auto;
        }
        .section-3 {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .section-processo {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .section-cta2 {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .contador {
            display: block;
            width: 90%;
            margin-right: auto;
            margin-left: auto;
        }
        .paragraph {
            text-align: center;
        }
        .paragraph.paragraph-neg {
            text-align: center;
        }
        .column-itens {
            margin-bottom: 32px;
        }
        .heading-2 {
            text-align: center;
        }
        .creditos {
            margin-bottom: 32px;
        }
        .text-field.text-field-center {
            width: 90%;
        }
        .nav-link {
            display: block;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }
        .image-4 {
            display: block;
            margin-right: auto;
            margin-left: auto;
            float: none;
            text-align: center;
        }
        .image-5 {
            position: relative;
            left: 0px;
            float: none;
        }
        .heading-cta-branco {
            text-align: center;
        }
        .column {
            text-align: center;
        }
        .unordered-list {
            text-align: center;
        }
        .column-2 {
            margin-bottom: 32px;
            text-align: center;
        }
        .heading-3.heading-div {
            text-align: center;
        }
        .paragraph-3 {
            width: 80%;
        }
        .section-depoimentos {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .menu-authority {
            right: 0px;
        }
        .p-aviso {
            text-align: center;
        }
        .navbar {
            padding-left: 0px;
        }
        .menu-button {
            right: -15px;
        }
        .column-7 {
            top: -75px;
        }
        .column-8 {
            top: -61px;
        }
        .container-authority {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
        .section-midia {
            padding-bottom: 40px;
        }
        .row-6 {
            display: block;
        }
        .column-13 {
            margin-bottom: 24px;
        }
    }
}
