#main {
    padding-top: 100px;
    padding-bottom: 150px;
    background-attachment: scroll;
    background-color: rgb(252, 74, 26);
    background-size: cover;
    background-repeat: repeat;
    border-bottom: 0px none rgb(85, 85, 85);
    background-image: url("/img/n-Online-Electronics-Store-8-img-1625008-20190625203100.png");

    h2 {
        color: rgb(255, 255, 255);
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 30px;
        margin-top: 0px;
    }

    h3 {
        color: rgb(255, 255, 255);
        font-size: 26px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    ul {
        li {
            //margin-bottom: -39px;
            font-size: 18px;
            color: rgb(255, 255, 255);
            margin-top: 0px;
            i {
                color: rgb(225, 237, 245);
                font-size: 40px;
                opacity: 1;
            }
        }
    }

    form {
        border-top: 0px;

        h3 {
            margin-top: 0;
        }
    }

    .form-group {
        margin-bottom: 20px;

        label {
            color: rgb(255, 255, 255);
            font-size: 20px;
        }
        .form-control,
        .form-control:focus {
            background:#fff;
            color: #333;
            padding:3%;
            border: 1px #999 solid;
        }
    }
}

@media (min-width: 767px) {

    #main {
        #col-left {
            border-right: 2px solid rgb(255, 255, 255);
        }
    }
}

#btn-contato {
    border-color: rgb(130, 255, 5);
    white-space: normal;
    margin-top: 3%;
    background-color: rgb(130, 255, 5);
    color: rgb(0, 0, 0);
    border-width: 1px;
    border-radius: 5px;
    font-size: 20px;
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-name: shake;
}
