#main {
    padding-top: 0 !important;
    padding-bottom: 150px;
    background-attachment: scroll;
    background-color: rgb(252, 74, 26);
    background-size: cover;
    background-repeat: repeat;
    border-bottom: 0px none rgb(85, 85, 85);
    background-image: url("/img/Design-sem-nome-1-img-1625008-20190702161103.png");

    .main-logo {
        width: 300px;
        margin-left: 50px;
        margin-bottom: 20px;
    }

    h2 {
        color: rgb(255, 255, 255);
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 30px;
        margin-top: 0px;
    }

    h3 {
        color: rgb(255, 255, 255);
        font-size: 26px;
        margin-bottom: 0;
        margin-top: 20px;
    }

    ul {
        li {
            //margin-bottom: -39px;
            font-size: 18px;
            color: rgb(255, 255, 255);
            margin-top: 0px;
            i {
                color: rgb(225, 237, 245);
                font-size: 40px;
                opacity: 1;
            }
        }
    }

    form {
        border-top: 0px;

        h3 {
            margin-top: 0;
        }
    }

    .form-group {
        margin-bottom: 5px;

        label {
            color: rgb(255, 255, 255);
            font-size: 20px;
        }
        .form-control,
        .form-control:focus {
            background:#fff;
            color: #333;
            padding: 2%;
            border: 1px #999 solid;
        }
    }

    .form-group-radio {
        margin-bottom: 5px;

        label {
            color: rgb(255, 255, 255);
            font-size: 20px;
            cursor: pointer;
        }
        input {
            cursor: pointer;
            margin-top: 10px;
        }
    }
}

@media (min-width: 767px) {

    #main {
        #col-left {
            border-right: 2px solid rgb(255, 255, 255);
        }
    }
}

@media (max-width: 767px) {
    #main {
        .main-logo {
            width: 220px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 15px;
            margin-bottom: 20px;
        }

        .subt {
            text-align: center;
        }
    }
}

#wrap form button {
    margin-top: 20px;
}

#btn-contato {
    border-color: rgb(130, 255, 5);
    white-space: normal;
    margin-top: 3%;
    background-color: rgb(130, 255, 5);
    color: rgb(0, 0, 0);
    border-width: 1px;
    border-radius: 5px;
    font-size: 20px;
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-name: shake;
}

#scrollBtn {
    border-color: rgb(130, 255, 5);
    background-color: rgb(130, 255, 5);
    color: rgb(0, 0, 0);
    border-width: 1px;
    font-weight: normal;
    font-size: 20px;
    white-space: normal;
}
