@import "../../node_modules/bootstrap/scss/functions.scss";
@import "../../node_modules/bootstrap/scss/variables.scss";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints.scss";
@import "theme/partials/variables.scss";
@import "theme/partials/vw-calculator.scss";


.title-forms {
    padding-bottom:get-vh(50px);
    color: $brand-orange;
    font-size: 24px;
    line-height: 28px;
}

.ifa {
    font-size: 36px;
    line-height: 36px;
}


.novo-pedido {
    position: absolute;
    right: 15px;
}

.title-forms {
    float: left;
}

.itens {
    padding: 20px;
    background-color: #F9F9F9; //   height: get-vw(80px);
    //   line-height: 4vw !important;
    margin-bottom: get-vw(10px);
    .itens-pedido {
        list-style-type: none;
        li {
            text-align: left;
        }

    }
    .data,.status,.value,.details,.pedidos{
        line-height: 2;
    }
    .data,.status{
        margin-top: 5px;
    }
    .pedidos,
    .value {
        font-size: 18px;
        color: $brand-orange;
        font-weight: bold;
        i {
            padding-right: get-vw(10px);
        }
        .fa-check-circle {
            color: $brand-success;
        }
        .fa-exclamation-circle {
            color: #FDB713;
        }
    }
    .data {
        color: $grey-dev;
        font-size: 14px;
    }
    .status {
        color: $brand-success;
        font-size: 14px;
    }
    .details {
        font-size: 14px;
        button {
            width: 100%;
            padding: 6px 3px;
        }
    }
}

#detailsModal{
    .modal-body{
        height: 300px;
        overflow-y: auto;
    }
}
@include media-breakpoint-down(lg){
    .itens{
        .value{
            font-size: 16px;
        }
    }
}
@include media-breakpoint-down(sm) {
    .card-header {
        padding: 0 10px 0 10px !important;
        height: 38px;
        margin: 0px 10px 8px 10px;
        button {
            line-height: 8px;
            text-decoration: none;
            &:focus {
                text-decoration: none;
            }
            i {
                position: relative;
                top: 10px;
                font-size: 24px !important;
            }
            span:nth-of-type(2) {
                padding-left: 25px;
            }
        }
        .value {
            font-size: 12px !important;
            line-height: 1;
            margin-top: -8px;
        }
    }
    .card-body,
    #detailsModal {
        width: 100%;
        padding-right: 15px !important;
        ul{
            list-style-type: none;
            li{
                float: none;
            }
        }
    }
    #detailsModal{
        .itens{
            line-height:25px;
            border-bottom: 1px solid $grey-dev;
            padding-top: 25px;
            &:last-of-type{
                border: none;
            }
        }
        .modal-dialog{
            width: 99% !important;
        }
    }
    .ifa.fa {
        &.collapsed {
            transform: rotateX(0);
        }
        transition: ease-in-out 200ms;
        transform: rotateX(180deg);
        cursor: pointer;
    }
}


.alert {
    max-width: 100%;
}
