@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "theme/partials/variables";
@import "theme/partials/vw-calculator.scss";

.img-orc {
    width: 60px;
    float: right;
}

.form-control {
    border: 1px solid $brand-orange;
    font-size: 2rem;
}

textarea.form-control {
    border: 1px solid $brand-orange;
    resize: none;
    font-size: 2rem;
    line-height: 1.5rem;
}
