@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "theme/partials/variables";
@import "theme/partials/vw-calculator.scss";

.fa{
    &-truck{
        transform: rotateY(3rad);
    }
}
.breadcrumb{
    a{
        color: $grey-dev;
        font-weight: bold;
        &:last-of-type{
            font-weight: thin;
        }
    }
}
.card{
    .list{
        &-group{
            &-item{
                background-color: transparent !important;
            }
        }
    }
}


span.itens-info.text-orange {
    padding-right: 10px;
    padding-left: 10px;
}

.col-1 {
    margin-top: -10px;
}

@include media-breakpoint-up(lg){
    .btn-b4{
        min-width: 220px;
        height: 50px;
    }
}
@include media-breakpoint-down(xs){
    .text{
        &-lg{
            font-size: 14px;
        }
        &-md{
            font-size: 12px;
        }
        &-sm{
            font-size: 10px;
        }
        &-hg{
            font-size: 14px;
        }
    }
    .list-group-item{
        font-size: 8px;
        line-height: 2;
    }
    .fa{
        &-check-circle{
            font-size: 24px;
        }
        &-truck,
        &-credit-card{
            font-size: 18px;
        }
    }
    .botoes-itens.col-5{
        margin-top: -45px;
    }
}

@media screen and (max-width: 640px) {
    p.text-lg.font-weight-bold {
        margin-bottom: 10px;
    }
}

.modal-backdrop {
    background-color: #ffffff !important;
    &.show {
        opacity: 0.1;
    }
}
