@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "theme/partials/variables";
@import "theme/partials/vw-calculator.scss";

.container {
    .text-center {
        @media (min-width: 576px) {
            .img-product {
                width: get-vw(250px);
                height: get-vh(200px);
                border: none;
            }
        }

        @media (max-width: 575.98px) {
            .img-product {
                width: get-vw(750px);
                height: get-vh(250px);
                border: none;
            }
        }
    }
}

a {
    color: $brand-orange;
    &:hover{
        text-decoration: none;
    }
}
