@import "theme/old/request-order.scss";
@import "theme/old/fileinput.scss";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "theme/partials/variables";
@import "theme/partials/vw-calculator.scss";

.icone {
    filter: grayscale(100%);

    &.color {
        filter: grayscale(0%) brightness(100%);
    }
}
.icone:active {
    filter: grayscale(0%) brightness(100%) ;
}


.frete-retirada {
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
}

.textEndereco {
    font-size: 14px;
    font-family: Lato;
    color: #fff;
    width: 100%;
    margin-left: 10px;
}
.text-retirada {
    padding-top: 5px;
    margin-left: 10px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    font-family: Lato;
}
.text-retirada-mtr {
    margin-left: 10px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    font-family: Lato;
}


#fileInfoApp {
    #novo {
        font-size: 24px;
        font-weight: bold;
    }
}

.fileinput-cancel-button,
.fileinput-remove-button {
    display: none !important;
}

#collapseOne{
    .card:last-of-type{
        filter: grayscale(0%);
        .footer-card{
            filter: grayscale(100%);
        }
        .active {
            .footer-card{
                filter: grayscale(0%);
            }
        }
        &:hover {
            .footer-card{
                filter: grayscale(0%);
            }
        }
    }
}

.anexoModal {
    .btn:hover {
        text-decoration: none;
    }
    .btn:active {
        text-decoration: none;
    }
    .fixo {
        position: fixed;
        z-index: 99;
        width: 255px;
        top: 20px;
    }
    .fileinput-upload {
        display: none;
    }
    .file-preview {
        padding: 6px;
    }
    .file-drop-zone {
        margin: 5px;

    }
    .endereco-cli {
        border: none !important;
        color: #a8a8a8;
        float: left;
        font-size: 12px;
        position: absolute;
        width: 100% !important;
        display: none;
    }
    .file-caption {
        height: 100%;
        border: thin solid #a8a8a8;
    }
    .file-caption-name {
        margin-left: 10px;
    }
}

.cupom-desconto {
    .cupom{
        margin-right: 0px;
    }
    .fa-percent{
        padding-right: 11px;
    }
    justify-content: right;
    input {
        width: 60%;
        margin-right: 10%;
        text-transform: uppercase;
        &[readonly] {
            background-color: $brand-white !important;
        }
    }
    .fa-times-circle {
        cursor: pointer;
    }
    padding-bottom: 15px;
    .btn-aplicar {
        margin-top: 15px;
    }
}

.submit-car{
    max-width: 220px;
    margin-left: 5px;
}

.informacoes {
    margin-bottom: get-vh(80px);
}

.btn-left-margin {
    margin-left: get-vw(29px) !important;
}

.address-line {
    color: #a8a8a8;
    margin-bottom: 20px;
    font-size: 14px;
    margin-left: 10px;
}

.selected-iitem {
    padding-left: 5px;
}

.row-attachment-copies {
    font-size: 10px;
    color: #67A4FF;
    .form-control {
        margin-top: 5px;
        min-width: 82px;
        width: 82px;
        font-size: 18px;
        color: #67A4FF;
        border: thin solid #67A4FF;
        text-align: center;
    }
}

.btn-anexar:disabled,
#manualInput:disabled {
    background: #DCDCDC;
}

.card-header {
    border-top: 1px solid #a8a8a8 !important;
    border-bottom: none !important;
    .btn-link{
        font-weight: lighter !important;
    }
}

#headingOne {
    border: none !important;
}

#heading {
    &One,
    &Two,
    &Three,
    &Four,
    &Five,
    &Six {
        padding-left: 0;
        >h1,
        button {
            padding-left: 0;
        }
    }
}

.card-img-top {
    margin-bottom: 10px;
    height: 140px;
    margin-top: 0 !important;
}

.btn-opcoes {
    background-color: #fff;
    border: 1px solid #a8a8a8 ;
    height: 218px;
    width: 180px;
}

.btn-mais-opcoes {
    background-color: #fff;
    border: none;
    &.icone {
        border: none !important;
    }
    .card-text {
        font-weight: bold;
        font-size: 16px;
    }
}

.card{
    .box-header {
        text-align: center;
        font-style: italic;
        font-weight: bold;

        .header-title{
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            background-color:#FDB713;
            color: white;
            width: 50%;
            margin-left: 20%;
        }
    }

    .box-header + .card-body{
        margin-top: 0;
        .btn-paper{
            img{
                filter: grayscale(100%);
            }
            filter: grayscale(0);
            background-color: rgba(253, 183, 19, 0.1);
            .footer-card{
                filter: grayscale(0) !important;
                background-color: rgba(243, 240, 232, 1);
            }

        }
        .btn.active{
            border-color: #9DCB7D;
            color: #9DCB7D !important;
            filter: grayscale(0);
            background-color: rgba(57, 203, 125, 0.1);
            .card-text {
                color: white;
            }
            .footer-card{
                background-color: #9DCB7D;
                >.card-text {
                    color: white;
                }
            }
        }
        &:hover {
            filter: grayscale(0);
            border-color: #9DCB7D;
            .btn{
                background-color: rgba(157, 203, 125, 0.1);
            }
            .footer-card{
                background-color: #9DCB7D;
                >.card-text {
                    color: white;
                }
            }
        }
    }
}

.card-body {
    button{
        padding-right: 0;
        padding-left: 0;
    }
}

#collapseThree:last-child{
    top: -10px !important;
}

.icone.btn {

    overflow: inherit !important;
    position: relative !important;
    z-index: 1 !important;
    padding-bottom: 0px;
    border-radius: 6px;

    .footer-card{
        padding-top: 5%;
        background-color: #f3f3f3;
        height: 71px;
        position: relative;
        bottom: 11px;
        border-radius: 0 0 5px 5px;
        >.card-text {
            color: #808080;
        }
    }
    &.active {
        border-color: #9DCB7D;
        color: #9DCB7D !important;
        filter: grayscale(0);
        background-color: rgba(57, 203, 125, 0.1);
        .card-text {
            color: white;
        }
        &::after {
            font-family: fontAwesome;
            color: #9DCB7D;
            content: "\f058";
            position: absolute;
            top: -12px;
            right: -12px;
            font-size: 24px;
            border-radius: 50%;
            background-color: white;
            height: 22px;
            width: 22px;
            line-height: 23px;
        }
        .footer-card{
            background-color: #9DCB7D;
            >.card-text {
                color: white;
            }
        }
    }
    &:hover {
        filter: grayscale(0);
        border-color: #9DCB7D;
        .footer-card{
            background-color: #9DCB7D;
            >.card-text {
                color: white;
            }
        }
    }
}
.fa.fa-trash{
    cursor: pointer;
    &:hover{
        color: $brand-orange;
    }
}
#modalEncadernacao{
    .etapa-enca{
        position: relative;
        top: -2.2rem !important;
    }
}
@media screen and(-webkit-min-device-pixel-ratio: 0) {
    #collapseTwo {
        .icone.btn {
            &.active {
                &::after {
                    top: -10px !important;
                }
            }
        }
    }
    #modalEncadernacao{
        .input-number{
            align-items: baseline;
            .incrase-button{
                @include media-breakpoint-down(xs){
                    margin-top: 13px;
                }
                margin-top: 23px;
            }
        }
    }
}

.info-adicional {
    display: none;
}

.input-frete {

}

.input-frete {
    width: 60%;
    margin-left: 20px;
    max-width: 182px;
    text-align: left;
    font-size: 18px !important;
    line-height: 22px !important;
    color: $brand-orange;
}

.lblCep {
    font-family: Lato;
    font-weight: bold;
    color: #a8a8a8;
    margin-left: 20px;
    font-size: 14px;
    line-height: 17px;
}

.file-caption,
.btn-file i,
.kv-caption-icon {
    line-height: 36px;
}

td.super {
    color: $brand-orange;
    background-color: rgba(255, 127, 99, 0.2); //font-style: italic;
}

td.super-green {
    color: #9DCB7D;
    background: rgba(157, 203, 125, 0.2); //font-style: italic;
}

label.radio-btn {
    font-weight: bold;
}

.table thead th {
    vertical-align: bottom;
    font-style: italic;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
}

.popover {
    top: -35%;
    left: 92%;
    position: relative;
}

.popover-body p {
    padding-bottom: 18px;
    padding-top: 10px;
    padding-right: 21px;
    font-size: 14px;
    line-height: 17px;
}

.arrow {
    top: 25%;
}

.data-retirada {
    background: #67a4ff;
    width: 300px;
    height: 120px;
    margin-left: 0px;
    margin-top: 50px;

    @include media-breakpoint-only(xs) {
        margin-top: 30px;
    }
}

.frete-retirada{
    .form-check{
        padding-left: 0;
        margin-right: 40px;
        .form-check-label{
            margin-left: 0;

        }
    }
}

@media screen and (max-width: 640px) {
    .lblCep {
        font-size: 12px;
        line-height: 14px;
    }
}

@media screen and (max-width: 992px) {
    .btn-file {
        min-width: 50px !important;
        width: 50px !important;
        border-radius: 0;
    }
    .file-caption {
        height: 100%;
        width: auto !important;
    }
    .modal-footer {
        justify-content: center;
        .btn {
            margin-left: -5px;
        }
    }
}

.input-frete::-webkit-input-placeholder {
    color: $grey-dev;
}

.input-frete::-moz-placeholder {
    color: $grey-dev;
}

.entrega .box-header {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.entrega {
    margin-right: 10px;
    display: inline-block;
    padding: 0;
    @include media-breakpoint-down(xs) {
        padding-right: get-vw-mobile(3px);
        margin-bottom: get-vh-mobile(8px);
    }
    .box-header {
        width: 110px;
        height: 32px;
        background-color: $brand-white;
        color: $brand-white;
        border-radius: 4px;
        font-size: 14px;
        line-height: 31px;
        text-align: center;
    }
    .box-body {
        cursor: pointer;
        border-style: solid;
        width: 188px;
        height: 235px;
        padding: 0;
        background-color: $grey-xlighter;
        border-radius: 6px;
        text-align: center;
        font-size: 14px;
        color: $grey-dev;
        .delivery-date {
            padding-top: get-vh(9px);
            padding-bottom: get-vh(6px);
            font-size: 36px;
            line-height: 43px;
            font-weight: bold;
        }
        .delivery-time {
            font-size: 12px;
        }
        .radio-btn .checkmark::after {
            background-color: $grey-dev;
        }
        .header-box{
            position: relative;
            top: -10px;
            padding-top: 10px;
        }
        .footer-box{
            background-color: #F3F3F3;
            position: relative;
            padding-top: 10px;
            height: 110px;
            bottom: -10px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    &:hover{
        .box-body{
            background-color: rgba(157, 203, 125, 0.1);
            border: #9DCB7D;
            color: #9DCB7D;
            .footer-box{
                background-color: rgba(157, 203, 125, 0.8);
                color: white;
            }
        }

    }

}

.economic:hover, .ultra-fast:hover{
    .box-header{
        background-color: #9DCB7D;
    }
}

@mixin setBoxColor($header-color, $box-color, $box-font-color) {
    .box-header {
        background-color: $header-color;
    }
    .box-body {
        border-color: $header-color;
        background-color: $box-color;
        color: $box-font-color;
        hr {
            background-color: $box-font-color;
        }
        .radio-btn .checkmark::after {
            background-color: $box-font-color;
        }
    }
}

.ultra-fast {
    @include setBoxColor(#FDB713, rgba(253, 183, 19, 0.05), #A8A8A8);
}

.economic {
    @include setBoxColor(#67A4FF, rgba(103, 164, 255, 0.05), #A8A8A8);
}

.spinner-loader {
    width: 20px;
    height: 20px;
}

@include media-breakpoint-up(md) {
    // @media (min-width: 768px) {
    #desconto {
        display: none;
    }
}

@include media-breakpoint-down(sm) {
    #accordion{
        .collapsing{
            .card-img-top{
                margin-top: -12px !important;
            }
        }
    }

    #collapseFive{

        .icone{
            line-height: 1 !important;
            p{
                margin-top: -20px;
            }
            &:last-of-type{
                img{
                    width: 75px;
                }
            }
        }
        .footer-card{
            padding-top: 0;
            height: 56px !important;
            margin-top: 10px!important;
        }
    }
    .collapse {
        padding-bottom: 46px;
        .card-body {
            max-width: 200px;
            border: none !important;
            margin-right: 0;
            padding-bottom: 0px !important;
            button,
            a {
                padding: 0 !important;
                img,
                p {
                    margin: 0;
                }
            }
        }
    }
    .btn-opcoes {
        width: 140px ;
        height: 150px;
        max-width: 150px;
        padding: 0;
    }
    .btn-mais-opcoes {
        padding-left: 30px;

        .card-text {
            font-size: 12px;
        }
    }
    .margin-hg-bottom {
        margin-bottom: 150px !important;
        margin-top: 0px;
    }
    .fixo {
        width: 100%;
    }
    #desconto {
        display: show;
    }
    .div-resumo {
        position: fixed;
        max-height: 100px !important;
        bottom: 0;
        width: 100vw !important;
        margin: 0px !important;
        left: 0;
        padding: 0px;
        z-index: 1;
        .card-header-resumo {
            height: 90px;
            width: 100vw !important;
            margin: 0px !important;
            ul {
                float: left; // max-width: 120px;
            }
            #desconto {
                display: show;
                float: right;
                padding-top: 5px;
                li {
                    font-size: 10px;
                    padding: 0px !important;
                }
            }
        }
        .resumo-hide-mob {
            display: none;
        }
    }
    .ft-info {
        display: none;
    }
    .shipping-calc {
        justify-content: center;
    }
}

.div-resumo {
    .card-title {
        font-family: Economica ;
        font-size: 24px;
        font-weight: bold;
    }
    .btn-b3 {
        min-width: 0;
        @media screen and (max-width: 1200px) {
            font-size: 18px;
        }
        @media screen and (max-width: 991.97px) {
            font-size: 16px;
        }
    }
}

@media (min-width: 767.98px) and (max-width: 900px) {
    .card-body {
        margin-right: 30px;
    }
    .header-title{
        margin-left: 55px !important;
    }
    .icone.btn {
        border-radius: 6px;
        z-index: 1;
        &.active {
            &::after {
                top: -12px;
                right: -12px;
                font-size: 24px;
                height: 22px;
                width: 22px;
                line-height: 23px;
                @media screen and (-webkit-min-device-pixel-ratio: 0) {
                    top: 0px !important;
                    right: 10px !important;
                }
            }
            >.card-text {
                color: $brand-orange;
            }
        }
    }
    @media screen and(-webkit-min-device-pixel-ratio: 0) {
        #collapseTwo {
            .icone.btn {
                &.active {
                    &::after {
                        top: -10px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {

    .card {
        &-body {
            height: 120px;
            width: 120px;
            margin-bottom: 30px;
            .btn-opcoes,
            .btn-anexar {
                height: 120px;
                width: 120px;
                overflow: hidden;
                // padding-top: 10%;
                img {
                    padding-left: 5px;
                    width: 120px;
                    height: 100px
                }
                span.card-text {
                    position: relative;
                    top: -20px;
                }
            }
            .btn-anexar:disabled,
            .btn-anexar[disabled] {
                background: $brand-orange;
            }
        }

        &:first-child{
            .box-header{
                .header-title{
                    margin-left: 30%;
                    font-size: 12px;
                }
            }
        }

        .box-header {
            margin-top: 10px;
        }
    }

    .icom{
        .footer-card{
            top: -11px !important;
        }
    }

    .card-body{
        .btn-opcoes{
            height: 150px !important;
        }
        .icone.btn {
            .footer-card{
                top: 0;
                padding-top: 0;
                margin-top: 0;
                height: 32%;
                line-height: 15px;
                .card-text{
                    top: auto;
                }
            }
        }
    }

    .entrega{
        .box-header{
            height: 20.02px;
            width: 78.69px;
            font-size: 12px;
            line-height: 18px;
        }
        .box-body{
            height: 158px;
            width: 126px;

            .delivery-date {
                font-size: 24px;
                line-height: 25px;
            }

            .header-box{
               padding-top: 0;
               height: 60px;
            }

            .footer-box{
                padding-top: 0;
                height: 70px;
            }
         }
    }

    #modalEncadernacao{
        .etapa-enca{
            margin-left: 0.5rem;
        }
    }

 }

@media (max-width: 640px) {
    .div-resumo {
        bottom: 60px !important;
    }
}

@include media-breakpoint-down(xs) {

    #modalEncadernacao{
        .modal-body{
            padding-left: 1rem !important;
            >div{
                text-align: center;
                margin-right: 5px;
            }
        }
        .btn{
            max-width: 120px !important;
        }
    }
    #btnseguir-nPages{
        max-width: 10px !important;
    }
    .file-preview-frame,
    .file-drop-zone{
        min-height: 0;
        max-height: 0;
        padding: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
    .file-preview{
        min-height: 1px !important;
        border: 0;
    }
    .file-caption-icon{
        left: 3px;
    }
    .fileinput-remove{
        left: 50% !important;
        margin-left: -51px !important;

    }
    .btn-cupom-mob {
        background: #fff;
    }
    #modalCupom {
        margin: 15px auto;
        margin-top: 30px;
        .modal-header {
            padding-left: 0px;
            .text-orange {
                font-family: "Lato" !important;
            }
        }
        .modal-body {
            padding-top: 0px;
            padding-bottom: 30px;
            #cupom {
                margin-left: 0px;
                width: 141px;
            }
            .fa-times-circle {
                margin-left: 0px !important;
            }
            .btn-aplicar {
                float: none;
            }
        }
        input {
            width: 50% !important;
        }
    }
}

//modal informe total de páginas:
.modal-content.md-top {
    top: 40%;
}

.modal-content.md-width.md-top {
    margin-top: 20%;
}

.file-info-modal .label {
    width: 80%;
    font-size: 14px;
    line-height: 17px;
}

.informacoes_file {
    margin-left: -7%;
}

label.label.col-sm-7.text-left.font-weight-normal.text-grey.margin-md-top {
    margin-left: -22%;
}

h3#infoModalLabel {
    line-height: 29px;
    font-size: 24px;
    margin-left: 3%;
}

input.form-control.input-width {
    width: 119px;
}

// encadernação
.input-encadernacao {
    margin-top: 5%;
}

span.font-weight-normal.text-orange.border-0.txt-encardenacao {
    margin-left: -2%;
}

.draw-encadernacao {
    margin-left: 5%;
}

input.input-encadernacao.text-left.orange-txt {
    color: $brand-orange;
    border: 1px solid $brand-orange;
    border-radius: 0px;
}

.incrase-button {
    color: $brand-orange
}

button.btn.btn-opcoes {
    &:hover{
        background-color: rgba(57, 203, 125, 0.1);
    }
    &.icom {
        color: #a8a8a8;
        width: 80%;
        min-width: 110px;
        &.ic2 {
            margin-left: 3%;
        }
    }
}

#fileInfoApp{
    .input-number .decrase-number .incrase-button,
    .input-number .incrase-number .incrase-button {
        border-color: $brand-orange;
        &::after{
            position: relative;
            top: 5px;
        }
    }
}

#modalEncadernacao{
    .input-number .incrase-number .incrase-button {
        border: 1px solid $brand-orange;
    }
}

.freight-label-desc {
    font-weight: normal;
    font-size: 12px;
}

// modal desconto
.modal.left-modal {
    overflow: hidden;
    width: 200vw;
    transform: translateX(-82vw);

    @include media-breakpoint-only(sm){
        transform: translateX(-49vw);
    }

    @include media-breakpoint-only(xs){
        transform: translateX(-1vw);
    }

    .modal-dialog {
        max-width: 37vw;

        @include media-breakpoint-down(sm){
            max-width: 100vw;
        }

        .modal-content {
            height: 100vh;

            .modal-header {
                button {
                    position: absolute;
                    color: $brand-white;
                    font-size: 96px;
                    top: 40px;
                    left: 92vw;

                    @include media-breakpoint-down(sm){
                        left: 86vw;
                        font-size: 68px;

                    }

                    @include media-breakpoint-only(xs){
                        left: 77vw;
                    }
                }
             }

            p {
                font-size: 5vw;
                line-height: 5vw;
            }

            .discount-modal-form {
                background-color: #fd9275;
                height: 75%;
                width: 125%;
                position: absolute;
                left: 130%;

                @include media-breakpoint-down(sm) {
                    left: 0;
                    top: 10%;
                    background-color: transparent;
                    width: 100%;
                    height: auto;
                    position: static;
                }

                label {
                    font-size: 3vw;
                    line-height: 3vw;
                    margin-bottom: 2vw;
                    font-weight: bold;

                    @include media-breakpoint-down(sm){
                        font-size: 26px;
                        line-height: 26px;
                    }

                    @include media-breakpoint-down(xs){
                        font-size: 22px;
                        line-height: 22px;
                    }
                }

                .form-group {
                    margin-bottom: 2vw;
                }

                .form-control {
                    font-size: get-vw(36px);
                    height: auto;
                    background-color: #fff;
                    border: none;
                    width: auto;
                    display: block;
                    margin: auto;
                    max-width: get-vw(600px);
                    color: #495057;

                    @include media-breakpoint-down(sm){
                        max-width: none;
                    }
                }

                .form-control,
                .btn-discount {
                    line-height: get-vw(40px);
                    padding: get-vw(20px) get-vw(30px);
                    border-radius: 10px;
                    font-weight: bold;

                    @include media-breakpoint-down(sm){
                        font-size: 18px;
                        line-height: 26px;
                        padding: 12px 25px;
                    }

                    @include media-breakpoint-only(xs){
                        font-size: 14px;
                        line-height: 22px;
                        padding: 10px 20px;
                    }
                }

                .discount-modal-loading {
                    font-size: get-vw(45px);

                    @include media-breakpoint-down(sm){
                        font-size: 32px;
                    }

                    @include media-breakpoint-only(xs){
                        font-size: 26px;
                    }
                }

                .invalid-feedback {
                    padding-top: get-vw(8px);
                    font-size: get-vw(28px);

                    @include media-breakpoint-down(sm){
                        color: #ffffff;
                        font-size: 18px;
                    }

                    @include media-breakpoint-only(xs){
                        font-size: 14px;
                    }
                }
            }

            .btn-discount {
                border-color: #32558b;
                font-size: get-vw(40px);

                i {
                    font-size: 5vw;
                    transform: translateY(-20%);
                }

                b {
                    font-size: 4.5vw;
                }

                @include media-breakpoint-down(sm){
                    font-size: 22px;
                }

                @include media-breakpoint-down(xs){
                    font-size: 20px;
                }

                // @include media-breakpoint-down(sm){
                //     min-height: 12vw;
                //     min-width: 42vw;
                // }

                // @include media-breakpoint-only(xs){
                //     min-width: 45vw;
                //     font-size: 7vw;
                // }
            }

            .arrow-right {
                border-top: 5vw solid transparent;
                border-bottom: 5vw solid transparent;
                border-left: 5vw solid $brand-orange;
                right: -13%;
            }
        }
    }
}

.spinnerDiv {
    @media (max-width: 490px){
        .spinner{
            i{
                font-size: 20vw;
            }
        }
    }

    @media (min-width: 491px) and (max-width: 992px) {
        .spinner{
            i{
                font-size: 20vw;
            }
        }
    }

    .spinner {
        i {
            font-size: 96px;
        }

        position: absolute;
        top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    p{
        font-size: 36px;
    }
}

.discount-fix {
    @include media-breakpoint-up(sm) {
        width: 230px;

        .discount-span{
            position: relative;
        }
    }
    @include media-breakpoint-only(xs) {
        margin-right: 0 !important;
        height: 68px;
        .discount-span{
            position: absolute !important;
        }
    }
}
.discount-span {
    white-space: nowrap;
}


.delayed-freights-modal {

    .modal-header {
        padding-bottom: 1rem;
    }

    .modal-body {
        padding-bottom: 1rem;

        .form-group {
            width: 100%;

            &.is-invalid .invalid-feedback {
                display: block;
                font-size: 100%;
            }
        }

        .input-group {
            width: 100%;
            margin: 1rem;
            margin-left: 2rem;
            margin-right: 2rem;

            @include media-breakpoint-down(sm) {
                margin-left: 1rem;
                margin-right: 1rem;
            }

            @include media-breakpoint-down(xs) {
                margin: 0;
            }

            .form-control {
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                height: 50px;
                border: thin solid #a8a8a8;
                padding-left: 15px;
            }

            .btn-b3 {
                margin-top: 0;
                border-color: $brand-orange;

                @include media-breakpoint-down(md) {
                    margin: auto;
                    margin-top: 0.5rem;
                }
            }

            .input-group-append {
                @include media-breakpoint-down(md) {
                    width: 100%;
                }
            }
        }
    }

    .modal-text {
        margin-bottom: 1rem;
        font-size: 20px;

        @include media-breakpoint-down(xs) {
            font-size: 18px;
        }
    }

}

.card-separator {
    margin-right: 20px;
    text-align: center;
    font-weight: bold;
    color: #808080
}

@media (max-width: 900px) {
    .card-separator {
        font-size: 14px;
        margin-right: 0;
        margin-left: 15px;
    }
}

.finishing-info-modal {
    .modal-header, .modal-body {
        background: $brand-blue;
        color: white;
    }
}

.modal-backdrop + .modal-backdrop {
    opacity: 0;
}

.kv-fileinput-error {
    display: none !important;

    ul {
        list-style-type: none;
    }
}

.finishing-details {
    text-align: left;

    .form-check {
        cursor: pointer;
        margin-top: 5px;
        margin-bottom: 5px;
        width: auto;
        float: none;

        input, label {
            cursor: pointer;
        }
    }
}


// TUTORIAL

.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.slide-fade-enter-active, .slide-fade-leave-active {
    transition: all .5s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

#accordion {
    .card {
        position: relative;
        z-index: 3;

        .card-header, .collapse, .collapsing {
            padding-left: 10px;
            padding-right: 10px;
        }

        &:first-child {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            .card-header, .collapse {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }

        &:last-child {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            .card-header, .collapse {
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }

        &#card-anexar.highlighted {
            border-radius: 10px;

            .card-header, .collapse {
                border-radius: 10px;
            }
        }
    }
    #card-anexar {
        position: relative;
        z-index: 5;
    }
}

@include media-breakpoint-down(xs) {
    #accordion {
        .card {
            .collapse, .collapsing {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

.tutorial-step-container {
    position: relative;
    display: block;
    height: 1px;
    width: 1px;
}

.tutorial-step {
    background-color: $brand-blue;
    padding: 15px;
    position: absolute;
    z-index: 1060;
    display: block;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: 0.875rem;
    word-wrap: break-word;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;

    p {
        color: $brand-white;
        text-align: center;
        font-size: 18px;
        margin-bottom: 5px;
    }

    .tutorial-arrow {
        position: absolute;
        display: block;
        width: 1rem;
        height: 0.5rem;
        margin: 0 0.3rem;
        bottom: -4px;

        &::before, &::after {
            position: absolute;
            display: block;
            content: "";
            border-color: transparent;
            border-style: solid;
            border-width: 0.5rem 0.5rem 0;
        }

        &::before {
            border-top-color: rgba(0, 0, 0, 0.25);
            bottom: -5px;
        }

        &::after {
            bottom: -4px;
            border-top-color: $brand-blue;
        }
    }

    .btn-outline-light {
        font-size: 1.2rem;
        font-weight: bold;
        padding-top: 3px;
        padding-bottom: 3px;

        &:hover, &:focus, &:active {
            color: $brand-white !important;
            background-color: rgba(0, 0, 0, 0.15) !important;
            border-color: $brand-white !important;
        }
    }
}

$step1-width: 350px;
$step1-height: 186px;
$step2-width: 400px;
$step2-height: 245px;

.tutorial-step-1 {
    width: $step1-width;
    height: $step1-height;
    top: -$step1-height;
    left: -($step1-width / 2);

    .tutorial-arrow {
        left: ($step1-width / 2) - 14;
    }
}

.tutorial-step-2 {
    width: $step2-width;
    height: $step2-height;
    top: -$step2-height;
    left: -($step2-width / 2);

    .tutorial-arrow {
        left: ($step2-width / 2) - 14;
    }
}

@include media-breakpoint-down(xs) {
    #accordion {
        position: relative;
        transition: all .5s ease;
    }
    #accordion.highlighted {
        z-index: 10;
        transform: translateY(110px);
    }

    .tutorial-step {
        max-width: 276px;
        padding: 10px;

        p {
            font-size: 16px;
        }

        .tutorial-arrow {
            left: 124px !important;
        }
    }

    .tutorial-step-1 {
        height: 164px;
        top: -376px;
        left: -138px;
    }

    .tutorial-step-2 {
        height: 265px;
        top: -476px;
        left: -138px;
    }
}

