@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "theme/partials/variables";
@import "theme/partials/vw-calculator.scss";

.category-container {
    ul {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 3rem;

        li {
            list-style: none;
            min-width: 260px;

            h2 {
                font-family: 'Lato', sans-serif !important;
                font-size: 16px;
                font-weight: normal;
                margin-bottom: 0;
            }

            a {
                display: block;
                float: left;
                padding: 15px 0;
            }
        }
    }

    @media (min-width: 1024px) {
        ul {
            grid-template-columns: repeat(4,1fr);
        }
    }

    @media (max-width: 1024px) and (min-width: 768px) {
        ul {
            grid-template-columns: repeat(3,1fr);
        }
    }

    @media (max-width: 768px) and (min-width: 460px) {
        ul {
            grid-template-columns: repeat(2,1fr);
        }
    }

    @media (max-width: 460px) {
        ul {
            grid-template-columns: repeat(1,1fr);
        }
    }
}

