@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "theme/partials/variables";
@import "theme/partials/vw-calculator.scss";

.title-forms{
    padding-bottom:get-vh(50px);
    color: $brand-orange;
    font-size: 24px;
    line-height: 28px;
}

.ifa{
    font-size: 36px;
    line-height: 36px;
}

.breadcrumb > li + li:before {
    content: ">> " !important;
}
#breadcrumb {
    padding-top: get-vh(25px);
    padding-bottom: get-vh(45px);
}

#forms {
    .title-forms {
        padding-bottom: get-vh(20px);
        color: $brand-orange;
    }
    .tablist {
        border-bottom: 2px solid $brand-orange;
    }

    ul {
        width: 100%;
        background: white;
        border-bottom: none;
    }
    .nav-tabs .nav-item {
        margin-bottom: 0px;
    }

    .nav-link {
        padding: 5px 20px !important;
    }

    .nav-link.navl {
        line-height: 22px;
        font-size: 18px;
    }

    .nav-link.active {
        border: none;
        border-bottom: 2px solid $brand-orange !important;
    }

    .ifa {
        line-height: 36px;
        font-size: 36px;
    }

    .tab-content {
        padding-top: get-vw(30px);
        margin-left: get-vw(-15px);

        label {
            margin-bottom: get-vh(10px);
        }
    }

    .checkbox {
        padding-bottom: get-vh(45px);
        margin-left: -30px !important;
    }
    .add-address {
        color: #a8a8a8;
    }
    .edit {
        color: $brand-orange;
        width: 100%;
        // & span{
        //   position: absolute;
        //   top: 25%;
        //   left: 60%;
        // }
    }
}

.form-control {
    border: none;
    border-bottom: 1px solid #a8a8a8;
    border-radius: 0;
}

.abas .navl {
    width: 200px;
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    background-color: #ffffff;
}

a.navl.active {
    /*  font-family: Lato;
  font-weight: bold;
  font-size:12px;*/
    background-color: $brand-orange !important;
    color: #fff !important;
}

input {
    color: $brand-orange !important;
    margin-bottom: get-vh(5px);
}

.ifa {
    font-size: 18px;
    margin: 0px 5px 0px 0px;
}

///icone usuário - Dados Cadastrais
.nav-link.navl .fa.fa-user {
    font-size: 60px;
}

///espaço entre os botões e o formulário
#forms .tab-content {
    padding-top: 1.6458333333vw;
}

@media (min-width: 768px) {
    .col-md-6.phone-cell {
        margin-bottom: 5px;
    }
}

.no-gutters {
    padding-left: 0px;
}

.btn-b3 {
    margin-top: get-vh(40px);
}

.edit-address-line {
    margin-right: 20px;
    display: inline-block;
    font-size: 12px;
}
.edit-text {
    font-weight: bold;
    font-family: "Economica" !important;
    font-size: 14px;
    line-height: 13px;
}

.breadcrumb-item.active {
    color: #a8a8a8;
}

.btn-orange:hover{
    background-color: #9DCB7D;
}

.breadcrumb-item.active{
    color: #A8A8A8;
    font-weight: bold;
}

.breadcrumb-item.active a {
    color: #a8a8a8;
    font-weight: bold;
}

.breadcrumb-item {
    color: #a8a8a8;
}

@media screen and (max-width: 640px) {
    .breadcrumb-item ul,
    li,
    a {
        font-size: 10px;
        line-height: 29px;
    }

    .title-forms.tp {
        font-size: 18px;
        line-height: 21px;
    }

}

@include media-breakpoint-up(md){
// @media (min-width: 768px) {

    .accordion-mob{
        display: none;
    }


}

@include media-breakpoint-down(sm) {
// @media (max-width: 768px) {

    .tab-desk{
        display:none;
    }

    #accordion{
        width: 110% !important;
        text-align: center;

        .card-header{
            border-bottom: none !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .btn-b6{
            float: right;
        }

        .btn-link{
            width: 100%;
            text-align: left;
            padding-left: 0px !important;
            padding-right: 0px !important;

            .fa-angle-down, .fa-angle-up{
                color: #A8A8A8;
                float:right;
                position: absolute;
                top: 15px;
                right: 0;
            }
        }

        .card-body{
            width: 95% !important;
        }

        .edit-address-line{
            font-size: 10px;
            min-width: 160px;
        }

        .btn-link{
            color: $brand-orange;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .toolbar-big-buttons {
        .btn-big {
            width: 160px;
            height: 160px;
            font-size: 18px;
            .fa {
                font-size: 36px;
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .toolbar-big-buttons {
        .btn-big {
            font-size: 14px;
            width: 132px;
            height: 132px;

            .fa {
                font-size: 24px;
            }
        }
    }
}
