<template>
    <section id="breadcrumb">
        <div class="container">
            <div class="row">
                <nav aria-label="breadcrumb" style="font-size: 14px;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Meus Pedidos</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'Breadcrumb',
    props: {
        links: Array
    }
}
</script>
