<template>
  <div
    class="modal fade verify-email-modal"
    id="verifyEmailModal"
    tabindex="-1"
    role="dialog"
  >
    <div
      class="modal-dialog modal-dialog-centered"
      role="document"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title default-text anexoModalLabel text-orange">Aviso Importante</h3>
        </div>
        <div class="modal-body">

          <p class="text-center mb-3">
            Para continuar, precisamos que você confirme seu endereço de e-mail.
            É bem simples! Nós já te enviamos um e-mail com as instruções.
          </p>

          <button
            type="button"
            class="btn btn-b3 btn-orange border-radius-md"
            @click="requestResend()"
          >
            Reenviar e-mail de confirmação
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    userId: Number
  },
  methods: {
    requestResend() {
      $.post(
        "/resendVerificationEmail",
        {
          id: this.userId
        },
        null,
        "json"
      ).then(
        r => {
          PrettyAlerts.show({
            type: "success",
            dismissable: true,
            message: 'O e-mail de verificação foi reenviado. Por favor, confira sua caixa de entrada.'
          });
        }
      );
    }
  }
};
</script>
