<template>
  <div class="account-menu">
    <h3 class="account-menu-title d-none d-md-block">Minha Conta</h3>

    <div class="toolbar-big-buttons">
      <div class="row">
        <div class="col-6 col-sm-4 col-md-6">
          <button
            @click="redirect('/dados-cadastrais')"
            class="btn btn-default btn-big"
            :disabled="currentPage == 'dados-cadastrais'"
          >
            <i class="fa fa-user"></i>
            <br>
            <br> Dados Cadastrais
          </button>
        </div>
        <div class="col-6 col-sm-4 col-md-6">
          <button
            @click="redirect('/meus-pedidos')"
            class="btn btn-default btn-big"
            :disabled="currentPage == 'meus-pedidos'"
          >
            <i class="fa fa-shopping-basket"></i>
            <br>
            <br> Meus Pedidos
          </button>
        </div>
        <div class="col-6 col-sm-4 col-md-6">
          <button
            @click="redirect('/indicacoes')"
            class="btn btn-default btn-big"
            :disabled="currentPage == 'indicacoes'"
          >
            <i class="fa fa-ticket"></i>
            <br>
            <br> Indicações
          </button>
        </div>
      </div>
    </div>

    <div class="row toolbar-new-order d-md-none">
      <div class="col text-center">
        <button
          @click="redirect('/impressao-online')"
          class="btn btn-b5 border-radius-md btn-orange-outlined border-md border-solid"
        >
          Novo Pedido
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AccountMenu",
  props: {
    currentPage: String
  },
  methods: {
    redirect(url) {
      window.location.href = url;
    }
  }
};
</script>
