<template>
    <div>
        <div v-if="!orders.length" class="text-center">
            <p class="mb-3">Você ainda não fez nenhum pedido.</p>
        </div>

        <!-- mobile accordion -->
        <div id="accordion" class="order-list-mobile d-block mb-2 d-md-none">
            <div class="card bg-lightgrey mb-2" :key="ord.idPedido" v-for="ord in orders">
                <div
                    class="card-header bg-lightgrey border-0 p-0"
                    v-bind:id="'heading'+ord.idPedido"
                >
                    <button
                        class="btn btn-link p-0 text-left"
                        data-toggle="collapse"
                        :data-target="'#pedido'+ord.idPedido"
                        aria-expanded="false"
                        aria-controls="collapseOne"
                    >
                        <i class="fa fa-check-circle text-success mr-1 text-lg"></i>
                        <span class="text-orange p">Pedido #{{ord.idPedido}}</span>
                        <br>
                        <span
                            class="urd p data text-sm text-grey font-weight-lighter"
                        >{{ord.dataPedido | dateFormatter}} -</span>
                        <span
                            class="urd p status text-sm text-success font-weight-lighter"
                        >{{ord.statusPedido}}</span>
                    </button>

                    <span
                        class="col-md-3 p p-0 value text-right text-orange text-xxs"
                    >R$ {{ord.vfinal | moneyFormatter}}</span>
                    <i
                        class="ifa fa fa-angle-down text-grey collapsed float-right"
                        :data-target="'#pedido'+ord.idPedido"
                        data-toggle="collapse"
                    ></i>
                </div>

                <div
                    v-bind:id="'pedido'+ord.idPedido"
                    class="collapse"
                    aria-labelledby="headingOne"
                    data-parent="#accordion"
                >
                    <div class="card-body text-grey row">
                        <div
                            class="details clar text-right col-12 padding-sm-right padding-sm-bottom"
                        >
                            <button
                                v-on:click="$emit('details-btn-clicked', ord.idPedido)"
                                type="button"
                                class="btn btn-b7 btn-orange"
                            >Mais Detalhes</button>
                            <button
                                v-on:click="$emit('tracking-btn-clicked', ord.idPedido)"
                                type="button"
                                class="btn btn-b7 btn-orange"
                                v-if="ord.is_tracking == 1"
                            >Ver Entrega</button>
                            <button
                                v-on:click="$emit('payment-btn-clicked', ord.idPedido)"
                                type="button"
                                class="btn btn-b7 btn-orange"
                                v-if="ord.statusPedido == 'Carrinho' || ord.statusPedido == 'Pagamento Pendente'"
                            >Pagar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row itens d-none d-md-flex align-items-center" :key="ord.idPedido" v-for="ord in orders">
            <!-- end mobile ac -->
            <!-- md block -->
            <div class="col-md-3 pedidos">
                <i class="fa fa-check-circle"></i>
                Pedido #{{ord.idPedido}}
            </div>
            <div class="col-md-2 data">{{ord.dataPedido | dateFormatter}}</div>
            <div
                class="col-md-1 status"
                v-if="ord.statusPedido == 'Acabamento' || ord.statusPedido == 'Falta Despachar'"
            >Em Produção</div>
            <div class="col-md-1 status" v-else>{{ ord.statusPedido }}</div>
            <div class="col-md-2 offset-md-1 value text-right">R$ {{ord.vfinal | moneyFormatter}}</div>
            <div class="col-md-3 details clar">
                <button
                    v-on:click="$emit('details-btn-clicked', ord.idPedido)"
                    type="button"
                    class="btn btn-b6 btn-orange"
                >Mais Detalhes</button>
                <button
                    v-on:click="$emit('tracking-btn-clicked', ord.idPedido)"
                    type="button"
                    class="btn btn-b6 btn-orange"
                    v-if="ord.is_tracking == 1"
                >Ver Entrega</button>
                <button
                    v-on:click="$emit('payment-btn-clicked', ord.idPedido)"
                    type="button"
                    class="btn btn-b6 btn-orange"
                    v-if="ord.statusPedido == 'Carrinho' || ord.statusPedido == 'Pagamento Pendente'"
                >Pagar</button>
            </div>
            <!-- end block -->
        </div>
    </div>
</template>

<script>
export default {
    name: "OrderList",
    props: {
        orders: Array
    }
};
</script>
