<template>
  <div class="table-responsive">
    <table class="table" :class="tableClasses">
      <thead>
        <tr>
          <th scope="col" v-for="(header, hidx) in headers" :key="hidx" :class="[ 'text-' + header.align ]">{{ header.text }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, idx) in items" :key="idx">
            <slot name="items" v-bind:item="item"></slot>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
    name: "DataTable",
    props: {
        headers: Array,
        items: Array,
        striped: {
            type: Boolean,
            default: false
        },
        bordered: {
            type: Boolean,
            default: false
        },
        borderless: {
            type: Boolean,
            default: false
        },
        hoverable: {
            type: Boolean,
            default: true
        },
        small: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        tableClasses() {
            return {
                'table-striped': this.striped,
                'table-bordered': this.bordered,
                'table-borderless': this.borderless,
                'table-hover': this.hoverable,
                'table-sm': this.small
            }
        }
    }
};
</script>
