<template>
  <div class="card text-white mb-3 spotlight-box" :class="[ 'bg-' + background ]">
    <div class="card-header">
        <slot name="header"></slot>
    </div>
    <div class="card-body">
        <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
    props: {
        background: String
    }
}
</script>

<style scoped>
    .spotlight-box .card-body {
        font-weight: bold;
        text-align: center;
        font-size: 26px;
    }
    .card-header {
        white-space: nowrap;
    }
</style>
