<template>
  <div class="card mb-3">
    <div class="card-body">
      <h3 class="card-title">{{ title }}</h3>
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
    name: 'AdminBox',
    props: {
        title: String
    }
};
</script>
