<template>
  <div>
    <div class="row mt-3">
      <div class="col-12 text-center">
        <button
          type="button"
          class="btn-b5 btn-orange border-0 border-radius-md"
          @click="setCsv()"
        >IMPORTAR .CSV</button>
        <input
          ref="sc"
          type="file"
          style="display:none;"
          @change="uploadFile($event.target.files[0])"
          accept=".csv"
        >
      </div>
    </div>

    <div class="row my-4">
      <div class="col-12">
        <table class="text-center w-100">
          <thead class="font-weight-bold">
            <tr>
              <td class="pl-3 w-15">
                Id
              </td>
              <td class="">Nome</td>
              <td class="">Status</td>
              <td class="">Data de Envio</td>
              <td class="">Data de Atualização</td>
              <td class="">Data de Aplicação</td>
              <td class="">Aplicar?</td>
              <td class=""></td>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(arq, id) in csvFiles"
              :key="id"
              v-bind:class='{"table-danger": arq.status == "Arquivo inválido"}'
            >
              <td class="text-center">{{arq.id}}</td>
              <td class="text-center">{{arq.nome}}</td>
              <td class="text-center">{{arq.status}}</td>
              <td class="text-center">{{arq.created_at}}</td>
              <td class="text-center">{{arq.updated_at}}</td>
              <td class="text-center">{{arq.data_aplicacao}}</td>
              <td class="text-center"><button
                  class="btn btn-block btn-blue mr-3 my-2"
                  v-bind:class='{"btn-grey": arq.status == "Arquivo inválido" }'
                  v-bind:disabled="arq.status == 'Arquivo inválido'"
                  @click="changePrices(arq.id)"
                >Aplicar</button type="button"></td>
              <td class="text-center"><button
                  class="btn btn-dark"
                  type="button"
                  @click="downloadCsv(arq.id)"
                ><i class="fa fa-download"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      csvFiles: []
    };
  },
  methods: {
    setCsv: function() {
      this.$refs.sc.click();
    },
    uploadFile: function(file) {
      if (!file) {
        return;
      }

      var formData = new FormData();
      formData.set("csv", file);

      $.ajax("/saveCsv", {
        cache: false,
        contentType: false,
        processData: false,
        headers: {},
        method: "POST",
        data: formData,
        dataType: "json"
      }).then(
        response => {
          this.changePrices(response.data.id);
        },
        err => {
          PrettyAlerts.show({
            type: "danger",
            dismissable: true,
            message: err.responseJSON.message
          });
        }
      );
    },
    downloadCsv: function(file_id) {
      $.post(
        "/prepareCsv",
        {
          file_id: file_id
        },
        null,
        "json"
      ).then(
        r => {
          var fileName = r.data.fileName;
          window.location.href = "/downloadCsv?fileName=" + fileName;
        },
        err => {
          PrettyAlerts.show({
            type: "danger",
            dismissable: true,
            message: err.responseJSON.message
          });
        }
      );
    },
    getFiles: function() {
      $.get("/listCsv", null, null, "json").then(
        r => {
          this.csvFiles = r.data.files;
        },
        err => {
          PrettyAlerts.show({
            type: "danger",
            dismissable: true,
            message: err.responseJSON.message
          });
        }
      );
    },
    changePrices: function(file_id) {
      $.post(
        "/changePrices",
        {
          file_id: file_id
        },
        null,
        "json"
      ).then(
        r => {
          this.getFiles();
          PrettyAlerts.show({
            type: "info",
            dismissable: true,
            message: "Atualização dos preços concluída!"
          });
        },
        err => {
          this.getFiles();
          PrettyAlerts.show({
            type: "danger",
            dismissable: true,
            message: err.responseJSON.message
          });
        }
      );
    }
  },
  created: function() {
    this.getFiles();
  }
};
</script>
