<template>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/adm/pedidos">
                <i class="fa fa-print"></i> Pedidos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/adm/cupom">
                <i class="fa fa-ticket"></i> Cupons
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/adm/usuarios">
                <i class="fa fa-users"></i> Usuários
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/adm/faixa-precos">
                <i class="fa fa-dollar"></i> Preços
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/adm/relatorios">
                <i class="fa fa-file"></i> Relatórios
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/adm/atualizar-custos">
                <i class="fa fa-dollar"></i> Custos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/adm/modalemails">
                <i class="fa fa-envelope"></i> E-mails do Modal
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/adm/configuracoes">
                <i class="fa fa-cog"></i> Configurações
            </a>
        </li>
    </ul>
</template>

<script>
export default {
    name: 'DashboardMenu'
}
</script>
