<template>
  <div class="clearfix filter-by-date date-fixed">
    <div class="col-md-12 p-0">
      <div class="data-filter-title">
        <i class="fa fa-calendar"></i>
        <b>
          Período
        </b>
      </div>
    </div>
    <div
      class="date-text"
      data-toggle="collapse"
      data-target="#inputsDiv"
    >
      {{filtersValue.from | formatDatePt}} até {{filtersValue.to | formatDatePt}}
      <i
        class="fa fa-angle-down collapsed"
        data-toggle="collapse"
        data-target="#inputsDiv"
      ></i>
    </div>
    <div
      class="collapse small-padding"
      id="inputsDiv"
    >
      <div class="period">Período</div>
      <div class="input-period">
        <input
          name="start-period"
          class="form-control"
          v-mask="'##/##/####'"
          v-model="filtersValue.from"
        >
        <span class="input-divider"> a </span>
        <input
          name="end-period"
          class="form-control"
          v-mask="'##/##/####'"
          v-model="filtersValue.to"
        >
      </div>
      <button
        type="button"
        class="btn btn-orange float-right"
        @click="$emit('searchbtncicked', formatFilterValue())"
      >Pesquisar</button>
    </div>
  </div>
</template>

<script>
require("moment/locale/pt-br");

export default {
  name: "Filters",
  props: {
    filtersValue: Object
  },
  methods: {
    convertDate(date) {
      return moment(date, "DD/MM/YYYY");
    },
    isPeriodOk() {
      var startAt = this.convertDate(this.filtersValue.from);
      var endAt = this.convertDate(this.filtersValue.to);

      if (this.filtersValue.from && !startAt.isValid()) {
        return false;
      }

      if (this.filtersValue.to && !endAt.isValid()) {
        return false;
      }

      return true;
    },
    formatFilterValue: function() {
      var startAt = this.convertDate(this.filtersValue.from);
      var endAt = this.convertDate(this.filtersValue.to);

      var from = startAt.isValid() ? startAt.format("YYYY-MM-DD") : "";
      var to = endAt.isValid() ? endAt.format("YYYY-MM-DD") : "";

      return {
        from: from,
        to: to
      };
    }
  },
  filters: {
    formatDatePt: function(date) {
      if (!date) {
        return "dd/mm/aaaa";
      }

      var data = moment(date, "DD/MM/YYYY");
      var dateString = data.locale("pt-br").format("DD [de] MMM [de] YYYY");
      return (
        dateString.slice(0, 6) +
        dateString.charAt(6).toUpperCase() +
        dateString.slice(7)
      );
    }
  }
};
</script>
