<template>
  <div>
    <div class="row my-3">
      <div class="col-12 text-center">
        <button
          type="button"
          class="btn btn-success"
          @click="updateRangePrices"
        >
          <i class="fa fa-save"></i> SALVAR
        </button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead class="font-weight-bold">
          <tr>
            <td class="text-center">De</td>
            <td class="text-center">Até</td>
            <td class="text-center">Papel</td>
            <td class="text-center">Cor</td>
            <td class="text-center">Preço Atual</td>
            <td class="text-center">Novo Preço</td>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(range, id) in ranges"
            :key="id"
          >
            <td class="text-center align-middle">{{range.de}}</td>
            <td class="text-center align-middle">{{range.ate}}</td>
            <td class="text-center align-middle">{{range.descricaoPapel}}</td>
            <td class="text-center align-middle">{{range.hasColor == 1 ? 'Colorido' : 'PB'}}</td>
            <td class="text-center align-middle">{{range.preco}}</td>
            <td class="text-center align-middle">
              <input
                class="form-control"
                type="text"
                v-model="range.novoPreco"
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <page-loader :show="loading"></page-loader>
  </div>
</template>

<script>
var PageLoader = require("../shared/PageLoader.vue");

export default {
  components: {
    PageLoader
  },
  data() {
    return {
      ranges: [],
      loading: false
    };
  },
  methods: {
    getAllRanges() {
      this.loading = true;
      $.get("/getAllRanges", null, null, "json").then(
        r => {
          this.loading = false;
          this.updateRanges(r.data.ranges);
        },
        err => {
          this.loading = false;
          PrettyAlerts.show({
            type: "danger",
            dismissable: true,
            message: err.responseJSON.message
          });
        }
      );
    },
    updateRangePrices() {
      this.loading = true;
      let newRangePrices = this.ranges.filter(range => {
        return range.preco != range.novoPreco;
      });

      $.post(
        "/updateRangePrices",
        {
          ranges: newRangePrices
        },
        null,
        "json"
      ).then(
        r => {
          this.loading = false;
          this.updateRanges(r.data.newRanges);
          PrettyAlerts.show({
            type: "success",
            dismissable: true,
            message: "Preços atualizados!"
          });
        },
        err => {
          this.loading = false;
          PrettyAlerts.show({
            type: "danger",
            dismissable: true,
            message: err.responseJSON.message
          });
        }
      );
    },
    updateRanges(ranges) {
      this.ranges = [];
      for (i = 0; i < ranges.length; i++) {
        this.ranges.push({
          idFaixa: ranges[i].idFaixa,
          de: ranges[i].de,
          ate: ranges[i].ate,
          descricaoPapel: ranges[i].descricaoPapel,
          hasColor: ranges[i].hasColor,
          preco: ranges[i].preco,
          novoPreco: ranges[i].preco
        });
      }
    }
  },
  created() {
    this.getAllRanges();
  }
};
</script>
