<template>
  <div>
    <div class="faq-header text-center my-4">
      <h1 class="text-orange">Dúvidas sobre sua impressão?</h1>
      <!-- <p class="h3">Escolha um tópico abaixo</p> -->
    </div>
    <div
      v-for="(block, bi) in blocks"
      :key="bi"
      class="mb-5"
    >
      <p class="h2 mb-0">{{ block.title }}</p>
      <div
        class="card"
        v-for="(question, qi) in block.questions"
        :key="qi"
      >
        <div
          class="card-header"
          :id="'h' + bi +  qi"
        >
          <h2 class="mb-0" v-if="bi == 0">
            <button
              class="btn btn-link"
              type="button"
              data-toggle="collapse"
              :data-target="'#c' + bi +  qi"
              aria-expanded="false"
              :aria-controls="'c' + bi +  qi"
            >
              {{ question.title }}
            </button>
          </h2>
          <h3 class="mb-0" v-else>
            <button
              class="btn btn-link"
              type="button"
              data-toggle="collapse"
              :data-target="'#c' + bi +  qi"
              aria-expanded="false"
              :aria-controls="'c' + bi +  qi"
            >
              {{ question.title }}
            </button>
          </h3>
        </div>

        <div
          :id="'c' + bi +  qi"
          class="collapse"
          :aria-labelledby="'h' + bi +  qi"
        >
          <div
            class="card-body"
            v-html="question.body"
          ></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Faq",
  data() {
    return {
      blocks: [
        {
          title: "Sobre nossos serviços",
          questions: [
            {
              title: "Como funciona para imprimir na DeliveryPrint?",
              body:
                "<p>A DeliveryPrint presta um serviço de copiadora delivery, ou seja, você faz seu pedido de impressão por nosso site, configura ele como precisa e nosso trabalho é te entregar os impressos na melhor qualidade possível. </p><p>Em nosso sistema você facilmente consegue escolher a cor da impressão, tipo de papel, se precisa de uma encadernação ou grampo e já anexa seu arquivo para o site contabilizar as páginas. Após isso é só definir o local da entrega do pedido, realizar o pagamento online por cartão ou boleto e fim! Seu pedido foi feito e já iremos cuidar dele. </p><p>Olhe nossas avaliações no Google e Facebook ;) </p><p>Fácil, rápido, seguro e online!</p>"
            },
            {
              title: "Quais são os tipos de papéis e acabamentos ?",
              body:
                "<p>Nós trabalhamos com papéis no tamanho A4 e A5. Para esses tamanhos temos papel Sulfite, papel Matte (fosco), papel glossy (brilho) e também com papel vergê (esse apenas pedindo por email). </p><p>Na parte de acabamentos trabalhamos com o grampeamento, encadernação em espiral e wire-o. </p><p>Vale ressaltar que nossas encadernações em espiral ou wire-o vão por padrão com capa plástica transparente e contracapa preta. O Espiral é de plástico, preto, e o Wire-o é preto de metal.</p>"
            },
            {
              title: "Como funciona a entrega do pedido?",
              body:
                "<p>Nossos pedidos <strong>são entregues de diversas formas</strong>, tudo depende do local de entrega e prazo do pedido. No geral elas <strong>são de motoboy ou Correios/Transportadora</strong>.</p><p>Temos opções de entrega para o mesmo dia e <strong>entregamos em todo Brasil</strong>.</p>"
            },
            {
              title: "Tem tabela de preços especial para alta demanda?",
              body:
                '<p>Sim, no próprio site já <strong>oferecemos um preço menor de acordo com a demanda</strong>, explico: O sistema tem várias faixas de preço, <strong>quanto mais páginas você imprimir, menor o preço unitário de cada página ficará</strong>. Então quem imprimir 1.000 páginas estará pagando um valor por página menor do que se imprimisse 10.</p><p>Mas além disso, oferecemos alguns <strong>preços ainda melhores e condições de pagamento diferenciadas</strong> para quem deseja imprimir <strong>mais de 5.000 páginas de uma vez</strong>, ai basta nos mandar um emai para <a href="mailto:suporte@deliveryprint.com.br">suporte@deliveryprint.com.br</a> pedindo orçamento.</p>'
            },
            {
              title: "Existem parcerias para empresas que precisam imprimir?",
              body:
                '<p>Sim, temos uma <strong>tabela de preços especias para empresas</strong>, opções de <strong>faturamento</strong> do pedido, <strong>entregas mais baratas</strong> e algumas coisinhas a mais.<p>Basta nos mandar um email para <a href="mailto:suporte@deliveryprint.com.br">suporte@deliveryprint.com.br</a> e informar sua necessidade.'
            }
          ]
        },
        {
          title: "Segurança",
          questions: [
            {
              title: "Estou com medo, é seguro?",
              body:
                "<p>Segurança, praticidade e privacidade são coisas que levamos a sério por aqui. Além de nossos termos de uso garantirem a exclusão de seu PDF depois de impresso e também a não distribuição dele, nosso site conta com selos de segurança, etapas de autenticação e pagamentos seguros através da IUGU. </p><p>A IUGU é o sistema de pagamentos que usamos. Com ele, conseguimos aceitar em nosso site pagamentos via cartão de crédito e boleto bancário. </p><p>E pode ficar tranquilo(a), deu algum problema? Nos chame por telefone, email ou whatsapp... daremos um jeito de resolver o mais breve possível, seja pedido errado, problemas com pagamento ou qualquer novidade indesejada.</p>"
            },
            {
              title: "Como funciona o pagamento no site?",
              body:
                '<p>Aceitamos pagamentos <strong>via cartão de crédito</strong>, até em 3x dependendo do valor do pedido, e <strong>boleto bancário à vista</strong>.</p><p>Para pedidos de <strong>empresas ou PJ</strong> temos algumas <strong>opções de faturar</strong> esse pagamento, para isso nos chame via email: <a href="mailto:suporte@deliveryprint.com.br">suporte@deliveryprint.com.br</a></p>'
            },
            {
              title: "Se meu pedido atrasar ou não chegar?",
              body:
                "<p>Entre em contato com a gente na hora, seja por email, telefone ou Whatsapp. Mesmo fora do horário comercial nosso diretor está atento aos emails e te responderá assim que ver. </p><p>Iremos sempre buscar a resposta mais ágil e a correção desse erro da melhor forma. Não temos problema ou burocracia alguma na solução de problemas, muito pelo contrário, temos a obrigação de resolver rapidamente nossos erros. </p><p>Nos orgulhamos de sempre buscar a melhor solução no menor tempo possível e sem burocracia.</p>"
            },
            {
              title: "Meu pedido veio errado, e agora?",
              body:
                "<p>Estaremos aqui para <strong>resolver rapidamente</strong>, pode checar nossas avaliações no google e facebook, mesmo quando erramos nos preocupamos em <strong>resolver de forma ágil e simples</strong>.</p><p>Errar infelizmente faz parte de ser humano, toda empresa comete erros, <strong>poucas conseguem resolver com qualidade e agilidade</strong>. É nisso que tentamos diariamente <strong>continuar melhorando</strong>, não adianta nada na hora da venda ser muito bom e no momento da correção ter uma experiência “porcaria” (desculpe a honestidade).</p><p>Então, caso tenha algum erro de nossa parte, algum atraso ou qualquer coisa que não tenha te deixado feliz, <strong>entre em contato conosco, por favor</strong>.</p>"
            },
            {
              title: "Meus dados e arquivos estão seguros?",
              body:
                '<p>Sim! Em nossos termos de uso passamos essa garantia. Mas para você entender o processo listo o mesmo abaixo de forma bem sincera:</p><ol><li>Baixamos seu PDF para realizar a impressão</li><li>Depois de entregue/retirado, esperamos alguns poucos dias caso você reclame de algum erro nosso ou queira corrigir algo que não gostou.</li><li>Passado esse curto período, nosso banco de dados roda um script que exclui os PDFs para sempre.</li></ol><p>Caso o pedido seja por nosso email (<a href="mailto:suporte@deliveryprint.com.br">suporte@deliveryprint.com.br</a>) acaba demorando um pouco mais essa exclusão, pois ela ocorre quando limpamos nossa caixa de mensagens e arquivos.</p><p>De qualquer forma, <strong>somos expressamente proibidos</strong> de re-utilizar, distribuir ou qualquer outra coisa sem sua <strong>AUTORIZAÇÃO</strong>.</p>'
            }
          ]
        },
        {
          title: "Impressoras e Insumos",
          questions: [
            {
              title: "Quais tipos de impressoras vocês usam?",
              body:
                "<p>Nosso maquinário é composto por Impressoras a base de tinta (não são jato de tinta), se tratam de equipamentos industriais de grande porte, para atender a grandes demandas em tempo e qualidade superiores. A diferença é que a impressão não borra como as jato de tinta convencionais e a qualidade é bem superior cuidando bem de áreas \"chapadas\" de tinta em imagens, capa ou qualquer que seja o trabalho desejado. </p><p>Somos um serviço de impressão rápida por isso temos que usar máquinas de boa qualidade e porte para conseguirmos operar e entregar um serviço que atenda todos os mais variados gostos.</p>"
            },
            {
              title: "A qualidade da impressão é boa?",
              body:
                "<p>Sim, e caso não esteja é porque erramos e temos que refazer. Não admitimos entrega de pedidos que não estejam na qualidade máxima que o arquivo permita e que atenda sua necessidade. </p><p>Trabalhamos para alcançar alta qualidade na resolução e fidelidade de cores. </p><p>O arquivo em PDF precisa estar com imagens e cores na qualidade ideal também, não adianta colocar imagens ruins e acreditar que a impressora fará \"milagre\", isso não existe. Mas se as imagens e cores do PDF estiverem boas, temos a obrigação de entregar o trabalho em alta qualidade, pode nos cobrar SEMPRE!</p>"
            },
            {
              title: "Qual a marca de papel? Ele é bom?",
              body:
                "<p>Só trabalhamos com marcas de papel de alta qualidade e renome no mercado. Tem que ser assim, caso contrário não conseguiríamos entregar uma impressão de alta qualidade e estaríamos indo contra nossos ideais.</p>"
            },
            {
              title: "Papel couché ou fotográfico para imagens?",
              body:
                '<p>A DeliveryPrint não trabalha com papel couché. Temos como alternativa o papel matte, que lembra muito o couché fosco, e o Papel glossy que é um papel fotográfico de boa qualidade e resolução de imagem. Ele faz com que as impressões saiam com alto brilho e intensidade de cores. </p><p>Temos esses papéis em várias gramatura, iremos atender sua demanda com toda certeza.</p>'
            }
          ]
        }
      ]
    };
  }
};
</script>
