<template>
    <div class="freight-box-list">
        <div class="clearfix">
            <div class="freight-box" v-for="(freight, index) in freights" :key="index" :class="freightClass(index)">
                <div class="freight-box-header"></div>
                <div class="freight-box-body" @click="setFreightType(index)">
                    <div class="freight-box-upper">
                        <p class="freight-callendar"><i class="fa fa-calendar "></i> Prazo</p>
                        <p class="freight-until">até</p>
                        <p class="freight-date">{{ isDelivery ? freight.deliveryDate : freight.withdrawalDate }}</p>
                        <p>({{ isDelivery ? freight.deliveryTime : freight.withdrawalTime }})</p>
                    </div>
                    <div class="freight-box-bottom">
                        <p>R$ Total</p>
                        <p class="freight-value">{{(freight.value + curPriceNoFreight) | moneyFormatterWithZero}}</p>
                        <p>R$ {{(curPriceNoFreightNoFinishing) / totalPages | moneyFormatterWithZero}}/pág</p>
                    </div>
                </div>
            </div>
        </div>
        <p class="d-none d-sm-block text-orange">
            Este já é o valor <b>FINAL</b> de seu pedido. Nele já estão inclusos eventuais custos de entrega e/ou prioridade no prazo.
        </p>
    </div>
</template>

<script>
export default {
    name: 'FreightBoxList',
    props: {
        isDelivery: Boolean,
        freights: Array,
        curPriceNoFreight: Number,
        curPriceNoFreightNoFinishing: Number,
        totalPages: Number
    },
    data() {
        return {
            saturdayDeliveryId: 9,
            saturdayWithdrawalId: 5
        }
    },
    methods: {
        setFreightType: function(idx) {
            this.$emit('freight-clicked', idx);
        },
        freightClass: function(idx) {
            var isEconomic = false;
            if (this.isDelivery || !this.hasSaturday) {
                if (this.freights.length - 1 == idx) {
                    isEconomic = true;
                }
            } else {
                if (this.freights.length - 2 == idx) {
                    isEconomic = true;
                }
            }

            var isSaturday = false;
            if (this.isDelivery && this.freights[idx].id == this.saturdayDeliveryId) {
                isSaturday = true;
            } else if (!this.isDelivery && this.freights[idx].id == this.saturdayWithdrawalId) {
                isSaturday = true;
            }

            return {
                'ultra-fast': idx == 0,
                'economic': isEconomic,
                'saturday': isSaturday,
                'is-delivery': this.isDelivery
            };
        }
    },
    computed: {
        hasSaturday() {
            for (var i = 0; i < this.freights.length; i++) {
                if (this.freights[i].id == this.saturdayDeliveryId || this.freights[i].id == this.saturdayWithdrawalId) {
                    return true;
                }
            }
            return false;
        }
    }
}
</script>
