<template>
    <div id="exitModal" class="modal cart-exit-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button
                        type="button text-white"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                    >
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div
                    class="modal-body d-flex justify-content-center align-items-center flex-column"
                >
                    <p class="mx-2 mb-5 text-white">QUER RECEBER ATÉ 10% DE DESCONTO EXTRA?</p>
                    <form
                        id="discountModalForm"
                        class="discount-modal-form d-flex align-items-center"
                        v-on:submit.prevent="applyDiscount"
                        novalidate
                    >
                        <div class="w-100">
                            <div class="form-group mb-5">
                                <input
                                    type="email"
                                    class="form-control"
                                    placeholder="DIGITE SEU MELHOR E-MAIL..."
                                    v-model="email"
                                    required
                                >
                                <div
                                    class="invalid-feedback"
                                >Insira seu e-mail para liberar o desconto.</div>
                            </div>

                            <button
                                type="button"
                                class="btn btn-primary d-block m-auto"
                                @click="applyDiscount()"
                                v-if="!loading"
                            >QUERO RECEBER AGORA!</button>
                            <div class="discount-modal-loading" v-if="loading">
                                <i class="fa fa-spinner fa-pulse"></i>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { eventBus } from "../shopping-cart";

export default {
    name: "ModalSaidaCarrinho",
    data() {
        return {
            isLoading: false,
            email: ""
        };
    },
    methods: {
        applyDiscount: function() {
            var email = this.email;
            if (email !== "") {
                this.isLoading = true;

                $.post(
                    "/saveEmail",
                    {
                        email: email,
                        origin: "carrinho"
                    },
                    null,
                    "json"
                ).then(
                    response => {
                        var emailMktId = response.data.idEmail;

                        $.post(
                            "/applyOrderDiscount",
                            {
                                emailMktId: emailMktId
                            },
                            null,
                            "json"
                        ).then(
                            response => {
                                eventBus.$emit("discountApplied");
                                this.isLoading = false;
                                $("#exitModal").modal("hide");
                            },
                            err => {
                                PrettyAlerts.show({
                                    type: "danger",
                                    dismissable: true,
                                    message: err.responseJSON.message
                                });
                            }
                        );
                    },
                    err => {
                        this.loading = false;
                        $("#discountModalForm .invalid-feedback").html(
                            err.responseJSON.message
                        );
                        $("#discountModalForm").addClass("was-validated");
                        $("#emailDescontoFormGroup").addClass("is-invalid");
                    }
                );
            } else {
                $("#discountModalForm .invalid-feedback").html(
                    "Insira seu e-mail para liberar o desconto"
                );
                $("#discountModalForm").addClass("was-validated");
                $("#emailDescontoFormGroup").addClass("is-invalid");
            }
        }
    }
};
</script>
