<template>
  <div class="lista-itens">

    <div
      class="page-loader-single"
      v-if="loading"
    >
      <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
    </div>

    <div
      class="item-pedido bg-lightergrey"
      v-for="(item, itIdx) in items"
      :key="itIdx"
    >
      <div v-if="mode == 'payment'">
        <div
          class="dados-entrega p-3"
          v-if="item.delivery.tbEndereco_idEndereco"
        >
          <h3 class="text-orange">Dados da entrega</h3>
          <div class="text-orange">
            {{item.delivery.logradouro}}
            <br> {{item.delivery.bairro}}, {{item.delivery.cidade}} {{item.delivery.uf}} – Brasil.
          </div>
        </div>
        <div
          class="dados-entrega p-3"
          v-else
        >
          <h3 class="text-orange">Endereço de retirada</h3>
          <div class="text-orange">
            Rua Oscar Freire 2617, cj 410,
            <br> Pinheiros,
            <br> São Paulo SP - Brasil.
            <br> Próximo ao metrô Sumaré - Linha 2 Verde
            <span class="ml-3"> CEP 05409-012</span>
          </div>
        </div>
      </div>

      <div class="item-header p-3 clearfix">
        <div class="float-left">
          <h4 class="item-id d-sm-inline-block mr-4">Item #{{ item.pretty_id }}</h4>
          <div class="item-data d-sm-inline-block">{{ date | dateFormatter }}</div>
        </div>
        <div class="item-valor d-sm-none float-right">R$ {{item.preco | moneyFormatter}}</div>
        <button
          type="button"
          class="btn btn-default bg-lightergrey text-orange float-right p-0"
          v-on:click="removeItem(item)"
          v-if="mode == 'cart'"
        >
          <i class="fa fa-times-circle"></i> Excluir
        </button>
      </div>
      <div class="detalhes-item p-3">
        <div class="row">
          <div class="col-sm-6">
            <div class="row text-sm">
              <div class="col-6 col-sm-12">
                <div class="item-detalhe">
                  Cor:
                  <span class="detalhe-valor">{{ item.cor }}</span>
                </div>
                <div class="item-detalhe">
                  Lado:
                  <span class="detalhe-valor">{{ item.lado }}</span>
                </div>
                <div class="item-detalhe">
                  Papel:
                  <span class="detalhe-valor">{{ item.papel }}</span>
                </div>
              </div>
              <div class="col-6 col-sm-12">
                <div class="item-detalhe">
                  Acabamento:
                  <span class="detalhe-valor">{{ item.acabamento }}</span>
                </div>
                <div class="item-detalhe">
                  Páginas:
                  <span class="detalhe-valor">{{ countPages(itIdx) }}</span>
                </div>
                <div class="item-detalhe">
                  Obs:
                  <span class="detalhe-valor">{{ item.obsCliente }}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="item-valor text-right mb-5 d-none d-sm-block">R$ {{item.preco - (discount / items.length) | moneyFormatter}}</div>
            <div
              class="text-right"
              v-if="mode == 'cart'"
            >
              <button
                class="btn btn-b7-xs btn-b5 btn-orange-outlined border-0 text-left"
                @click="openModalWithId(item)"
              >INCLUIR ORIENTAÇÕES</button>
              <button
                class="btn btn-b7-xs btn-b5 btn-orange-outlined border-0 text-left"
                data-target="#files"
                data-toggle="collapse"
              >VER ANEXOS</button>
            </div>
          </div>
        </div>
        <div
          class="collapse pt-3"
          id="files"
        >
          <p class="file-item d-flex justify-content-start row ml-3">
            <a
              class="col-auto"
              v-for="(file, index) in item.files"
              :key="index"
              :href="file.downloadUrl"
              target="_blank"
            >
              <i class="fa fa-file-pdf-o fa-2x"></i>
              {{file.numPaginas}} Pág ({{file.qtdImpressoes}}x)
            </a>
          </p>
        </div>
      </div>
      <div class="bg-blue text-white px-3 py-1">
        <span class="previsao-entrega">Previsão de {{item.delivery.tbRetirada_idRetirada ? 'Retirada': 'Entrega'}}: {{item.delivery.forecast}}</span>
      </div>
    </div>
  </div>
</template>

<script>
import { eventBus } from "../shopping-cart";

export default {
  name: "OrderSummaryItemsList",
  props: {
    date: String,
    discount: Number,
    items: Array,
    loading: Boolean,
    mode: String
  },
  methods: {
    removeItem: function(item) {
      var idx = this.items.findIndex(i => i.id == item.id);

      $.post(
        "/removeShoppingCartItem",
        {
          id: item.id
        },
        null,
        "json"
      ).then(
        () => {
          this.items.splice(idx, 1);
        },
        () => {
          alert("Não foi possivel remover o item.");
        }
      );
    },
    countPages(index) {
      var totalPages = 0;
      this.items[index].files.forEach(f => {
        totalPages += parseInt(f.numPaginas) * parseInt(f.qtdImpressoes);
      });

      return totalPages;
    },
    openModalWithId: function(item) {
      $.post({
        url: "/getItemObservation",
        data: {
          id: item.id
        },
        dataType: "json",
        success: function(response) {
          if (response.data.observation) {
            var eventData = {
              itemId: item.id,
              comment: response.data.observation,
              isOrientationSaved: true,
              date: moment(response.data.date).format("DD/MM/YYYY - HH:mm")
            };
          } else {
            var eventData = {
              itemId: item.id,
              comment: "",
              isOrientationSaved: false,
              date: ""
            };
          }

          eventBus.$emit("openObsModal", eventData);
        },
        error: function() {}
      });
    }
  },
  created() {
    eventBus.$on("observationEdited", e => {
      this.items.find(i => i.id === e.id).obsCliente = e.comment;
    });
  }
};
</script>
