<template>
  <div class="order-summary mb-4">
    <div class="pedido-resumo mb-4">
      <div>
        <!-- display only on md and up -->
        <div class="row">
          <div class="col-md-6">
            <h3 class="text-orange">
              <i class="fa fa-shopping-cart"></i> Resumo do Carrinho
            </h3>
          </div>
          <div class="col-md-6 text-right d-none d-md-block">
            <a
              href="/impressao-online"
              class="btn btn-b6 btn-orange-outlined border-radius-lg"
            >
              <b>NOVO ITEM</b>
            </a>
          </div>
        </div>
      </div>

      <div
        class="resumo-destaque text-sm"
        :class="{ closed: !isResumoOpen }"
      >
        <!-- <div class="d-sm-none">
          <div
            class="resumo-destaque-close d-flex justify-content-center"
            @click="closeResumo"
          >
            <i class="fa bg-green text-white fa-angle-down"></i>
          </div>
        </div> -->
        <div class="p-4 bg-green d-none d-sm-block">
          <div class="row">
            <div class="col-3 text-white">
              <p class="font-weight-bold">Valor sem desconto:</p>
              <p class="font-weight-lighter">R$ {{totalNoDiscount | moneyFormatter}}</p>
            </div>
            <div class="col-5">
              <div class="desconto-aplicado bg-white text-success d-flex align-items-center">
                <i class="fa fa-percent text-hg"></i>
                <div>
                  <p>Desconto aplicado:</p>
                  <p>R$ {{totalDiscount | moneyFormatter}}</p>
                </div>
              </div>
            </div>
            <div class="col-4 text-white text-right">
              <div class="valor-a-pagar">
                <p class="text-lg">Valor a pagar:</p>
                <p class="text-hg">R$ {{vfinal | moneyFormatter}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="px-3 py-2 pt-3 bg-green text-white d-sm-none">
          <div class="row">
            <div class="col-6">
              <div class="valor-a-pagar">
                <p class="text-lg">Valor a pagar:</p>
                <p class="text-hg">R$ {{vfinal | moneyFormatter}}</p>
              </div>
            </div>
            <div class="col-6">
              <p class="font-weight-bold">Valor sem desconto:</p>
              <p>R$ {{totalNoDiscount | moneyFormatter}}</p>
              <p class="font-weight-bold">Desconto aplicado:</p>
              <p>R$ {{discount | moneyFormatter}}</p>
            </div>
          </div>
        </div>
        <div
          class="bg-blue text-white open-details-link"
          v-if="mode == 'payment'"
          @click="isDetailsOpen = !isDetailsOpen"
        >
          Abrir Detalhes
        </div>
        <div
          class="order-details"
          v-if="isDetailsOpen"
        >
          <order-summary-items-list
            :date="order.data"
            :discount="orderDiscount"
            :items="items"
            :loading="loading"
            :mode="mode"
          ></order-summary-items-list>
        </div>
      </div>
    </div>

    <div
      class="detalhes-pedido"
      v-if="mode == 'cart'"
    >
      <h3 class="text-orange">
        <i class="fa fa-shopping-basket"></i> Itens do Carrinho
      </h3>

      <order-summary-items-list
        :date="order.data"
        :discount="orderDiscount"
        :items="items"
        :loading="loading"
        :mode="mode"
      ></order-summary-items-list>

    </div>
  </div>
</template>

<script>
import OrderSummaryItemsList from "./OrderSummaryItemsList.vue";

export default {
  name: "OrderSummary",
  props: {
    order: Object,
    items: Array,
    loading: Boolean,
    mode: {
      type: String,
      default: "cart"
    }
  },
  components: {
    "order-summary-items-list": OrderSummaryItemsList
  },
  data() {
    return {
      isResumoOpen: false,
      isDetailsOpen: false
    };
  },
  methods: {
    closeResumo: function() {
      this.isResumoOpen = !this.isResumoOpen;
    },
    isNotNumber: function(evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (charCode >= 48 && charCode <= 57) {
        evt.preventDefault();
      } else {
        return true;
      }
    }
  },
  computed: {
    totalItems: function() {
      var result = 0;
      this.items.forEach(function(item) {
        result += parseFloat(item.preco);
      });
      console.log(this.items);
      return result;
    },
    itemsDiscount: function() {
      var result = 0;
      this.items.forEach(function(item) {
        result += parseFloat(item.descTotal);
      });
      return result;
    },
    orderDiscount: function() {
      var result = 0;
      if (this.order.discountValue !== null) {
        if (this.order.discountType === "PERCENT") {
          result = this.totalItems * (this.order.discountValue / 100);
        } else {
          if (this.order.discountValue > 7) {
            result = Math.min(this.totalItems * 0.5, this.order.discountValue);
          } else {
            result = parseFloat(this.order.discountValue);
          }
        }
      }
      return result;
    },
    totalDiscount: function() {
      return this.itemsDiscount + this.orderDiscount;
    },
    totalNoDiscount: function() {
      return this.totalItems + this.itemsDiscount;
    },
    vfinal: function() {
      return this.totalItems - this.orderDiscount;
    },
    hasDelivery() {
      if (this.endereco) {
        return this.endereco.cep.length > 0;
      }
      return false;
    },
    hasWithdrawal() {
      var r = this.items.find(i => {
        return i.delivery.tbRetirada_idRetirada > 0;
      });
      return r !== undefined;
    }
  }
};
</script>
