<template>
    <div class="shopping-cart-address-form">
        <div v-if="hasDelivery">
            <h3 class="text-orange">
                <i class="fa fa-map"></i> Endereço de Entrega
            </h3>

            <div class="endereco-div text-orange font-weight-bold text-sm">
                <div v-if="!incompleteAddr">
                    <p>{{endereco.logradouro}}</p>
                    <p>
                        {{endereco.bairro}}, {{endereco.cidade}} {{endereco.uf}} - Brasil
                        <span
                            class="cep"
                        >CEP: {{endereco.cep}}</span>
                    </p>
                </div>
                <div v-else>
                    <p>{{endereco.cidade}} - {{endereco.cep}}</p>
                </div>
            </div>

            <div class="formulario-entrega">
                <div class="row" v-if="incompleteAddr">
                    <div class="col-sm-6">
                        <label class="text-orange">
                            Rua
                            <br>
                            <input
                                class="form-control ipts-comp"
                                type="text"
                                name
                                v-model="endereco.logradouro"
                                placeholder="Insira rua"
                                v-if="incompleteAddr"
                            >
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="text-orange">
                            Bairro
                            <br>
                            <input
                                class="form-control ipts-comp"
                                type="text"
                                name
                                v-model="endereco.bairro"
                                placeholder="Insira bairro"
                                v-if="incompleteAddr"
                            >
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label class="text-orange">
                            Número
                            <br>
                            <input
                                class="form-control ipts-comp"
                                type="text"
                                name
                                v-model="endereco.numero"
                                placeholder="Insira número"
                            >
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="text-orange">
                            Complemento
                            <br>
                            <input
                                class="form-control ipts-comp"
                                type="text"
                                name
                                v-model="endereco.complemento"
                                placeholder="Insira complemento"
                            >
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label class="text-orange">
                            Entregar para quem
                            <br>
                            <input
                                class="form-control ipts-comp"
                                type="text"
                                name
                                v-model="cliente.nomeCliente"
                                @keypress="isNotNumber"
                                placeholder="Insira nome"
                            >
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="text-orange">
                            Telefone de Contato
                            <br>
                            <input
                                class="form-control ipts-comp"
                                type="text"
                                name
                                v-mask="['(##) ####-####', '(##) #####-####']"
                                v-model="cliente.telCliente"
                                placeholder="(DD) 9XXXX-XXXX"
                            >
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="hasWithdrawal">
            <h3 class="text-orange">
                <i class="fa fa-map"></i>Endereço de Retirada
            </h3>

            <div class="text-white text-xs bg-blue mx-sm-0 p-2 mb-4">
                Rua Oscar Freire 2617, cj 410,
                <br>Pinheiros, CEP 05409-012
                <br>São Paulo SP - Brasil.
                <br>
                <span class="font-weight-bold">Próximo ao metrô Sumaré - Linha 2 Verde</span>
            </div>
            <div class="div-ipts-complemento">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="text-orange">
                            Entregar para quem
                            <br>
                            <input
                                class="form-control ipts-comp"
                                type="text"
                                name
                                v-model="cliente.nomeCliente"
                                @keypress="isNotNumber"
                                placeholder="Insira nome"
                            >
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="text-orange">
                            Telefone de Contato
                            <br>
                            <input
                                class="form-control ipts-comp"
                                type="text"
                                name
                                v-mask="['(##) ####-####', '(##) #####-####']"
                                v-model="cliente.telCliente"
                                placeholder="(DD) 9XXXX-XXXX"
                            >
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ShoppingCartAddressForm",
    props: {
        endereco: Object,
        cliente: Object,
        incompleteAddr: Boolean,
        hasDelivery: Boolean,
        hasWithdrawal: Boolean
    },
    methods: {
        isNotNumber: function(evt) {
            evt = evt ? evt : window.event;
            var charCode = evt.which ? evt.which : evt.keyCode;
            if (charCode >= 48 && charCode <= 57) {
                evt.preventDefault();
            } else {
                return true;
            }
        }
    }
};
</script>
