.err_404,
.err_403{
    font-size: 144px;
}
.not_found,
.not_permitted{
    font-size: 64px;
}

@include media-breakpoint-down(sm){
    .err_404,
    .err_403{
        font-size: 74px;
    }
    .not_found,
    .not_permitted{
        font-size: 36px;
    }
}
