.alert {
    .close {
        top: 0 !important;
        right: 0 !important;
    }
}

.alert-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10001;
    pointer-events: none;
    padding-top: 20px;
    -webkit-transform: translateZ(0);
}

.alert {
    font-size: 16px;
    line-height: 17px;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;

    padding: 16px 10px;
    border-radius: 6px;
    max-width: 50%;
    pointer-events: auto;

    .close{
        font-size: $font-size-sm;
        opacity: 1;
        position: relative;
        top: 20px;
        right: -20px;
        color: $brand-white;
    }
    .fa{
        margin-right: 10px;
        line-height: 1;
    }
    p{
        margin-left: 30px;
    }
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 30px;
}

.alert-brand{
    @include alert-variant($brand-blue, $brand-blue, $brand-white);

    background-color: $brand-blue !important;
    max-width: 100%;

    .close{
        font-size: $font-size-sm;
        opacity: 1;
        position: relative;
        top: -10px;
        right: -20px
    }
    .fa{
        margin-right: 10px;
        line-height: 2.5;
    }
    p{
        margin-left: 30px;
    }
}
//popover

.popover{
    background: $brand-blue;
    color: white !important;
    font-size: 14px;
    z-index: 10;
    .close {
        color: white;
        font-size: 14px;
        opacity: 1;
        padding-left: 5px;
    }
    &-body{
        color: white;
    }
}
.bs-popover{
    &-bottom .arrow::after{
        border-bottom-color: $brand-blue;
    }
    &-left .arrow::after{
        border-left-color: $brand-blue;
    }
    &-right .arrow::after{
        border-right-color: $brand-blue;
    }
    &-top .arrow::after{
        border-top-color: $brand-blue;
    }
}



// Alertas coloridos
.alert-success {
  @include alert-variant(#9dcb7d, #9dcb7d, $brand-white);
}

.alert-info {
  @include alert-variant(#03ABD2, #03ABD2, $brand-white);
}

.alert-danger {
    @include alert-variant(#B22222, #B22222, $brand-white);
}

@include media-breakpoint-only(sm){
    .alert {
        font-size: 14px;
        line-height: 15px;
        margin-bottom: 5px;
        padding: 8px 10px;
        max-width: 75%;
    }
}

@include media-breakpoint-down(xs){
    .alert-container {
        padding-top: 15px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .alert {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 5px;
        padding: 10px 12px;
        max-width: 100%;
    }

    .alert-dismissable,
    .alert-dismissible {
      .close {
        position: relative;
        top: -11px !important;
        left: 5px;
        font-size: 28px;
        opacity: 1;
      }
    }
}

