.bg{
    &-blue{
        background-color: $brand-blue-lighter;
    }
    &-green{
        background-color: $brand-success;
    }
    &-greeny{
        background-color: $brand-greeny;
    }
    &-lightgrey{
        background-color: $grey-lighter;
    }
    &-lightergrey{
        background-color: $grey-xlighter;
    }
    &-orange{
        background-color: $brand-orange;
    }
    &-white{
        background-color: $brand-white;
    }
    &-yel{
        background-color: $brand-yel;
    }
    &-smooth {
        &-og {
            background-color: $brand-smooth-og;
        }
        &er-og {
            background-color: $brand-smoother-og;
        }
    }
}
