.border-radius{
    &-lg{
        border-radius: $border-radius-lg;
    }
    &-md{
        border-radius: $border-radius;
    }
    &-sm{
        border-radius: $border-radius-sm;
    }
}

.border{
    &-md{
        border-width: $border-width-md;
    }
    &-lg{
        border-width: $border-width-lg;
    }
    &-sm{
        border-width: $border-width-sm;
    }
    &-top{
        border-top-width: $border-width-md;
        &-lg{
            border-top-width: $border-width-lg;
        }
        &-sm{
            border-top-width: $border-width-sm;
        }
    }
    &-left{
        border-left-width: $border-width-md;
        &-lg{
            border-left-width: $border-width-lg;
        }
        &-sm{
            border-left-width: $border-width-sm;
        }
    }
    &-right{
        border-right-width: $border-width-md;
        &-lg{
            border-right-width: $border-width-lg;
        }
        &-sm{
            border-right-width: $border-width-sm;
        }
    }
    &-bottom{
        border-bottom-width: $border-width-md;
        &-lg{
            border-bottom-width: $border-width-lg;
        }
        &-sm{
            border-bottom-width: $border-width-sm;
        }
    }
    &-solid{
        border-style: solid;
    }
    &-dashed{
        border-style: dashed;
    }
}
