.breadcrumb {
    background-color: transparent;
}

.breadcrumb-item{
    color: $grey-dev !important;
    font-weight: lighter !important;
    a{
        color: $grey-dev;
        font-weight: bold;
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">>";
    font-weight: bold;
}
