@mixin button-adjust($background, $font-color, $border-color){
    @include button-variant($background, $font-color, $border-color);
    cursor: pointer;
    box-sizing: border-box;
    border-color: $border-color;
    color: $font-color !important;
    text-transform: uppercase;
    &:disabled{
        background-color: $grey-dev;
    }
    &:disabled:hover{
        background-color: currentColor;
    }
    &:hover{
        background-color: mix(white, $background, 20%);
        color: $font-color;
    }
    &:active{
        background-color: mix(black, $background, 20%);
    }
}
