button:disabled{
    cursor: not-allowed;
}

.btn:hover {
    text-decoration: none;
}
.btn:active {
    text-decoration: none;
}

.btn {
    &:focus {
        outline: none;
        box-shadow: none;
    }
    font-family: 'Economica'; //313x60
    &-b1 {
        font-weight: bold;
        font-size: 24px;
        line-height: 42px;
        min-width: 313px;
        height: 60px;
    } //280x80
    &-b2 {
        font-weight: bold;
        font-size: 36px;
        line-height: 65px;
        min-width: 280px;
        height: 80px;
    } //220x50
    &-b3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 22px;
        min-width: 220px;
        height: 50px;
    } //170x50
    &-b4 {
        font-weight: bold;
        font-size: 18px;
        line-height: 17px;
        min-width: 170px;
        height: 50px;
    } //140x30
    &-b5 {
        font-size: 14px;
        line-height: 14px;
        min-width: 140px;
        height: 30px;
    } //120x30
    &-b6 {
        font-size: 18px;
        line-height: 17px;
        min-width: 120px;
        height: 30px;
    }
    &-b7 {
        font-size: 10px;
        line-height: 9px;
        min-width: 80px;
        height: 20px;
    }
    //220x44 404
    &-b8{
        font-size: 18px;
        line-height: 17px;
        min-width: 220px;
        height: 44px;
    }

    white-space: nowrap;
}

.btn-orange {
    @include button-adjust($brand-orange, $brand-white, $brand-white);
    &:hover {
        background-color: $brand-success !important;
    }
}

.btn-orange-outlined {
    @include button-adjust(transparent, $brand-orange, $brand-orange);
    &:disabled{
        background-color: transparent;
        border-color: $grey-dev;
    }
}
.btn-white {
    @include button-adjust($brand-white, $brand-orange, $brand-orange);
    &:disabled{
        background-color: $grey-dev;
        border-color: $grey-dev;
        color: $brand-white !important;

         &:hover {
            color: $brand-white !important;
            background-color: $grey-dev;
         }
    }
}

.btn-grey-outlined {
    @include button-adjust(transparent, $grey-dev, $grey-dev);
    &:disabled{
        background-color: transparent !important;
        border-color: $grey-dev !important;
    }
}

.btn-grey {
    @include button-adjust($grey-dev, $brand-white, $brand-white);
    &:disabled{
        background-color: $grey-dev !important;
        border-color: currentColor !important;
    }
}

.btn-blue-outlined {
    @include button-adjust(transparent, $brand-blue, $brand-blue);
}

.btn-blue {
    @include button-adjust($brand-blue, $brand-white, $brand-white);
    &:disabled{
        background-color: $grey-dev !important;
        border-color: currentColor !important;
    }
}

.btn-red {
    @include button-adjust($brand-red-lighter, $brand-white, $brand-white);
}

.btn-red-outlined {
    @include button-adjust(transparent, $brand-red-lighter, $brand-red-lighter);
}

.btn-success {
    @include button-adjust($brand-success, $brand-white, $brand-white);
}

.btn-success-outlined {
    @include button-adjust(transparent, $brand-success, $brand-success);
}
@include media-breakpoint-down(xs) {

    .btn {
        &-b1-xs {
            font-weight: normal !important;
            font-size: 14px !important;
            line-height: 14px !important;
            min-width: 140px !important;
            height: 30px !important;
        }
        &-b2-xs {
            font-weight: bold !important;
            font-size: 36px !important;
            line-height: 65px !important;
            min-width: 280px !important;
            height: 80px !important;
        } //220x50
        &-b3-xs {
            font-weight: bold !important;
            font-size: 24px !important;
            line-height: 22px !important;
            min-width: 220px !important;
            height: 50px !important;
        }
        //170x50
        &-b4-xs {
            font-weight: bold !important;
            font-size: 18px !important;
            line-height: 17px !important;
            min-width: 170px !important;
            height: 50px !important;
        } //140x30
        &-b5-xs {
            font-weight: normal !important;
            font-size: 14px !important;
            line-height: 14px !important;
            min-width: 140px !important;
            height: 30px !important;
        } //120x30
        &-b6-xs {
            font-weight: normal !important;
            font-size: 18px !important;
            line-height: 17px !important;
            min-width: 120px !important;
            height: 30px !important;
        } //80x20
        &-b7-xs {
            font-weight: normal !important;
            font-size: 10px !important;
            line-height: 9px !important;
            min-width: 80px !important;
            height: 20px !important;
        }
    }
    .btn-alpha{
        @include button-adjust(rgba(255, 255, 255, 0.2), $brand-white, $brand-white);
    }
}

.btn-big {
    width: 180px;
    height: 180px;
    font-size: 18px;
    line-height: 22px;
    font-family: Lato;

    color: $brand-orange;

    .fa {
        font-size: 72px;
    }

    background: #F9F9F9;

    &:hover {
        background: #F9F9F9;
    }

    &:disabled {
        color: #A8A8A8
    }
}


@include media-breakpoint-down(sm) {
    .btn-big {
        width: 140px;
        height: 140px;
        font-size: 14px;
        line-height: 17px;

        .fa {
            font-size: 60px;
        }
    }
}


.toolbar-big-buttons {
    .btn-group {
        .btn-big {
            margin-right: 22px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .toolbar-big-buttons {
        margin-top: 40px;
        text-align: center;
        .btn-group {
            .btn-big {
                margin-right: 10px;
            }
        }
    }

    .toolbar-new-order {
        margin-top: 88px;
        margin-bottom: 61px;
    }
}
