.card {
    border: none ;
}
.card-title {
    color: $brand-orange;
}
.card .list-group .list-group-item {
    width: auto;
    height: auto;
    border: none ;
    background-color: #f3f3f3;
}
.card .list-group .preco {
    width: auto;
    height: auto;
    color: #ffffff;
    border: none ;
    background-color: #9dcb7d;
    font-size: 18px;
    font-family: Lato;
    font-weight: bold;
}
.card .list-group .prazo {
    width: auto;
    height: auto;
    color: #ffffff;
    border: none ;
    background-color: #67a4ff;
    font-size: 18px;
    font-family: Lato;
    font-weight: bold;
}
.card-header {
    padding: 0.5rem 1.2rem ;
    background-color: #fff ;
    border: none ;
    border-bottom: 1px solid #a8a8a8 ;
}
.card-header-resumo {
    padding: 0.5rem 1.2rem ;
    background-color: #f3f3f3 ;
    border: none ;
}
.card .card-header .btn {
    font-family: Lato;
    font-size: 24px;
    color: #a8a8a8;
    font-weight: bold;
}
.card-header-ativo {
    font-family: Lato;
    font-size: 24px;
    color: $brand-orange ;
    font-weight: bold;
}
.card-text {
    font-family: Lato;
    font-size: 14px;
    color: #a8a8a8;
}
.card-body {
    width: 200px;
    padding: 0px ;
    margin-bottom: 10px;
    margin-top: 10px;
    /*filter: grayscale(80%) brightness(100%);*/
}
.card .card-header[aria-expanded="true"] .btn {
    color: $brand-orange ;
}
.card-body:hover .card-text {
    color: $brand-orange ;
}
.card .ativo .btn {
    color: $brand-orange ;
}
/*MEDIA SCREEN ICONES MOBILE*/
@media screen and (max-width: 900px) {
    .card-body {
        width: 150px ;
        margin-left: 15px;
    }
    .card-img-top {
        width: 100px ;
    }
    .card-text {
        font-size: 10px ;
    }
    .card .card-header .btn {
        font-size: 18px ;
    }
}
