$navbar-height: 60px;
$sidebar-width: 230px;

.navbar-brand,
.main-sidebar {
    width: $sidebar-width;
}

.navbar-brand,
.main-sidebar,
.navbar-toggler {
    -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: $navbar-height;
    min-height: 100%;
    z-index: 810;
}

.sidebar-collapse {
    .navbar-brand,
    .main-sidebar,
    .navbar-toggler {
        -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0);
    }
}

// .sidebar-collapse .main-sidebar {
//     width: 0;
// }

.sidebar {
    padding-bottom: 10px;

    .nav-link {
        font-weight: 500;

        .fa {
            width: 20px;
        }
    }
}

/*
* Content
*/

.content-wrapper {
  -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  margin-left: 230px;
  z-index: 820;
  padding: 1rem;
  padding-top: $navbar-height;
}

.sidebar-collapse .content-wrapper {
    margin-left: 0;
}
