//modified-----------
.kv-file-upload {
    display: none ;
}
.file-preview .fileinput-remove {
    top: 100% !important;
    right: -1px !important;
    line-height: 10px;
    background: $brand-red-lighter;
    width: 103px;
    height: 30px;
    color: white;
    opacity: 1;
    border-radius: 0 0 3px 3px;
    span{
        display: none;
    }
}
.file-preview .fileinput-remove::after{
    font-family: Economica;
    font-size: 14px;
    line-height: 13px;
    text-shadow: none;
    content: "LIMPAR TUDO";
}
.file-preview .fileinput-remove::before{
    font-family: FontAwesome;
    font-size: 18px;
    content: "\f057";
}
.file-preview {
    border-color: $grey-dev;
    border-radius: 0 !important;
    margin-bottom: 35px !important;
}
.file-drop-zone {
    border: none !important;
    border-radius: 0 !important;
}
.btn-file{
    min-width: 220px !important;
}
//-------------------
