.ft-title {
    font-family: Lato;
    font-size: 24px;
    color: $brand-orange;
    font-weight: bold;
    width: 110%;
}

.ft-sub-title {
    font-family: Lato;
    font-size: 14px;
    color: $brand-orange;
    margin-left: 0px;
}

.ft-texto {
    font-family: Lato;
    font-size: 14px;
    color: #a8a8a8;
    margin-left: 0px;
}

.ft-social {
    margin-right: 40%;
    margin-top: 3px;
}

.ft-info {
    width: 500px;
    font-family: Lato;
    color: $brand-orange;
    margin-bottom: 90px;
}

.social {
    margin-top: 10px;
    word-spacing: 8px;
}

.endereco {
    margin-top: 10px;
}

.ft-row {
    width: 100%;
    background-color: #f3f3f3;
}

.ambiente {
    margin-top: 10px;
    margin-right: 40%;
}

.contato,
.pagamento {
    background-color: #f3f3f3;
    padding: 10px;
}

.iugu {
    width: 72px;
    height: 44px;
}

footer {
    margin-top: 100px;
    background-color: #f3f3f3;
    padding: 40px;
}

/**Modal de termos de uso */

#modalTermos {
    .modal-dialog {
        max-width: 70%;
    }
    .modal-body {
        padding-left: 40px;
        padding-right: 40px;
        p {
            text-align: left;
            margin-bottom: 10px;
        }
        .h4 {
            margin-top: 20px;
            text-align: left;
        }
    }
}

.ipts-control {
    label {
        font-size: 18px;
        i {
            font-size: 24px;
            margin-right: 10px;
        }
    }
}

.bandeiras {
    position: relative;
    top: -5px;
    transform: scale(1.06);
}

/*MEDIA SCREEN MOBILE*/

@media screen and (max-width: 640px) {
    body {
        overflow-x: hidden;
    }
    footer {
        margin-top: 20px !important;
        background-color: initial !important;
        padding: 0 !important;
        >.row {
            margin: 0;
        }
        .hidden-xs {
            display: none !important;
        }
        .contato {
            background-color: initial;
            max-width: 100vw !important;
            margin-left: 0 !important;
            flex: initial !important;
            .ft-info {
                padding: 15px 0;
                width: 100%;
                .pedido {
                    width: 50%;
                    padding-left: 15px;
                }
                .ft-social {
                    width: 50%;
                    text-align: right;
                    margin-right: 0;
                    p {
                        display: inline-block;
                        margin-right: 6px;
                        vertical-align: super;
                    }
                    a {
                        float: none;
                    }
                }
            }
        }
    }
}
