@mixin setBoxColor($header-color, $box-color, $box-font-color) {
    .freight-box-header {
        background-color: $header-color;
    }
    .freight-box-body {
        color: $box-font-color;
        background-color: $box-color;
        border-color: $header-color;
    }

    &:hover {
        .freight-box-header {
            background-color: #9DCB7D;
        }
    }
}

.freight-box {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }

    .freight-box-header {
        height: 20.02px;
        width: 78.69px;
        margin: auto;
        color: $brand-white;
        border-radius: 4px;
        font-size: 12px;
        line-height: 20.02px;
        text-align: center;
        font-style: italic;
        font-weight: bold;
    }

    .freight-box-body {
        cursor: pointer;
        width: 126px;
        text-align: center;
        color: $grey-dev;
        border-style: solid;
        border-width: 2px;
        border-radius: 6px;
        border-color: rgb(221,221,221);
        background-color: $grey-xlighter;

        .freight-box-upper {
            font-size: 12px;
            padding: 5px;
            font-weight: bold;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;

            .freight-callendar {
                font-size: 14px;
                margin-bottom: 2px;
            }

            .freight-until {
                display: none;
                font-size: 14px;
            }

            .freight-date {
                font-size: 24px;
                line-height: 24px;
                margin-bottom: 5px;
            }
        }

        .freight-box-bottom {
            font-size: 14px;
            padding: 5px;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            background-color: #F3F3F3;

            .freight-value {
                font-size: 24px;
                font-weight: bold;
            }
        }
    }

    &.is-delivery {
        .freight-box-body {
            .freight-box-upper {
                .freight-until {
                    display: block;
                }

                .freight-date {
                    line-height: 24px;
                }
            }
        }
    }

    &.ultra-fast {
        @include setBoxColor(#FDB713, rgba(253, 183, 19, 0.05), #A8A8A8);

        .freight-box-header:before {
            content: 'Mais rápido';
        }
    }

    &.economic {
        @include setBoxColor(#67A4FF, rgba(103, 164, 255, 0.05), #A8A8A8);

        .freight-box-header:before {
            content: 'Econômico';
        }
    }

    &.saturday {
        @include setBoxColor($brand-bright-cyan, rgba(103, 164, 255, 0.05), #A8A8A8);

        .freight-box-header:before {
            content: 'Sábado';
        }
    }

    &:hover{
        .freight-box-body {
            color: #9DCB7D;
            background-color: rgba(157, 203, 125, 0.1);
            border-color: transparent;

            .freight-box-bottom {
                color: white;
                background-color: rgba(157, 203, 125, 0.8);
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .freight-box {
        margin-bottom: 15px;

        .freight-box-header {
            width: 110px;
            height: 32px;
            font-size: 14px;
            line-height: 32px;
        }

        .freight-box-body {
            width: 188px;

            .freight-box-upper {
                padding: 15px;

                .freight-date {
                    font-size: 36px;
                    line-height: 36px;
                }
            }

            .freight-box-bottom {
                padding: 15px;

                .freight-value {
                    font-size: 36px;
                }
            }
        }

        &.is-delivery {
            .freight-box-body {
                .freight-box-upper {
                    .freight-date {
                        line-height: 36px;
                    }
                }
            }
        }
    }
}
