.navbar-toggler {
    color: $brand-orange !important;
    border: none !important;
    font-size: 28px;
    padding: 0;
}

.navbar {
    .dropdown-item i {
        width: 30px;
    }

    .whatsapp-chat-btn,
    .cart-btn {
        font-size: 14px;
        display: inline-block;

        .fa{
            font-size: 2.5em;
        }
    }

    .whatsapp-chat-btn {
        margin-right: 15px;
        color: $brand-green-whatsapp;
    }

    .cart-btn {
        position: relative;

        #cartInfo {
            position: absolute;
            top: -11px;
            right: -15px;
        }
    }

    .navbar-nav .nav-item a {
        font-family: 'Economica', sans-serif !important;
        text-transform: uppercase;
        color: $brand-orange !important;
        font-weight: bold;
        font-size: 20px;
    }
}

.navbar-brand {
    width: auto;
}

@include media-breakpoint-down(md) {
    .navbar {
        height: 62px;

        .whatsapp-chat-btn,
        .cart-btn {
            font-size: 12px;
        }

        ul, li, a {
            float: none !important;
        }
    }
    .navbar-brand {
        margin: 0;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1032;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;

    &.active {
        width: 250px;
    }

    ul, li, a {
        float: none !important;
    }

    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    p {
        font-size: 1rem;
        padding-left: 1rem;
        margin-bottom: 0.5rem;
    }

    hr {
        background-color: $brand-orange;
        height: 0;
        width: 100%;
        float: none;
        margin-right: 0;
        display: block;
    }

    #btn-acessar-m {
        margin-top: 1rem;
        margin-left: 1rem;
    }
}

.sidenav-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: none;
    background-color: rgba(0,0,0,0.5);
    z-index: 1031;
    display: none;

    &.active {
        display: block;
    }
}

// .pageMain {
//     margin-top: 82px;
// }

// @include media-breakpoint-down(md) {
//     .pageMain {
//         margin-top: 62px;
//     }
// }
