.clip {
    &.chevron {
        -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

    }
    &.b{
        @include media-breakpoint-down(sm) {
            -webkit-clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0, 50% 20%);
            clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0, 50% 20%);
            >i{
                margin-top: 120px;
            }
        }
    }
    &.hex {
        -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }
    &.star {
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }
    &.point-r {
        -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }
}

#how_it_works {
    overflow: hidden;
    .mk {
        height: 500px !important;
        position: absolute !important;
    }
    >.row {
        position: relative;
        overflow: hidden;
    }

    z-index: 2;
    &.center {
        padding: 3em 0 4.8em 0;
        &.col-3,
        &.col-sm-3,
        &.col-md-3,
        &.col-lg-3,
        &.col-xl-3 {
            margin-left: -12.5%;
        }
        &.col-2,
        &.col-sm-2,
        &.col-md-2,
        &.col-lg-2,
        &.col-xl-2 {
            margin-left: -8%;
        }
    }

    .col- {
        &6 {
            position: relative;
            padding: 3em 0 3em 0;
        }

    }
    .offset-half{
        margin-left: 4.15%;
    }
    @include media-breakpoint-up(lg) {
        // margin: 0 -80px 0 -80px;
        #pos_left {
            left: 20%;
        }
        p.center {
            max-width: get-vw(300px);
        }
        .mk {
            height: 500px ;
        }
    }
    @include media-breakpoint-down(lg){

        .bg-orange{
            height: 300px;
        }
        // .bg-smooth-og{
        //     height: 400px;
        // }
        .bg-smoother-og{
            height: 300px;
        }
        >.row{
            margin: 0;
        }
        p{
            font-size: 14px;
        }
    }
    @include media-breakpoint-down(sm) {
        .clip{
            height: 400px;
        }
        p{
            font-size: 18px;
        }
    }
}

.solicitation-fix{
    .h4 {
        font-size: 23px !important;
    }
}
