#btn-hiw-primary {
    line-height: 38px;
    z-index: 9999999;

    &:hover{
        background-color: #9DCB7D;
        border-color: #9DCB7D;
    }

    &:active,
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    }

    &:hover:active,
    &:hover:focus {
        box-shadow: 0 0 0 0.2rem rgba(157, 203, 125, 0.5);
    }
}
