* .form-control {
    border: none;
    border-bottom: 1px solid $grey-dev;
    color: $grey-dev;
    border-radius: 0;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    padding-left: 0;
    display: initial;
    background-color: transparent;
    &:focus {
        box-shadow: none;
        border-color: $brand-orange;
        color: $brand-orange;
    }
}

textarea.form-control {
    border: 1px solid $grey-dev;
    resize: none;
}

select.form-control {
    color: $grey-std;
    option {
        color: $grey-dark;
        &:disabled {
            color: $grey-std;
        }
    }
    &:valid {
        color: $brand-orange;
    }
}

.form-horizontal {
    label {
        width: 100%;
    }
}

.input {
    &-success {
        border-color: $brand-success;
        color: $brand-success;
    }
    &-error {
        border-color: $brand-red;
        color: $brand-red;
    }
    &-warning {
        border-color: $brand-orange;
        color: $brand-orange;
    }
    &-disabled {
        border-color: $grey-dev;
        color: $grey-dev;
        background-color: transparent;
    }
    &-focus {
        border-color: $brand-orange;
        color: $brand-orange;
    }
    &:focus {
        border-collapse: $brand-orange;
        color: $brand-orange;
        outline: none;
    }
    .input-frete::-webkit-input-placeholder {
        color: $grey-dev;
    }
    .input-frete::-moz-placeholder {
        color: $grey-dev;
    }
}

.form-control:focus::placeholder {
    color: transparent !important;
}

.custom-file {
    height: 75px;
    .custom-file-label {
        height: 50px;
        border-radius: 0;
        padding: 5px 8px;
        line-height: 35px;
        &::after {
            background-color: rgb(157, 203, 125);
            border-color: rgb(157, 203, 125);
            color: white;
            border-radius: 0 !important;
            content: "Adicionar Arquivo";
            font-size: 24px;
            font-family: 'Economica';
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            padding: 5px 15px;
            height: 100%;
            @include media-breakpoint-down(xs) {
                font-size: 18px;
                content: "+";
            }
        }
    }
}

.input-validator {
    position: relative;
    padding: 3 rem;
    background-color: $brand-orange;
    color: white;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    padding: 10px 5px;
    height: 25px;
    margin-bottom: -25px;
    font-size: 14px;
    z-index: 2;
    &::before{
        font-size: 18px;
        font-family: fontAwesome;
        content: "\f0d8";
        color: $brand-orange;
        position: absolute;
        top: -3px;
        left: 15px;
    }
    @include media-breakpoint-down(xs){
        display: none;
    }
}


input::-webkit-input-placeholder {
    color: $grey-dev !important;
}

input::-moz-placeholder {
    color: $grey-dev !important;
}

//number-input
.input-number {
    display: flex;
    flex-direction: row;
    input {
        padding-left: 8px !important;
        width: 85px;
        @include media-breakpoint-down(xs) {
            width: 55px !important;
        }
        background: transparent;
        color: $brand-orange;
        border: 1px solid $brand-orange;
        font-size: 18px;
        font-family: Lato;
        height: 30px;
        &::-moz-selection,
        &::selection {
            background-color: transparent;
            color: $brand-blue;
        }
    }
    .decrase-number,
    .incrase-number {
        margin-left: 0;
        height: 15px;
        width: 30px;
        cursor: pointer;
        .incrase-button {
            color: white;
            padding: 0 10px 0 5px;
            height: 30px;
            width: 30px;
            font-size: 20px;
            border-style: solid;
            border-width: 0;
            &::after {
                margin-left: 2px;
                margin-top: 1px;
            }
        }
        &:hover .incrase-button {
            border-color: $brand-orange;
        }
    }
    .incrase-number {
        order: 2;
        .incrase-button {
            margin-left: 4px;
            background: $brand-orange;
            &::after {
                content: "\f067";
                font-family: fontAwesome;
            }
        }
    }
    .decrase-number .incrase-button {
        order: 1;
        margin-left: 2px;
        border: 1px solid $brand-orange;
        &::after {
            content: "\f068";
            font-family: fontAwesome;
            color: $brand-orange;
        }
    }
}

//Radio and checkboxes Buttons
.checkbox-btn,
.radio-btn {
    display: inline-block;
    min-height: 20px;
    min-width: 20px;
    width: auto !important;
    padding: 2px 3px;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-right: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked~.checkmark::after {
            display: block;
            content: "";
        }
        &:checked .small {
            color: $brand-orange;
        }
    }
    input:checked~.flag {
        color: $brand-orange;
    }
    .checkmark {
        position: absolute;
        top: 50%;
        margin-top: -10px;
        left: 10px;
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: 1px solid $grey-dev;
    }
    &:hover input~.checkmark {
        background-color: #ccc;
    }
    &::after {
        content: "";
        position: absolute;
        display: none;
    }
}

.radio-btn {
    input {
        &:checked~.checkmark {
            @include checkmark-variant(transparent, $brand-orange);
        }
    }
    .checkmark {
        border-radius: 50%;
        &::after {
            top: 4px;
            left: 4px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $brand-orange;
            position: absolute;
        }
    }
}

//checkbox
.checkbox-btn {
    input {
        &:checked~.checkmark {
            @include checkmark-variant($brand-blue, transparent);
        }
    }
    .checkmark {
        border-radius: 5px;
        &::after {
            left: 7px;
            top: 3px;
            width: 5px;
            height: 10px;
            border: solid $brand-white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
        }
    }
}

//VARIANT CHECKMARKS
.checkbox-btn {
    &.check-success {
        input {
            &:checked~.checkmark {
                @include checkmark-variant($brand-success, $brand-success);
            }
            &:checked~.flag {
                color: $brand-success;
            }
        }
    }
    &.check-orange {
        input {
            &:checked~.checkmark {
                @include checkmark-variant($brand-orange, $brand-orange);
            }
        }
        &:checked~.flag {
            color: $brand-orange;
        }
    }
}

.radio-btn {
    &.check-success {
        input {
            &:checked~.checkmark {
                @include checkmark-variant(transparent, $brand-success);
            }
        }
    }
    &.check-orange {
        input {
            &:checked~.checkmark {
                @include checkmark-variant(transparent, $brand-orange);
            }
        }
    }
}
