.jivo-btn-container {
    .spinner {
        display: block;
    }
    .jivo-btn {
        width: 58px;
    }
    .jivo-btn-content {
        display: none;
    }
    &.loaded {
        .spinner {
            display: none;
        }
        .jivo-btn {
            width: 220px;
        }
        .jivo-btn-content {
            display: block;
        }
    }
}

.jivo-btn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    text-transform: none;
    cursor: pointer;
    background-image: none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 0px;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    position: fixed;
    top: 93%;
    right: 60px;

    -webkit-transition: width 0.2s ease-in-out; /* Safari */
    transition: width 0.2s ease-in-out;

    &-container {
        z-index: 9999;
        position: relative;
    }
}

.jivo-btn:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 20px 10px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 20px 10px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 20px 10px rgba(255, 255, 255, 0.3);
}

.jivo-btn.jivo-btn-light:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 20px 10px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 20px 10px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 20px 10px rgba(255, 255, 255, 0.1);
}

.jivo-btn.jivo-btn-light {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
}

.jivo-btn:active,
.jivo-btn.jivo-btn-light:active {
    box-shadow: 0 1px 0px rgba(255, 255, 255, 0.4), inset 0 0 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.4), inset 0 0 15px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.4), inset 0 0 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.jivo-btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.jivo-btn-gradient {
    background-image: url(//static.jivosite.com/button/white_grad_light.png);
    background-repeat: repeat-x;
}

.jivo-btn-light.jivo-btn-gradient {
    background-image: url(//static.jivosite.com/button/white_grad.png);
}

.jivo-btn-icon {
    width: 17px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -5px;
}

.jivo-btn-light {
    color: #fff;
}

.jivo-btn-dark {
    color: #222;
}

.__jivoMobileButton {
    display: none !important;
}

@include media-breakpoint-down(sm) {
    #jvlabelWrap {
        display: none !important;
    }

    #jcont_content_wrapper {
        display: none !important;
    }

    .jivo-btn-container {
        display: none !important;
    }


}
