.list-group-item {
    color: #a8a8a8;
    font-size: 14px;
    padding: 0px 0px 0px 20px ;
    background: transparent ;
}
.list-group-item input {
    border: none;
    color: $brand-orange;
    background-color: #f3f3f3;
    font-size: 14px;
    width: 100%;
}
.list-group-item #preco {
    font-family: Lato;
    font-weight: bold;
    font-size: 24px;
    border: none;
    color: #ffffff;
    background-color: #9dcb7d;
    font-size: 24px;
    width: 100%;
}
.list-group-item #prazo {
    font-family: Lato;
    font-weight: bold;
    border: none;
    color: #ffffff;
    background-color: #67a4ff;
    font-size: 16px;
    width: 30%;
}
