.loading-screen {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11000;
    background-color: $brand-orange;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity .5s linear;

    &.hide {
        opacity: 0;
    }
}
