@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Economica:400,700&subset=latin-ext");

p {
    margin-bottom: 0;
}

[v-cloak] {
    display: none;
}

a:active,
a:hover {
    outline: 0;
}

a {
    color: $brand-orange;
    &:hover{
        text-decoration: none;
    }
}

.cursor-pointer {
    cursor: pointer;
}
