.margin{
    margin: 25px;
    &-top{
        margin-top: 25px;
    }
    &-bottom{
        margin-bottom: 25px;
    }
    &-right{
        margin-right: 20px;
    }
    &-left{
        margin-left: 20px;
    }
    &-xxs{
        margin: 5px;
        &-left{
            margin-left: 5px;
        }
        &-right{
            margin-right: 5px;
        }
        &-top{
            margin-top: 5px;
        }
        &-bottom{
            margin-bottom: 5px;
        }
    }
    &-xs{
        margin: 10px;
        &-left{
            margin-left: 10px;
        }
        &-right{
            margin-right: 10px;
        }
        &-top{
            margin-top: 10px;
        }
        &-bottom{
            margin-bottom: 10px;
        }
    }
    &-sm{
        margin: 15px;
        &-left{
            margin-left: 15px;
        }
        &-right{
            margin-right: 15px;
        }
        &-top{
            margin-top: 15px;
        }
        &-bottom{
            margin-bottom: 15px;
        }
    }
    &-md{
        margin: 25px;
        &-left{
            margin-left: 25px;
        }
        &-right{
            margin-right: 25px;
        }
        &-top{
            margin-top: 25px;
        }
        &-bottom{
            margin-bottom: 25px;
        }
    }
    &-hg{
        margin: 60px;
        &-left{
            margin-left: 60px;
        }
        &-right{
            margin-right: 60px;
        }
        &-top{
            margin-top: 60px;
        }
        &-bottom{
            margin-bottom: 60px;
        }
    }
    &-1{
        margin: 10%;
        &-left{
            margin-left: 10%;
        }
        &-right{
            margin-right: 10%;
        }
        &-top{
            margin-top: 10%;
        }
        &-bottom{
            margin-bottom: 10%;
        }
    }
    &-2{
        margin: 20%;
        &-left{
            margin-left: 20%;
        }
        &-right{
            margin-right: 20%;
        }
        &-top{
            margin-top: 20%;
        }
        &-bottom{
            margin-bottom: 20%;
        }
    }
    &-3{
        margin: 30%;
        &-left{
            margin-left: 30%;
        }
        &-right{
            margin-right: 30%;
        }
        &-top{
            margin-top: 30%;
        }
        &-bottom{
            margin-bottom: 30%;
        }
    }
}
