#modalAcesso {
    .titulo-modal-acesso {
        color: $brand-orange;
        font-family: Economica;
        font-weight: bold;
        font-size: 24px;
        margin-top: -35px;
    }

    .btn-link{
        font-size: 12px;
    }
    .btn-link{
        color: $brand-orange;
        float: left;
    }
    .btn-link:hover{
        color: $brand-orange;
        text-decoration: none;
    }

    .tenho{
        display: inline-block;
    }
    .text-acesso{
        color: #A8A8A8;
        font-size: 12px;
    }
}
