@import "vw-calculator.scss";
@import "variables.scss";

.modal-content {
    width: 100%;
    margin: 20px auto;
}

.modal-backdrop {
    background-color: $brand-orange;
    &.show {
        opacity: 0.6;
    }
}

.modal{
    border: none;
    &-header{
        border: none;
        padding-bottom: get-vh(35px);
        .close{
            font-size: 60px;
            color: $grey-dev;
            line-height: 30px;
            z-index: 10;
        }
    }
    &-content{
        border-radius: $border-radius-sm;
        border: none;
    }
    .form-control{
        width: 289px;
    }
    &-body{
        text-align: center;
        padding-bottom: 40px;
        .form{
            text-align: left;
            .btn-b3{
                margin-top: 45px;
            }
        }
        .row-title{
            margin-bottom: 45px;
        }
        .btn-b3{
            margin-top: 45px;
        }
        .control-label{
            text-align: left;
        }
    }
    &-footer{
        border: none;
    }

    &.text-area-modal {
        .modal-dialog {
            max-width: 31%;
            .modal-header, .modal-body {
                padding-right: get-vw(30px);
                padding-left: get-vw(30px);
            }

            .modal-content {
                height: 400px;
                margin-bottom: 0;
            }

            .modal-body {
                height: 307px;
                padding-bottom: 0;
                .form-control {
                    max-width: 100%;
                    width: 100%;
                    height: 200px;
                    padding: get-vh(10px) get-vw(22px);
                    font-size: 18px;
                    line-height: 22px;
                    font-family: 'Lato';

                    textarea::placeholder {
                        color: $grey-dev;
                    }

                    .btn-b3 {
                        //margin-top: get-vh(25px);
                        margin-bottom: 0;
                        margin-top: 10%;
                    }
                }
                .observation-text{
                    text-align: left;
                    color: $grey-dev;
                    margin-bottom: get-vh(5px);
                    height: 202px;
                }
            }
        }
    }
}

@include media-breakpoint-down(xs){
    #modalAcesso{
        padding: 0;
        .form-control{
            width: 237px
        }
        &-content{
            width: 85%;
            margin: 0 auto;
        }
    }
    .modal-content{
        min-width: 270px;
        form{
            input{
                padding-left: 7px !important;
            }
        }
    }
}

