.order-summary {
    h3 {
        margin-bottom: 20px;
    }

    .desconto-aplicado {
        i {
            margin-right: 14px;
            margin-left: 14px;
            line-height: 60px
        }
    }

    .item-id {
        color: $brand-orange;
        font-size: 16px;
        margin-bottom: 0;
    }

    .item-data {
        color: $grey-dev;
        font-size: 10px;
    }

    .item-valor {
        color: $brand-orange;
        font-size: 16px;
        padding: 2px;
        margin-left: 25px;
    }

    .item-detalhe {
        color: $grey-dev;
        font-size: 10px;
    }

    .detalhe-valor {
        color: $brand-orange;
        font-size: 10px;
    }

    .previsao-entrega {
        font-size: 14px;
        font-weight: bold;
    }

    .open-details-link {
        cursor: pointer;
        padding: 3px 25px;
    }

    .order-details {
        border: 2px solid rgb(103, 164, 255);
    }
}

@include media-breakpoint-up(sm) {
    .order-summary {
        .resumo-destaque {
            position: initial;
        }

        .item-id {
            font-size: 24px;
        }

        .item-data {
            font-size: 14px;
        }

        .item-valor {
            font-size: 24px;
            font-weight: bold;
            padding: 0;
            margin-left: 0;
        }

        .item-detalhe {
            font-size: 14px;
        }

        .detalhe-valor {
            font-size: 14px;
        }

        .previsao-entrega {
            font-size: 18px;
        }
    }
}

.valor-a-pagar {
    // Desenhar a linha do lado esquerdo do Valor a Pagar
    @include media-breakpoint-up(sm) {
        border-left: 1px solid #fff;
    }

    @include media-breakpoint-up(md) {
        margin-left: 25px;
    }

    @include media-breakpoint-up(lg) {
        margin-left: 0;
        border-left: none;
    }

    @include media-breakpoint-up(xl) {
        margin-left: 5px;
        border-left:  1px solid #fff;
    }
}
