.questions-section {
    text-transform: uppercase;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: $brand-blue-bright;

    .btn-orange {
        border: none;
    }
}

@media (max-width: 641px) {
    .questions-section {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 15px;
        padding-left: 15px;

        .btn-orange {
            font-size: 24px;
            line-height: 36px;
            min-width: 220px;
            height: 50px;
            float: none;
        }
    }
}
