.shopping-cart-address-form {
    h3 {
        margin-bottom: 20px;
    }

    .cep {
        margin-left: 25px;
    }

    label {
        font-size: 18px;
        width: 100%;
        margin-bottom: 30px;
    }

    .endereco-div {
        margin-bottom: 30px;
    }
}

@include media-breakpoint-up(sm) {
    .shopping-cart-address-form {
        .cep {
            margin-left: 45px;
        }
    }
}
