p,
label,
span,
div {
    font-family: 'Lato', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Economica', sans-serif !important;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

h1,
.h1 {
    font-size: $font-hg;
}

h2,
.h2 {
    font-size: $font-lg;
}

h3,
.h3 {
    font-size: $font-md;
}

h4,
.h4 {
    font-size: $font-sm;
}

h5,
.h5 {
    font-size: $font-xs;
}

h6,
.h6 {
    font-size: $font-xxs;
}

.color {
    color: white;
}

//text sizes
.text {
    &-hg {
        font-size: $font-md;
    }
    &-lg {
        font-size: $font-sm;
    }
    &-md {
        font-size: $font-base;
    }
    &-sm {
        font-size: $font-xs;
    }
    &-xs {
        font-size: $font-xxs;
    }
}

//text fonts
.default {
    &-title {
        font-family: 'Economica', sans-serif !important;
    }
    &-text {
        font-family: 'Lato', sans-serif !important;
    }
}

//text colors
.text,
a.text {
    &-orange {
        color: $brand-orange !important;
    }
    &-grey {
        color: $grey-dev !important;
    }
    &-darkgrey{
        color: #6c6c6c !important;
    }
    &-blue {
        color: $brand-blue !important;
    }
    &-success {
        color: $brand-success !important;
    }
    &-green-whatsapp {
        color: $brand-green-whatsapp
    }
    &-white {
        color: $brand-white !important;
    }
    &-yellow{
        color: $brand-yellow !important;
    }
    &-red {
        color: $brand-red !important;
    }
}

@include media-breakpoint-down(xs) {
    p,
    .p {
        font-size: $font-xxs;
    }
    .urd{
        font-size: 8px !important;
    }
    h1,
    .h1 {
        font-size: $font-lg;
    }
    h2,
    .h2 {
        font-size: $font-md;
    }
    h3,
    .h3 {
        font-size: $font-sm;
    }
    h4,
    .h4 {
        font-size: $font-xs;
    }
    h5,
    .h5 {
        font-size: $font-xxs;
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      .f#{$infix}-#{12}       { font-size: $font-size-base * 0.75 !important; }
      .f#{$infix}-#{14}       { font-size: $font-size-base * 0.875 !important; }
      .f#{$infix}-#{16}       { font-size: $font-size-base !important; }
      .f#{$infix}-#{18}       { font-size: $font-size-base * 1.125 !important; }
      .f#{$infix}-#{20}       { font-size: $font-size-base * 1.25 !important; }
      .f#{$infix}-#{24}       { font-size: $font-size-base * 1.5 !important; }
      .f#{$infix}-#{28}       { font-size: $font-size-base * 1.75 !important; }
      .f#{$infix}-#{32}       { font-size: $font-size-base * 2 !important; }
      .f#{$infix}-#{36}       { font-size: $font-size-base * 2.25 !important; }
      .f#{$infix}-#{40}       { font-size: $font-size-base * 2.5 !important; }
    }
}
