// border-radius

$border-radius:                 3px !important;
$border-radius-lg:              6px !important;
$border-radius-sm:              0px !important;

//border widths

$border-width-md:               2px !default;
$border-width-lg:               3px !default;
$border-width-sm:               1px !default;

//colors pallette

$brand-red:                     #d42121                 !default;
$brand-red-lighter:             #ff7d60                 !default;
$brand-orange:                  #fc4a1a                 !default;
$brand-blue:                    #67A4FF                 !default;
$brand-blue-lighter:            rgb(103, 164, 255)      !default;
$brand-blue-strong:             #4B78BA;
$brand-blue-bright:             #007bff;
$brand-white:                   rgb(255, 255, 255)      !default;
$brand-success:                 rgb(157, 203, 125)      !default;
$brand-green-strong:            #9DCB7D;
$brand-green-whatsapp:          #25d366;
$brand-yel:                     rgba(253, 183, 19, 0.3) !default;
$brand-yellow:                  #FDB713                 !default;
$brand-greeny:                  #e2f0d8                 !default;
$brand-smooth-og:               #FF5A2B                 !default;
$brand-smoother-og:             #FF6F4A                 !default;
$brand-bright-cyan:             #02AE99                 !default;

//grey

$grey-base:                     hsl(0, 0%, 0%);
$grey-darker:                   lighten($grey-base, 10%);
$grey-dark:                     lighten($grey-base, 30%);
$grey-std:                      lighten($grey-base, 50%);
$grey-dev:                      #a8a8a8;
$grey-light:                    lighten($grey-base, 70%);
$grey-lighter:                  #f3f3f3;
$grey-xlighter:                 #f9f9f9 !default;

// font-sizes

$font-xxs:                 12px !default;
$font-xs:                  14px !default;
$font-base:                16px !default;
$font-sm:                  18px !default;
$font-md:                  24px !default;
$font-lg:                  36px !default;
$font-hg:                  72px !default;


// Tamanhos do .container do bootstrap
$container-max-width-sm: 540px;
$container-max-width-md: 720px;
$container-max-width-lg: 960px;
$container-max-width-xl: 1760px;
