@function get-vw($target) {
  $vw-context: (1920 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}

@function get-vh($target) {
  $vw-context: (1080 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vh;
}

@function get-vw-mobile($target) {
  $vw-context: (320 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}

@function get-vh-mobile($target) {
  $vw-context: (568 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vh;
}
