.whatsapp-support{
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: $brand-green-whatsapp;
	color:#FFF;
	border-radius: 50px;
	text-align: center;
    font-size: 30px;
	box-shadow: 2px 2px 3px #999;
    z-index: 999;
    display: block;
}

.whatsapp-icon-top{
	margin-top:16px;
}

@include media-breakpoint-down(sm) {
    .whatsapp-support {
        display: none !important;
    }
}

