.frete-retirada {
    .form-check-label {
        margin-left: 20px;
        color: #a8a8a8;

        &.active {
            color: #fc4a1a;
        }
    }
}

.lblCep {
    margin-top: 15px;
    margin-bottom: 10px;
}

.data-retirada {
    margin-top: 20px;
}

.input-frete {
    max-width: 90px;
    text-align: right;
}

.shipping-calc {
    margin-top: 20px;
}

.loader {
    border: 2px solid #fc4a1a;
    border-radius: 50%;
    display: none;
    border-top: 2px solid #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-left: 5px;
    margin-top: 2px;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spr {
    background: #fc4a1a;
    color: #fff;
    font-family: Lato;
    font-weight: bold;
    font-size: 14px;
    border: none;
}

.ecn {
    background: #9dcb7d;
    color: #fff;
    font-family: Lato;
    font-weight: bold;
    font-size: 14px;
    border: none;
}

.corpo {
    font-family: Lato;
    font-size: 14px;
    color: #a8a8a8;
    text-align: center;
}

.file-info-modal {
    .label {
        width: 250px;
    }
    .informacoes_file span {
        border: 1px solid gray;
        width: 100px;
    }
}
.fileinput-remove-button{
    display: none;
}

.btn:hover {
    text-decoration: none;
}

.btn:active {
    text-decoration: none;
}

.fixo {
    position: fixed;
    z-index: 99;
    width: 255px;
    top: 20px;
}
.fileinput-upload {
    display: none;
}

.file-preview {
    padding: 6px;
    min-height: 310px;
}

.file-drop-zone {
    margin: 5px;
}

.endereco-cli {
    border: none !important;
    color: #a8a8a8;
    float: left;
    font-size: 12px;
    position: absolute;
    width: 100% !important;
    display: none;
}

.anexoModalLabel {
    color: #fc4a1a;
}
#btno {
    background-color: #fc4a1a;
    width: 190px;
    border: none;
}

.cupom {
    font-family: Lato;
    font-size: 18px;
    color: #a8a8a8;
    // margin-left: 75px;
}
#cupom {
    border: none;
    border-bottom: 1px solid #a8a8a8;
    // margin-left: 75px;
    width: 115px;
}
.btn-aplicar {
    width: 60px;
    height: 20px;
    font-family: Economica;
    font-weight: bold;
    font-size: 12px;
    color: #a8a8a8;
    background: #fff;
    border: 1px solid #a8a8a8;
    float: right;
    border-radius: 5px;
    margin-top: 7px;
}

.selected-iitem {
    color: #fc4a1a;
}

.resumo-lateral {
    .list-group-item {
        padding: 10px 0 !important;
    }
}

.card-header-resumo {
    &.green {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        background-color: #9dcb7d !important;
    }

    &.blue {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        background-color: #67a4ff !important;
    }
    &.transparent {
        padding: 10px 0 0 0 !important;
        background-color: transparent !important;
    }
}

#submit2 {
    margin-top: 20px;
}


